* {
  box-sizing: border-box;
}

html { height: 100%; }

@media (width > 1600px) {
  html {
    font-size: 1vw;
  }
}

body {
  height: 100%;
  font-family: system-ui;
  line-height: 1.5;
  margin: 0;
  color: var(--black);
  background-color: var(--white);
}

nav, main, section, footer {
  display: block;
}

main {
  word-wrap: break-word;
}

img {
  max-width: 100%;
  height: auto;
  box-sizing: content-box;
  width: 100%;
  padding: 1em;
  border-radius: var(--border-radius);
  border: var(--border-width) solid var(--gray);
  margin: var(--spacing-1) 0;
}

svg {
  max-height: 100%;
}

a {
  color: var(--blue);
  text-decoration: none;
}

a:hover {
  box-shadow: 0 .1em 0 0 currentColor;
  text-decoration: none;
}

h1, h2, h3,
h4, h5, h6 {
  font-weight: bold;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: .5em;
}

h1 { font-size: var(--font-size-1); }
h2 { font-size: var(--font-size-2); }
h3 { font-size: var(--font-size-3); }

@media (--breakpoint-mobile) {
  h1 { font-size: var(--font-size-2); }
  h2 { font-size: var(--font-size-3); }
  h3 { font-size: var(--font-size-4); }
}

p, ol, ul, blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

code,
pre {
  font-family:
    'Roboto Mono',
    'Source Code Pro',
    Menlo,
    Consolas,
    'Liberation Mono',
    monospace;
  font-size: inherit;
}

blockquote {
  margin: 0 var(--spacing-1);
  padding: 0 var(--spacing-2);
  border-left: calc(var(--border-width) * 2) solid var(--black);
  font-size: 1rem;
  font-style: italic;
}

blockquote p {
  font-size: 1rem;
}

cite:before {
  content: '\2014 \00A0';
  color: var(--gray)
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--gray);
}
