blockquote {
  margin: 0 var(--space-1);
  padding: 0 var(--space-2);
  border-left: var(--border-width) solid var(--border-color);
}

blockquote, blockquote p {
  font-size: 1rem;
}

cite:before {
  content: '\2014 \00A0';
}

img {
  border-radius: var(--border-radius);
  margin: var(--space-1) 0;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

main {
  display: block;
}
