blockquote {
    border-left: var(--border-width) solid var(--border-color);
}

blockquote, blockquote p {
    font-size: 1rem;
}

cite:before {
    content: '\2014 \00A0';
}

img {
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--border-radius);
    margin: var(--space-1) 0;
    padding: var(--space-1);
}

dt {
    font-weight: bold;
}

dd {
    margin-left: 0;
}

main {
  display: block;
}
