body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

@media (--breakpoint-desktop) {
  body {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr max-content;
  }

  .nav {
    grid-row: span 2;
  }
}
