:root {
  --black: hsl(0, 0%, 12.5%);
  --dark-gray: hsl(0, 0%, 45%);
  --gray: hsl(0, 0%, 65%);
  --light-gray: hsl(0, 0%, 97.5%);
  --white: hsl(0, 0%, 100%);

  --red: hsl(350, 60%, 60%);
  --orange: hsl(30, 70%, 60%);
  --green: hsl(140, 50%, 60%);
  --blue: hsl(200, 70%, 60%);
  --purple: hsl(310, 60%, 60%);
}

.background-black {
  background-color: var(--black);
}

.background-dark-gray {
  background-color: var(--dark-gray);
}

.background-gray {
  background-color: var(--gray);
}

.background-light-gray {
  background-color: var(--light-gray);
}

.background-white {
  background-color: var(--white);
}

.background-red {
  background-color: var(--red);
}

.background-orange {
  background-color: var(--orange);
}

.background-green {
  background-color: var(--green);
}

.background-blue {
  background-color: var(--blue);
}

.background-purple {
  background-color: var(--purple);
}

.black {
  color: var(--black);
}

.dark-gray {
  color: var(--dark-gray);
}

.gray {
  color: var(--gray);
}

.light-gray {
  color: var(--light-gray);
}

.white {
  color: var(--white);
}

.red {
  color: var(--red);
}

.orange {
  color: var(--orange);
}

.green {
  color: var(--green);
}

.blue {
  color: var(--blue);
}

.purple {
  color: var(--purple);
}
