:root {
  --border-radius: 0.125em;
  --border-width: 0.125em;
  --heading-1: 2rem;
  --heading-2: 1.5rem;
  --heading-3: 1.25rem;
  --heading-4: 1.125rem;
  --heading-5: 1rem;
  --heading-6: 0.875rem;
}

.small { font-size: var(--heading-6); }
.bold { font-weight: bold; }
.max-width-40rem { max-width: 40rem; }
.min-height-100vh { min-height: 100vh; }
.overflow-scroll { overflow: scroll; }

@media (--breakpoint-desktop) {
  .desktop-font-size-3vw { font-size: 3vw; }
}
