
.full-view-height {
  min-height: 100vh;
}

.icon {
  width: 1em; /* 1 */
  height: 1em;
  vertical-align: -0.1em; /* 2 */
  fill: currentcolor;
}

.btn {
  text-decoration: none;
  border: none;
  appearance: none;
  box-shadow: none;
}

.btn:hover {
  text-decoration: none;
  box-shadow: none;
  outline: none;
}

.btn.is-disabled {
  cursor: default;
}

.field {
  font-family: inherit;
  font-size: inherit;
  display: block;
  width: 100%;
  height: 2.5rem;
  padding: .5rem;
  border: 1px solid var(--gray);
  border-radius: var(--border-radius);
}

.field:focus {
  box-shadow: 0 0 0 2px var(--gray);
}

@media (--breakpoint-sm) {
  .sm-fixed {
    position: fixed;
  }

  .sm-h3 {
    font-size: var(--h3);
  }

  .sm-flex-row {
    flex-direction: row;
  }

  .sm-flex-column {
    flex-direction: column;
  }

  .sm-my2 {
    margin-top: var(--space-2);
    margin-bottom: var(--space-2);
  }

  .sm-mx2 {
    margin-right: var(--space-2);
    margin-left: var(--space-2);
  }

  .sm-m2 {
    margin-top: var(--space-2);
    margin-bottom: var(--space-2);
    margin-right: var(--space-2);
    margin-left: var(--space-2);
  }
}

@media (--breakpoint-md) {
  .md-h2 {
    font-size: var(--h2);
  }
}

@media (--breakpoint-lg) {
  .lg-h1 {
    font-size: var(--h1);
  }
}
