
@supports (display: grid) {
  @media (--breakpoint-desktop) {
    body {
      display: grid !important;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: 1fr max-content;
    }

    body > nav {
      grid-row: span 2;
    }

    body > nav span:first-child {
      font-size: 1.5em;
    }

    body > nav > div {
      position: sticky;
      top: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100vh;
    }

    body > main {
      margin-right: var(--whitespace-4) !important;
      margin-left: var(--whitespace-4) !important;
    }
  }
}
