.nav {
  grid-row: span 2;
  background: var(--black);
  text-align: center;
  font-weight: bold;
}

.nav > div {
  padding: var(--spacing-2);
  align-items: center;
}

.nav a {
  margin: var(--spacing-1);
  color: var(--white);
}

@media (--breakpoint-desktop) {
  .nav > div {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
  }

  .nav a:nth-child(1) {
    font-size: var(--font-size-3);
  }
}

