pre code {
	color: var(--dark-gray);
}

/* Code blocks */
pre {
	overflow: auto;
	background-color: var(--light-gray);
  border-radius: var(--border-radius);
  padding: var(--spacing-2);
	line-height: 1.5;
	word-spacing: normal;
  word-break: normal;
  tab-size: 2;
  hyphens: none;
  white-space: pre-wrap;
  overflow-x: auto;
  font-size: inherit;
}

.token.comment {
	color: var(--gray);
}

.token.punctuation {
	color: var(--dark-gray);
}

.token.boolean,
.token.number,
.token.symbol {
	color: var(--yellow);
}

.token.function {
	color: var(--green);
}

.token.keyword {
	color: var(--blue);
}

.token.regex,
.token.string {
	color: var(--red);
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}
