@import 'basscss-base-reset';
@import 'basscss-base-forms';
@import 'basscss-base-buttons';
@import 'basscss-base-tables';
@import 'basscss-base-typography';
@import 'basscss-utility-layout';
@import 'basscss-utility-typography';
@import 'basscss-utility-white-space';
@import 'basscss-utility-responsive-states';
@import 'basscss-positions';
@import 'basscss-ui-utility-button-sizes';
@import 'basscss-grid';
@import 'flex-object';
@import 'basscss-color-base';
@import 'basscss-color-forms';
/*@import 'basscss-color-forms-dark';*/
/*@import 'basscss-input-range';*/
@import 'basscss-color-tables';
@import 'basscss-button-outline';
@import 'basscss-button-transparent';
@import 'basscss-background-images';
@import 'basscss-color-borders';
@import 'basscss-colors';
@import 'basscss-defaults';

@import "./basscss-adjustments.css";
@import "./responsive-utilities.css";
@import "./icons.css";
@import "./code.css";

:root {
    --container-width: 40em;
}
