@import 'basscss-basic';
@import 'basscss';
@import "colors.css/src/colors.css";
@import "highlight.js/styles/monokai-sublime.css";

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

blockquote {
  margin: 0 var(--space-1);
  padding: 0 var(--space-2);
  border-left: calc(var(--border-width) * 2) solid var(--silver);
}

blockquote, blockquote p {
  font-size: 1rem;
}

cite:before {
  content: '\2014 \00A0';
}

img {
  width: 100%;
  border-radius: var(--border-radius);
  border: var(--border-width) solid var(--silver);
  padding: var(--space-1);
  margin: var(--space-1) 0;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

pre {
  color: var(--silver);
  direction: ltr;
  text-align: left;
  word-spacing: normal;
  word-break: normal;
  tab-size: 4;
  hyphens: none;
  padding: var(--space-2);
  margin: var(--space-1) 0;
  white-space: pre-wrap;
  overflow-x: auto;
  font-size: inherit;
  font-family: 'Source Code Pro', Consolas, monospace;
}

code {
  background: #EEE;
}

pre, pre code {
  border-radius: var(--border-radius);
	background: var(--black);
}

main {
  display: block;
}

.full-view-height {
  min-height: 100vh;
}

.icon {
  width: 1em; /* 1 */
  height: 1em;
  vertical-align: -0.1em; /* 2 */
  fill: currentcolor;
}

.btn {
  text-decoration: none;
  border: none;
  appearance: none;
}

.btn:hover {
  text-decoration: none;
}

.btn:focus {
  opacity: .8;
}

.btn.is-disabled {
  cursor: default;
}

.btn.is-disabled:hover {
  opacity: 100%;
}

.field {
  font-family: inherit;
  font-size: inherit;
  display: block;
  width: 100%;
  height: 2.5rem;
  padding: .5rem;
  border: 1px solid var(--silver);
  border-radius: var(--border-radius);
}

.field:focus {
  box-shadow: 0 0 0 2px var(--gray);
}

@media (--breakpoint-sm) {
  .sm-fixed {
    @inherit: .fixed;
  }

  .sm-h3 {
    @inherit: .h3;
  }

  .sm-block {
    @inherit: .block;
  }
}

@media (--breakpoint-md) {
  .md-h2 {
    @inherit: .h2;
  }
}

@media (--breakpoint-lg) {
  .lg-h1 {
    @inherit: .h1;
  }
}
