@import 'basscss';

@import "./basscss-adjustments.css";
@import "./responsive-utilities.css";
@import "./icons.css";
@import "./code.css";

:root {
  --container-width: 40em;
  --form-field-padding-y: 1.5em;
}

.full-view-height {
  min-height: 100vh;
}
