*, *::before, *::after { box-sizing: inherit; }
.border-box { box-sizing: border-box; }
.content-box { box-sizing: content-box; }
.bold { font-weight: bold; }
.italic { font-style: italic; }
.underline { text-decoration: underline; }
.nowrap { white-space: nowrap; }
.pre { white-space: pre; }
.normal { white-space: normal; }
.list-style-none { list-style: none; }
.overflow-scroll { overflow: scroll; }
.overflow-hidden { overflow: hidden; }
.overflow-auto { overflow: auto; }
.overflow-x-scroll { overflow-x: scroll; }
.overflow-x-auto { overflow-x: auto; }
.overflow-y-scroll { overflow-y: scroll; }
.overflow-y-auto { overflow-y: auto; }
.overflow-visible { overflow: visible; }
.right { float: right; }
.left { float: left; }
.grid { display: grid; }
.flex { display: flex; }
.inline-flex { display: inline-flex; }
.flex-auto { flex: auto; }
.flex-initial { flex: initial; }
.flex-none { flex: none; }
.row { flex-direction: row; }
.row-reverse { flex-direction: row-reverse; }
.column { flex-direction: column; }
.column-reverse { flex-direction: column-reverse; }
.wrap { flex-wrap: wrap; }
.wrap-reverse { flex-wrap: wrap-reverse; }
.justify-around { justify-content: space-around; }
.justify-between { justify-content: space-between; }
.justify-evenly { justify-content: space-evenly; }
.justify-start { justify-content: flex-start; }
.justify-end { justify-content: flex-end; }
.justify-center { justify-content: center; }
.items-stretch { align-items: stretch; }
.items-start { align-items: flex-start; }
.items-end { align-items: flex-end; }
.items-center { align-items: center; }
.items-baseline { align-items: baseline; }
.content-around { align-content: space-around; }
.content-between { align-content: space-between; }
.content-start { align-content: flex-start; }
.content-end { align-content: flex-end; }
.content-center { align-content: center; }
.content-stretch { align-content: stretch; }
.self-stretch { align-self: stretch; }
.self-start { align-self: flex-start; }
.self-end { align-self: flex-end; }
.self-center { align-self: center; }
.self-baseline { align-self: baseline; }
.inline { display: inline; }
.inline-block { display: inline-block; }
.block { display: block; }
.none { display: none; }
.relative { position: relative; }
.absolute { position: absolute; }
.static { position: static; }
.fixed { position: fixed; }
.sticky { position: sticky; }
.top-0 { top: 0; }
.right-0 { right: 0; }
.bottom-0 { bottom: 0; }
.left-0 { left: 0; }
.align-center { text-align: center; }
.align-left { text-align: left; }
.align-right { text-align: right; }
.auto-flow-row { grid-auto-flow: row; }
.auto-flow-column { grid-auto-flow: column; }
.auto-flow-dense { grid-auto-flow: dense; }
.auto-flow-row-dense { grid-auto-flow: row dense; }
.auto-flow-column-dense { grid-auto-flow: column dense; }
.height-100vh { height: var(--height-100vh); }
.min-height-100vh { min-height: var(--height-100vh); }
.max-height-100vh { max-height: var(--height-100vh); }
.width-1 { width: var(--width-1); }
.min-width-1 { min-width: var(--width-1); }
.max-width-1 { max-width: var(--width-1); }
.width-2 { width: var(--width-2); }
.min-width-2 { min-width: var(--width-2); }
.max-width-2 { max-width: var(--width-2); }
.width-40em { width: var(--width-40em); }
.min-width-40em { min-width: var(--width-40em); }
.max-width-40em { max-width: var(--width-40em); }
.width-full { width: var(--width-full); }
.min-width-full { min-width: var(--width-full); }
.max-width-full { max-width: var(--width-full); }
.margin-1 {
  margin-top: var(--spacing-1);
  margin-right: var(--spacing-1);
  margin-bottom: var(--spacing-1);
  margin-left: var(--spacing-1);
}
.margin-x-1 {
  margin-right: var(--spacing-1);
  margin-left: var(--spacing-1);
}
.margin-y-1 {
  margin-top: var(--spacing-1);
  margin-bottom: var(--spacing-1);
}
.margin-top-1 { margin-top: var(--spacing-1); }
.margin-right-1 { margin-right: var(--spacing-1); }
.margin-bottom-1 { margin-bottom: var(--spacing-1); }
.margin-left-1 { margin-left: var(--spacing-1); }
.margin-2 {
  margin-top: var(--spacing-2);
  margin-right: var(--spacing-2);
  margin-bottom: var(--spacing-2);
  margin-left: var(--spacing-2);
}
.margin-x-2 {
  margin-right: var(--spacing-2);
  margin-left: var(--spacing-2);
}
.margin-y-2 {
  margin-top: var(--spacing-2);
  margin-bottom: var(--spacing-2);
}
.margin-top-2 { margin-top: var(--spacing-2); }
.margin-right-2 { margin-right: var(--spacing-2); }
.margin-bottom-2 { margin-bottom: var(--spacing-2); }
.margin-left-2 { margin-left: var(--spacing-2); }
.margin-3 {
  margin-top: var(--spacing-3);
  margin-right: var(--spacing-3);
  margin-bottom: var(--spacing-3);
  margin-left: var(--spacing-3);
}
.margin-x-3 {
  margin-right: var(--spacing-3);
  margin-left: var(--spacing-3);
}
.margin-y-3 {
  margin-top: var(--spacing-3);
  margin-bottom: var(--spacing-3);
}
.margin-top-3 { margin-top: var(--spacing-3); }
.margin-right-3 { margin-right: var(--spacing-3); }
.margin-bottom-3 { margin-bottom: var(--spacing-3); }
.margin-left-3 { margin-left: var(--spacing-3); }
.margin-4 {
  margin-top: var(--spacing-4);
  margin-right: var(--spacing-4);
  margin-bottom: var(--spacing-4);
  margin-left: var(--spacing-4);
}
.margin-x-4 {
  margin-right: var(--spacing-4);
  margin-left: var(--spacing-4);
}
.margin-y-4 {
  margin-top: var(--spacing-4);
  margin-bottom: var(--spacing-4);
}
.margin-top-4 { margin-top: var(--spacing-4); }
.margin-right-4 { margin-right: var(--spacing-4); }
.margin-bottom-4 { margin-bottom: var(--spacing-4); }
.margin-left-4 { margin-left: var(--spacing-4); }
.margin-auto {
  margin-top: var(--spacing-auto);
  margin-right: var(--spacing-auto);
  margin-bottom: var(--spacing-auto);
  margin-left: var(--spacing-auto);
}
.margin-x-auto {
  margin-right: var(--spacing-auto);
  margin-left: var(--spacing-auto);
}
.margin-y-auto {
  margin-top: var(--spacing-auto);
  margin-bottom: var(--spacing-auto);
}
.margin-top-auto { margin-top: var(--spacing-auto); }
.margin-right-auto { margin-right: var(--spacing-auto); }
.margin-bottom-auto { margin-bottom: var(--spacing-auto); }
.margin-left-auto { margin-left: var(--spacing-auto); }
.padding-1 {
  padding-top: var(--spacing-1);
  padding-right: var(--spacing-1);
  padding-bottom: var(--spacing-1);
  padding-left: var(--spacing-1);
}
.padding-x-1 {
  padding-right: var(--spacing-1);
  padding-left: var(--spacing-1);
}
.padding-y-1 {
  padding-top: var(--spacing-1);
  padding-bottom: var(--spacing-1);
}
.padding-top-1 { padding-top: var(--spacing-1); }
.padding-right-1 { padding-right: var(--spacing-1); }
.padding-bottom-1 { padding-bottom: var(--spacing-1); }
.padding-left-1 { padding-left: var(--spacing-1); }
.padding-2 {
  padding-top: var(--spacing-2);
  padding-right: var(--spacing-2);
  padding-bottom: var(--spacing-2);
  padding-left: var(--spacing-2);
}
.padding-x-2 {
  padding-right: var(--spacing-2);
  padding-left: var(--spacing-2);
}
.padding-y-2 {
  padding-top: var(--spacing-2);
  padding-bottom: var(--spacing-2);
}
.padding-top-2 { padding-top: var(--spacing-2); }
.padding-right-2 { padding-right: var(--spacing-2); }
.padding-bottom-2 { padding-bottom: var(--spacing-2); }
.padding-left-2 { padding-left: var(--spacing-2); }
.padding-3 {
  padding-top: var(--spacing-3);
  padding-right: var(--spacing-3);
  padding-bottom: var(--spacing-3);
  padding-left: var(--spacing-3);
}
.padding-x-3 {
  padding-right: var(--spacing-3);
  padding-left: var(--spacing-3);
}
.padding-y-3 {
  padding-top: var(--spacing-3);
  padding-bottom: var(--spacing-3);
}
.padding-top-3 { padding-top: var(--spacing-3); }
.padding-right-3 { padding-right: var(--spacing-3); }
.padding-bottom-3 { padding-bottom: var(--spacing-3); }
.padding-left-3 { padding-left: var(--spacing-3); }
.padding-4 {
  padding-top: var(--spacing-4);
  padding-right: var(--spacing-4);
  padding-bottom: var(--spacing-4);
  padding-left: var(--spacing-4);
}
.padding-x-4 {
  padding-right: var(--spacing-4);
  padding-left: var(--spacing-4);
}
.padding-y-4 {
  padding-top: var(--spacing-4);
  padding-bottom: var(--spacing-4);
}
.padding-top-4 { padding-top: var(--spacing-4); }
.padding-right-4 { padding-right: var(--spacing-4); }
.padding-bottom-4 { padding-bottom: var(--spacing-4); }
.padding-left-4 { padding-left: var(--spacing-4); }
.padding-auto {
  padding-top: var(--spacing-auto);
  padding-right: var(--spacing-auto);
  padding-bottom: var(--spacing-auto);
  padding-left: var(--spacing-auto);
}
.padding-x-auto {
  padding-right: var(--spacing-auto);
  padding-left: var(--spacing-auto);
}
.padding-y-auto {
  padding-top: var(--spacing-auto);
  padding-bottom: var(--spacing-auto);
}
.padding-top-auto { padding-top: var(--spacing-auto); }
.padding-right-auto { padding-right: var(--spacing-auto); }
.padding-bottom-auto { padding-bottom: var(--spacing-auto); }
.padding-left-auto { padding-left: var(--spacing-auto); }
.gap-1 { grid-gap: var(--spacing-1); }
.row-gap-1 { grid-row-gap: var(--spacing-1); }
.column-gap-1 { grid-column-gap: var(--spacing-1); }
.gap-2 { grid-gap: var(--spacing-2); }
.row-gap-2 { grid-row-gap: var(--spacing-2); }
.column-gap-2 { grid-column-gap: var(--spacing-2); }
.gap-3 { grid-gap: var(--spacing-3); }
.row-gap-3 { grid-row-gap: var(--spacing-3); }
.column-gap-3 { grid-column-gap: var(--spacing-3); }
.gap-4 { grid-gap: var(--spacing-4); }
.row-gap-4 { grid-row-gap: var(--spacing-4); }
.column-gap-4 { grid-column-gap: var(--spacing-4); }
.gap-auto { grid-gap: var(--spacing-auto); }
.row-gap-auto { grid-row-gap: var(--spacing-auto); }
.column-gap-auto { grid-column-gap: var(--spacing-auto); }
.font-size-1 { font-size: var(--font-size-1); }
.font-size-2 { font-size: var(--font-size-2); }
.font-size-3 { font-size: var(--font-size-3); }
.font-size-4 { font-size: var(--font-size-4); }
.font-size-5 { font-size: var(--font-size-5); }
.font-size-6 { font-size: var(--font-size-6); }
@media (--breakpoint-mobile) {
.mobile-grid { display: grid; }
.mobile-flex { display: flex; }
.mobile-inline-flex { display: inline-flex; }
.mobile-flex-auto { flex: auto; }
.mobile-flex-initial { flex: initial; }
.mobile-flex-none { flex: none; }
.mobile-row { flex-direction: row; }
.mobile-row-reverse { flex-direction: row-reverse; }
.mobile-column { flex-direction: column; }
.mobile-column-reverse { flex-direction: column-reverse; }
.mobile-wrap { flex-wrap: wrap; }
.mobile-wrap-reverse { flex-wrap: wrap-reverse; }
.mobile-justify-around { justify-content: space-around; }
.mobile-justify-between { justify-content: space-between; }
.mobile-justify-evenly { justify-content: space-evenly; }
.mobile-justify-start { justify-content: flex-start; }
.mobile-justify-end { justify-content: flex-end; }
.mobile-justify-center { justify-content: center; }
.mobile-items-stretch { align-items: stretch; }
.mobile-items-start { align-items: flex-start; }
.mobile-items-end { align-items: flex-end; }
.mobile-items-center { align-items: center; }
.mobile-items-baseline { align-items: baseline; }
.mobile-content-around { align-content: space-around; }
.mobile-content-between { align-content: space-between; }
.mobile-content-start { align-content: flex-start; }
.mobile-content-end { align-content: flex-end; }
.mobile-content-center { align-content: center; }
.mobile-content-stretch { align-content: stretch; }
.mobile-self-stretch { align-self: stretch; }
.mobile-self-start { align-self: flex-start; }
.mobile-self-end { align-self: flex-end; }
.mobile-self-center { align-self: center; }
.mobile-self-baseline { align-self: baseline; }
.mobile-inline { display: inline; }
.mobile-inline-block { display: inline-block; }
.mobile-block { display: block; }
.mobile-none { display: none; }
.mobile-relative { position: relative; }
.mobile-absolute { position: absolute; }
.mobile-static { position: static; }
.mobile-fixed { position: fixed; }
.mobile-sticky { position: sticky; }
.mobile-top-0 { top: 0; }
.mobile-right-0 { right: 0; }
.mobile-bottom-0 { bottom: 0; }
.mobile-left-0 { left: 0; }
.mobile-align-center { text-align: center; }
.mobile-align-left { text-align: left; }
.mobile-align-right { text-align: right; }
.mobile-auto-flow-row { grid-auto-flow: row; }
.mobile-auto-flow-column { grid-auto-flow: column; }
.mobile-auto-flow-dense { grid-auto-flow: dense; }
.mobile-auto-flow-row-dense { grid-auto-flow: row dense; }
.mobile-auto-flow-column-dense { grid-auto-flow: column dense; }
.mobile-height-100vh { height: var(--height-100vh); }
.mobile-min-height-100vh { min-height: var(--height-100vh); }
.mobile-max-height-100vh { max-height: var(--height-100vh); }
.mobile-width-1 { width: var(--width-1); }
.mobile-min-width-1 { min-width: var(--width-1); }
.mobile-max-width-1 { max-width: var(--width-1); }
.mobile-width-2 { width: var(--width-2); }
.mobile-min-width-2 { min-width: var(--width-2); }
.mobile-max-width-2 { max-width: var(--width-2); }
.mobile-width-40em { width: var(--width-40em); }
.mobile-min-width-40em { min-width: var(--width-40em); }
.mobile-max-width-40em { max-width: var(--width-40em); }
.mobile-width-full { width: var(--width-full); }
.mobile-min-width-full { min-width: var(--width-full); }
.mobile-max-width-full { max-width: var(--width-full); }
.mobile-margin-1 {
  margin-top: var(--spacing-1);
  margin-right: var(--spacing-1);
  margin-bottom: var(--spacing-1);
  margin-left: var(--spacing-1);
}
.mobile-margin-x-1 {
  margin-right: var(--spacing-1);
  margin-left: var(--spacing-1);
}
.mobile-margin-y-1 {
  margin-top: var(--spacing-1);
  margin-bottom: var(--spacing-1);
}
.mobile-margin-top-1 { margin-top: var(--spacing-1); }
.mobile-margin-right-1 { margin-right: var(--spacing-1); }
.mobile-margin-bottom-1 { margin-bottom: var(--spacing-1); }
.mobile-margin-left-1 { margin-left: var(--spacing-1); }
.mobile-margin-2 {
  margin-top: var(--spacing-2);
  margin-right: var(--spacing-2);
  margin-bottom: var(--spacing-2);
  margin-left: var(--spacing-2);
}
.mobile-margin-x-2 {
  margin-right: var(--spacing-2);
  margin-left: var(--spacing-2);
}
.mobile-margin-y-2 {
  margin-top: var(--spacing-2);
  margin-bottom: var(--spacing-2);
}
.mobile-margin-top-2 { margin-top: var(--spacing-2); }
.mobile-margin-right-2 { margin-right: var(--spacing-2); }
.mobile-margin-bottom-2 { margin-bottom: var(--spacing-2); }
.mobile-margin-left-2 { margin-left: var(--spacing-2); }
.mobile-margin-3 {
  margin-top: var(--spacing-3);
  margin-right: var(--spacing-3);
  margin-bottom: var(--spacing-3);
  margin-left: var(--spacing-3);
}
.mobile-margin-x-3 {
  margin-right: var(--spacing-3);
  margin-left: var(--spacing-3);
}
.mobile-margin-y-3 {
  margin-top: var(--spacing-3);
  margin-bottom: var(--spacing-3);
}
.mobile-margin-top-3 { margin-top: var(--spacing-3); }
.mobile-margin-right-3 { margin-right: var(--spacing-3); }
.mobile-margin-bottom-3 { margin-bottom: var(--spacing-3); }
.mobile-margin-left-3 { margin-left: var(--spacing-3); }
.mobile-margin-4 {
  margin-top: var(--spacing-4);
  margin-right: var(--spacing-4);
  margin-bottom: var(--spacing-4);
  margin-left: var(--spacing-4);
}
.mobile-margin-x-4 {
  margin-right: var(--spacing-4);
  margin-left: var(--spacing-4);
}
.mobile-margin-y-4 {
  margin-top: var(--spacing-4);
  margin-bottom: var(--spacing-4);
}
.mobile-margin-top-4 { margin-top: var(--spacing-4); }
.mobile-margin-right-4 { margin-right: var(--spacing-4); }
.mobile-margin-bottom-4 { margin-bottom: var(--spacing-4); }
.mobile-margin-left-4 { margin-left: var(--spacing-4); }
.mobile-margin-auto {
  margin-top: var(--spacing-auto);
  margin-right: var(--spacing-auto);
  margin-bottom: var(--spacing-auto);
  margin-left: var(--spacing-auto);
}
.mobile-margin-x-auto {
  margin-right: var(--spacing-auto);
  margin-left: var(--spacing-auto);
}
.mobile-margin-y-auto {
  margin-top: var(--spacing-auto);
  margin-bottom: var(--spacing-auto);
}
.mobile-margin-top-auto { margin-top: var(--spacing-auto); }
.mobile-margin-right-auto { margin-right: var(--spacing-auto); }
.mobile-margin-bottom-auto { margin-bottom: var(--spacing-auto); }
.mobile-margin-left-auto { margin-left: var(--spacing-auto); }
.mobile-padding-1 {
  padding-top: var(--spacing-1);
  padding-right: var(--spacing-1);
  padding-bottom: var(--spacing-1);
  padding-left: var(--spacing-1);
}
.mobile-padding-x-1 {
  padding-right: var(--spacing-1);
  padding-left: var(--spacing-1);
}
.mobile-padding-y-1 {
  padding-top: var(--spacing-1);
  padding-bottom: var(--spacing-1);
}
.mobile-padding-top-1 { padding-top: var(--spacing-1); }
.mobile-padding-right-1 { padding-right: var(--spacing-1); }
.mobile-padding-bottom-1 { padding-bottom: var(--spacing-1); }
.mobile-padding-left-1 { padding-left: var(--spacing-1); }
.mobile-padding-2 {
  padding-top: var(--spacing-2);
  padding-right: var(--spacing-2);
  padding-bottom: var(--spacing-2);
  padding-left: var(--spacing-2);
}
.mobile-padding-x-2 {
  padding-right: var(--spacing-2);
  padding-left: var(--spacing-2);
}
.mobile-padding-y-2 {
  padding-top: var(--spacing-2);
  padding-bottom: var(--spacing-2);
}
.mobile-padding-top-2 { padding-top: var(--spacing-2); }
.mobile-padding-right-2 { padding-right: var(--spacing-2); }
.mobile-padding-bottom-2 { padding-bottom: var(--spacing-2); }
.mobile-padding-left-2 { padding-left: var(--spacing-2); }
.mobile-padding-3 {
  padding-top: var(--spacing-3);
  padding-right: var(--spacing-3);
  padding-bottom: var(--spacing-3);
  padding-left: var(--spacing-3);
}
.mobile-padding-x-3 {
  padding-right: var(--spacing-3);
  padding-left: var(--spacing-3);
}
.mobile-padding-y-3 {
  padding-top: var(--spacing-3);
  padding-bottom: var(--spacing-3);
}
.mobile-padding-top-3 { padding-top: var(--spacing-3); }
.mobile-padding-right-3 { padding-right: var(--spacing-3); }
.mobile-padding-bottom-3 { padding-bottom: var(--spacing-3); }
.mobile-padding-left-3 { padding-left: var(--spacing-3); }
.mobile-padding-4 {
  padding-top: var(--spacing-4);
  padding-right: var(--spacing-4);
  padding-bottom: var(--spacing-4);
  padding-left: var(--spacing-4);
}
.mobile-padding-x-4 {
  padding-right: var(--spacing-4);
  padding-left: var(--spacing-4);
}
.mobile-padding-y-4 {
  padding-top: var(--spacing-4);
  padding-bottom: var(--spacing-4);
}
.mobile-padding-top-4 { padding-top: var(--spacing-4); }
.mobile-padding-right-4 { padding-right: var(--spacing-4); }
.mobile-padding-bottom-4 { padding-bottom: var(--spacing-4); }
.mobile-padding-left-4 { padding-left: var(--spacing-4); }
.mobile-padding-auto {
  padding-top: var(--spacing-auto);
  padding-right: var(--spacing-auto);
  padding-bottom: var(--spacing-auto);
  padding-left: var(--spacing-auto);
}
.mobile-padding-x-auto {
  padding-right: var(--spacing-auto);
  padding-left: var(--spacing-auto);
}
.mobile-padding-y-auto {
  padding-top: var(--spacing-auto);
  padding-bottom: var(--spacing-auto);
}
.mobile-padding-top-auto { padding-top: var(--spacing-auto); }
.mobile-padding-right-auto { padding-right: var(--spacing-auto); }
.mobile-padding-bottom-auto { padding-bottom: var(--spacing-auto); }
.mobile-padding-left-auto { padding-left: var(--spacing-auto); }
.mobile-gap-1 { grid-gap: var(--spacing-1); }
.mobile-row-gap-1 { grid-row-gap: var(--spacing-1); }
.mobile-column-gap-1 { grid-column-gap: var(--spacing-1); }
.mobile-gap-2 { grid-gap: var(--spacing-2); }
.mobile-row-gap-2 { grid-row-gap: var(--spacing-2); }
.mobile-column-gap-2 { grid-column-gap: var(--spacing-2); }
.mobile-gap-3 { grid-gap: var(--spacing-3); }
.mobile-row-gap-3 { grid-row-gap: var(--spacing-3); }
.mobile-column-gap-3 { grid-column-gap: var(--spacing-3); }
.mobile-gap-4 { grid-gap: var(--spacing-4); }
.mobile-row-gap-4 { grid-row-gap: var(--spacing-4); }
.mobile-column-gap-4 { grid-column-gap: var(--spacing-4); }
.mobile-gap-auto { grid-gap: var(--spacing-auto); }
.mobile-row-gap-auto { grid-row-gap: var(--spacing-auto); }
.mobile-column-gap-auto { grid-column-gap: var(--spacing-auto); }
.mobile-font-size-1 { font-size: var(--font-size-1); }
.mobile-font-size-2 { font-size: var(--font-size-2); }
.mobile-font-size-3 { font-size: var(--font-size-3); }
.mobile-font-size-4 { font-size: var(--font-size-4); }
.mobile-font-size-5 { font-size: var(--font-size-5); }
.mobile-font-size-6 { font-size: var(--font-size-6); }
}
@media (--breakpoint-desktop) {
.desktop-grid { display: grid; }
.desktop-flex { display: flex; }
.desktop-inline-flex { display: inline-flex; }
.desktop-flex-auto { flex: auto; }
.desktop-flex-initial { flex: initial; }
.desktop-flex-none { flex: none; }
.desktop-row { flex-direction: row; }
.desktop-row-reverse { flex-direction: row-reverse; }
.desktop-column { flex-direction: column; }
.desktop-column-reverse { flex-direction: column-reverse; }
.desktop-wrap { flex-wrap: wrap; }
.desktop-wrap-reverse { flex-wrap: wrap-reverse; }
.desktop-justify-around { justify-content: space-around; }
.desktop-justify-between { justify-content: space-between; }
.desktop-justify-evenly { justify-content: space-evenly; }
.desktop-justify-start { justify-content: flex-start; }
.desktop-justify-end { justify-content: flex-end; }
.desktop-justify-center { justify-content: center; }
.desktop-items-stretch { align-items: stretch; }
.desktop-items-start { align-items: flex-start; }
.desktop-items-end { align-items: flex-end; }
.desktop-items-center { align-items: center; }
.desktop-items-baseline { align-items: baseline; }
.desktop-content-around { align-content: space-around; }
.desktop-content-between { align-content: space-between; }
.desktop-content-start { align-content: flex-start; }
.desktop-content-end { align-content: flex-end; }
.desktop-content-center { align-content: center; }
.desktop-content-stretch { align-content: stretch; }
.desktop-self-stretch { align-self: stretch; }
.desktop-self-start { align-self: flex-start; }
.desktop-self-end { align-self: flex-end; }
.desktop-self-center { align-self: center; }
.desktop-self-baseline { align-self: baseline; }
.desktop-inline { display: inline; }
.desktop-inline-block { display: inline-block; }
.desktop-block { display: block; }
.desktop-none { display: none; }
.desktop-relative { position: relative; }
.desktop-absolute { position: absolute; }
.desktop-static { position: static; }
.desktop-fixed { position: fixed; }
.desktop-sticky { position: sticky; }
.desktop-top-0 { top: 0; }
.desktop-right-0 { right: 0; }
.desktop-bottom-0 { bottom: 0; }
.desktop-left-0 { left: 0; }
.desktop-align-center { text-align: center; }
.desktop-align-left { text-align: left; }
.desktop-align-right { text-align: right; }
.desktop-auto-flow-row { grid-auto-flow: row; }
.desktop-auto-flow-column { grid-auto-flow: column; }
.desktop-auto-flow-dense { grid-auto-flow: dense; }
.desktop-auto-flow-row-dense { grid-auto-flow: row dense; }
.desktop-auto-flow-column-dense { grid-auto-flow: column dense; }
.desktop-height-100vh { height: var(--height-100vh); }
.desktop-min-height-100vh { min-height: var(--height-100vh); }
.desktop-max-height-100vh { max-height: var(--height-100vh); }
.desktop-width-1 { width: var(--width-1); }
.desktop-min-width-1 { min-width: var(--width-1); }
.desktop-max-width-1 { max-width: var(--width-1); }
.desktop-width-2 { width: var(--width-2); }
.desktop-min-width-2 { min-width: var(--width-2); }
.desktop-max-width-2 { max-width: var(--width-2); }
.desktop-width-40em { width: var(--width-40em); }
.desktop-min-width-40em { min-width: var(--width-40em); }
.desktop-max-width-40em { max-width: var(--width-40em); }
.desktop-width-full { width: var(--width-full); }
.desktop-min-width-full { min-width: var(--width-full); }
.desktop-max-width-full { max-width: var(--width-full); }
.desktop-margin-1 {
  margin-top: var(--spacing-1);
  margin-right: var(--spacing-1);
  margin-bottom: var(--spacing-1);
  margin-left: var(--spacing-1);
}
.desktop-margin-x-1 {
  margin-right: var(--spacing-1);
  margin-left: var(--spacing-1);
}
.desktop-margin-y-1 {
  margin-top: var(--spacing-1);
  margin-bottom: var(--spacing-1);
}
.desktop-margin-top-1 { margin-top: var(--spacing-1); }
.desktop-margin-right-1 { margin-right: var(--spacing-1); }
.desktop-margin-bottom-1 { margin-bottom: var(--spacing-1); }
.desktop-margin-left-1 { margin-left: var(--spacing-1); }
.desktop-margin-2 {
  margin-top: var(--spacing-2);
  margin-right: var(--spacing-2);
  margin-bottom: var(--spacing-2);
  margin-left: var(--spacing-2);
}
.desktop-margin-x-2 {
  margin-right: var(--spacing-2);
  margin-left: var(--spacing-2);
}
.desktop-margin-y-2 {
  margin-top: var(--spacing-2);
  margin-bottom: var(--spacing-2);
}
.desktop-margin-top-2 { margin-top: var(--spacing-2); }
.desktop-margin-right-2 { margin-right: var(--spacing-2); }
.desktop-margin-bottom-2 { margin-bottom: var(--spacing-2); }
.desktop-margin-left-2 { margin-left: var(--spacing-2); }
.desktop-margin-3 {
  margin-top: var(--spacing-3);
  margin-right: var(--spacing-3);
  margin-bottom: var(--spacing-3);
  margin-left: var(--spacing-3);
}
.desktop-margin-x-3 {
  margin-right: var(--spacing-3);
  margin-left: var(--spacing-3);
}
.desktop-margin-y-3 {
  margin-top: var(--spacing-3);
  margin-bottom: var(--spacing-3);
}
.desktop-margin-top-3 { margin-top: var(--spacing-3); }
.desktop-margin-right-3 { margin-right: var(--spacing-3); }
.desktop-margin-bottom-3 { margin-bottom: var(--spacing-3); }
.desktop-margin-left-3 { margin-left: var(--spacing-3); }
.desktop-margin-4 {
  margin-top: var(--spacing-4);
  margin-right: var(--spacing-4);
  margin-bottom: var(--spacing-4);
  margin-left: var(--spacing-4);
}
.desktop-margin-x-4 {
  margin-right: var(--spacing-4);
  margin-left: var(--spacing-4);
}
.desktop-margin-y-4 {
  margin-top: var(--spacing-4);
  margin-bottom: var(--spacing-4);
}
.desktop-margin-top-4 { margin-top: var(--spacing-4); }
.desktop-margin-right-4 { margin-right: var(--spacing-4); }
.desktop-margin-bottom-4 { margin-bottom: var(--spacing-4); }
.desktop-margin-left-4 { margin-left: var(--spacing-4); }
.desktop-margin-auto {
  margin-top: var(--spacing-auto);
  margin-right: var(--spacing-auto);
  margin-bottom: var(--spacing-auto);
  margin-left: var(--spacing-auto);
}
.desktop-margin-x-auto {
  margin-right: var(--spacing-auto);
  margin-left: var(--spacing-auto);
}
.desktop-margin-y-auto {
  margin-top: var(--spacing-auto);
  margin-bottom: var(--spacing-auto);
}
.desktop-margin-top-auto { margin-top: var(--spacing-auto); }
.desktop-margin-right-auto { margin-right: var(--spacing-auto); }
.desktop-margin-bottom-auto { margin-bottom: var(--spacing-auto); }
.desktop-margin-left-auto { margin-left: var(--spacing-auto); }
.desktop-padding-1 {
  padding-top: var(--spacing-1);
  padding-right: var(--spacing-1);
  padding-bottom: var(--spacing-1);
  padding-left: var(--spacing-1);
}
.desktop-padding-x-1 {
  padding-right: var(--spacing-1);
  padding-left: var(--spacing-1);
}
.desktop-padding-y-1 {
  padding-top: var(--spacing-1);
  padding-bottom: var(--spacing-1);
}
.desktop-padding-top-1 { padding-top: var(--spacing-1); }
.desktop-padding-right-1 { padding-right: var(--spacing-1); }
.desktop-padding-bottom-1 { padding-bottom: var(--spacing-1); }
.desktop-padding-left-1 { padding-left: var(--spacing-1); }
.desktop-padding-2 {
  padding-top: var(--spacing-2);
  padding-right: var(--spacing-2);
  padding-bottom: var(--spacing-2);
  padding-left: var(--spacing-2);
}
.desktop-padding-x-2 {
  padding-right: var(--spacing-2);
  padding-left: var(--spacing-2);
}
.desktop-padding-y-2 {
  padding-top: var(--spacing-2);
  padding-bottom: var(--spacing-2);
}
.desktop-padding-top-2 { padding-top: var(--spacing-2); }
.desktop-padding-right-2 { padding-right: var(--spacing-2); }
.desktop-padding-bottom-2 { padding-bottom: var(--spacing-2); }
.desktop-padding-left-2 { padding-left: var(--spacing-2); }
.desktop-padding-3 {
  padding-top: var(--spacing-3);
  padding-right: var(--spacing-3);
  padding-bottom: var(--spacing-3);
  padding-left: var(--spacing-3);
}
.desktop-padding-x-3 {
  padding-right: var(--spacing-3);
  padding-left: var(--spacing-3);
}
.desktop-padding-y-3 {
  padding-top: var(--spacing-3);
  padding-bottom: var(--spacing-3);
}
.desktop-padding-top-3 { padding-top: var(--spacing-3); }
.desktop-padding-right-3 { padding-right: var(--spacing-3); }
.desktop-padding-bottom-3 { padding-bottom: var(--spacing-3); }
.desktop-padding-left-3 { padding-left: var(--spacing-3); }
.desktop-padding-4 {
  padding-top: var(--spacing-4);
  padding-right: var(--spacing-4);
  padding-bottom: var(--spacing-4);
  padding-left: var(--spacing-4);
}
.desktop-padding-x-4 {
  padding-right: var(--spacing-4);
  padding-left: var(--spacing-4);
}
.desktop-padding-y-4 {
  padding-top: var(--spacing-4);
  padding-bottom: var(--spacing-4);
}
.desktop-padding-top-4 { padding-top: var(--spacing-4); }
.desktop-padding-right-4 { padding-right: var(--spacing-4); }
.desktop-padding-bottom-4 { padding-bottom: var(--spacing-4); }
.desktop-padding-left-4 { padding-left: var(--spacing-4); }
.desktop-padding-auto {
  padding-top: var(--spacing-auto);
  padding-right: var(--spacing-auto);
  padding-bottom: var(--spacing-auto);
  padding-left: var(--spacing-auto);
}
.desktop-padding-x-auto {
  padding-right: var(--spacing-auto);
  padding-left: var(--spacing-auto);
}
.desktop-padding-y-auto {
  padding-top: var(--spacing-auto);
  padding-bottom: var(--spacing-auto);
}
.desktop-padding-top-auto { padding-top: var(--spacing-auto); }
.desktop-padding-right-auto { padding-right: var(--spacing-auto); }
.desktop-padding-bottom-auto { padding-bottom: var(--spacing-auto); }
.desktop-padding-left-auto { padding-left: var(--spacing-auto); }
.desktop-gap-1 { grid-gap: var(--spacing-1); }
.desktop-row-gap-1 { grid-row-gap: var(--spacing-1); }
.desktop-column-gap-1 { grid-column-gap: var(--spacing-1); }
.desktop-gap-2 { grid-gap: var(--spacing-2); }
.desktop-row-gap-2 { grid-row-gap: var(--spacing-2); }
.desktop-column-gap-2 { grid-column-gap: var(--spacing-2); }
.desktop-gap-3 { grid-gap: var(--spacing-3); }
.desktop-row-gap-3 { grid-row-gap: var(--spacing-3); }
.desktop-column-gap-3 { grid-column-gap: var(--spacing-3); }
.desktop-gap-4 { grid-gap: var(--spacing-4); }
.desktop-row-gap-4 { grid-row-gap: var(--spacing-4); }
.desktop-column-gap-4 { grid-column-gap: var(--spacing-4); }
.desktop-gap-auto { grid-gap: var(--spacing-auto); }
.desktop-row-gap-auto { grid-row-gap: var(--spacing-auto); }
.desktop-column-gap-auto { grid-column-gap: var(--spacing-auto); }
.desktop-font-size-1 { font-size: var(--font-size-1); }
.desktop-font-size-2 { font-size: var(--font-size-2); }
.desktop-font-size-3 { font-size: var(--font-size-3); }
.desktop-font-size-4 { font-size: var(--font-size-4); }
.desktop-font-size-5 { font-size: var(--font-size-5); }
.desktop-font-size-6 { font-size: var(--font-size-6); }
}
.black,
.placeholder-black::placeholder,
.hover-black:hover,
.active-black:active,
.focus-black:focus {
  color: var(--black);
}
.background-black,
.hover-background-black:hover,
.active-background-black:active,
.focus-background-black:focus {
  background-color: var(--black);
}
.border-black {
  border-top: var(--border-width) solid var(--black);
  border-right: var(--border-width) solid var(--black);
  border-bottom: var(--border-width) solid var(--black);
  border-left: var(--border-width) solid var(--black);
}
.border-top-black { border-top: var(--border-width) solid var(--black); }
.border-right-black { border-right: var(--border-width) solid var(--black); }
.border-bottom-black { border-bottom: var(--border-width) solid var(--black); }
.border-left-black { border-left: var(--border-width) solid var(--black); }
.dark-gray,
.placeholder-dark-gray::placeholder,
.hover-dark-gray:hover,
.active-dark-gray:active,
.focus-dark-gray:focus {
  color: var(--dark-gray);
}
.background-dark-gray,
.hover-background-dark-gray:hover,
.active-background-dark-gray:active,
.focus-background-dark-gray:focus {
  background-color: var(--dark-gray);
}
.border-dark-gray {
  border-top: var(--border-width) solid var(--dark-gray);
  border-right: var(--border-width) solid var(--dark-gray);
  border-bottom: var(--border-width) solid var(--dark-gray);
  border-left: var(--border-width) solid var(--dark-gray);
}
.border-top-dark-gray { border-top: var(--border-width) solid var(--dark-gray); }
.border-right-dark-gray { border-right: var(--border-width) solid var(--dark-gray); }
.border-bottom-dark-gray { border-bottom: var(--border-width) solid var(--dark-gray); }
.border-left-dark-gray { border-left: var(--border-width) solid var(--dark-gray); }
.gray,
.placeholder-gray::placeholder,
.hover-gray:hover,
.active-gray:active,
.focus-gray:focus {
  color: var(--gray);
}
.background-gray,
.hover-background-gray:hover,
.active-background-gray:active,
.focus-background-gray:focus {
  background-color: var(--gray);
}
.border-gray {
  border-top: var(--border-width) solid var(--gray);
  border-right: var(--border-width) solid var(--gray);
  border-bottom: var(--border-width) solid var(--gray);
  border-left: var(--border-width) solid var(--gray);
}
.border-top-gray { border-top: var(--border-width) solid var(--gray); }
.border-right-gray { border-right: var(--border-width) solid var(--gray); }
.border-bottom-gray { border-bottom: var(--border-width) solid var(--gray); }
.border-left-gray { border-left: var(--border-width) solid var(--gray); }
.light-gray,
.placeholder-light-gray::placeholder,
.hover-light-gray:hover,
.active-light-gray:active,
.focus-light-gray:focus {
  color: var(--light-gray);
}
.background-light-gray,
.hover-background-light-gray:hover,
.active-background-light-gray:active,
.focus-background-light-gray:focus {
  background-color: var(--light-gray);
}
.border-light-gray {
  border-top: var(--border-width) solid var(--light-gray);
  border-right: var(--border-width) solid var(--light-gray);
  border-bottom: var(--border-width) solid var(--light-gray);
  border-left: var(--border-width) solid var(--light-gray);
}
.border-top-light-gray { border-top: var(--border-width) solid var(--light-gray); }
.border-right-light-gray { border-right: var(--border-width) solid var(--light-gray); }
.border-bottom-light-gray { border-bottom: var(--border-width) solid var(--light-gray); }
.border-left-light-gray { border-left: var(--border-width) solid var(--light-gray); }
.white,
.placeholder-white::placeholder,
.hover-white:hover,
.active-white:active,
.focus-white:focus {
  color: var(--white);
}
.background-white,
.hover-background-white:hover,
.active-background-white:active,
.focus-background-white:focus {
  background-color: var(--white);
}
.border-white {
  border-top: var(--border-width) solid var(--white);
  border-right: var(--border-width) solid var(--white);
  border-bottom: var(--border-width) solid var(--white);
  border-left: var(--border-width) solid var(--white);
}
.border-top-white { border-top: var(--border-width) solid var(--white); }
.border-right-white { border-right: var(--border-width) solid var(--white); }
.border-bottom-white { border-bottom: var(--border-width) solid var(--white); }
.border-left-white { border-left: var(--border-width) solid var(--white); }
.red,
.placeholder-red::placeholder,
.hover-red:hover,
.active-red:active,
.focus-red:focus {
  color: var(--red);
}
.background-red,
.hover-background-red:hover,
.active-background-red:active,
.focus-background-red:focus {
  background-color: var(--red);
}
.border-red {
  border-top: var(--border-width) solid var(--red);
  border-right: var(--border-width) solid var(--red);
  border-bottom: var(--border-width) solid var(--red);
  border-left: var(--border-width) solid var(--red);
}
.border-top-red { border-top: var(--border-width) solid var(--red); }
.border-right-red { border-right: var(--border-width) solid var(--red); }
.border-bottom-red { border-bottom: var(--border-width) solid var(--red); }
.border-left-red { border-left: var(--border-width) solid var(--red); }
.yellow,
.placeholder-yellow::placeholder,
.hover-yellow:hover,
.active-yellow:active,
.focus-yellow:focus {
  color: var(--yellow);
}
.background-yellow,
.hover-background-yellow:hover,
.active-background-yellow:active,
.focus-background-yellow:focus {
  background-color: var(--yellow);
}
.border-yellow {
  border-top: var(--border-width) solid var(--yellow);
  border-right: var(--border-width) solid var(--yellow);
  border-bottom: var(--border-width) solid var(--yellow);
  border-left: var(--border-width) solid var(--yellow);
}
.border-top-yellow { border-top: var(--border-width) solid var(--yellow); }
.border-right-yellow { border-right: var(--border-width) solid var(--yellow); }
.border-bottom-yellow { border-bottom: var(--border-width) solid var(--yellow); }
.border-left-yellow { border-left: var(--border-width) solid var(--yellow); }
.green,
.placeholder-green::placeholder,
.hover-green:hover,
.active-green:active,
.focus-green:focus {
  color: var(--green);
}
.background-green,
.hover-background-green:hover,
.active-background-green:active,
.focus-background-green:focus {
  background-color: var(--green);
}
.border-green {
  border-top: var(--border-width) solid var(--green);
  border-right: var(--border-width) solid var(--green);
  border-bottom: var(--border-width) solid var(--green);
  border-left: var(--border-width) solid var(--green);
}
.border-top-green { border-top: var(--border-width) solid var(--green); }
.border-right-green { border-right: var(--border-width) solid var(--green); }
.border-bottom-green { border-bottom: var(--border-width) solid var(--green); }
.border-left-green { border-left: var(--border-width) solid var(--green); }
.blue,
.placeholder-blue::placeholder,
.hover-blue:hover,
.active-blue:active,
.focus-blue:focus {
  color: var(--blue);
}
.background-blue,
.hover-background-blue:hover,
.active-background-blue:active,
.focus-background-blue:focus {
  background-color: var(--blue);
}
.border-blue {
  border-top: var(--border-width) solid var(--blue);
  border-right: var(--border-width) solid var(--blue);
  border-bottom: var(--border-width) solid var(--blue);
  border-left: var(--border-width) solid var(--blue);
}
.border-top-blue { border-top: var(--border-width) solid var(--blue); }
.border-right-blue { border-right: var(--border-width) solid var(--blue); }
.border-bottom-blue { border-bottom: var(--border-width) solid var(--blue); }
.border-left-blue { border-left: var(--border-width) solid var(--blue); }
.hover-blue,
.placeholder-hover-blue::placeholder,
.hover-hover-blue:hover,
.active-hover-blue:active,
.focus-hover-blue:focus {
  color: var(--hover-blue);
}
.background-hover-blue,
.hover-background-hover-blue:hover,
.active-background-hover-blue:active,
.focus-background-hover-blue:focus {
  background-color: var(--hover-blue);
}
.border-hover-blue {
  border-top: var(--border-width) solid var(--hover-blue);
  border-right: var(--border-width) solid var(--hover-blue);
  border-bottom: var(--border-width) solid var(--hover-blue);
  border-left: var(--border-width) solid var(--hover-blue);
}
.border-top-hover-blue { border-top: var(--border-width) solid var(--hover-blue); }
.border-right-hover-blue { border-right: var(--border-width) solid var(--hover-blue); }
.border-bottom-hover-blue { border-bottom: var(--border-width) solid var(--hover-blue); }
.border-left-hover-blue { border-left: var(--border-width) solid var(--hover-blue); }
.border {
  border-top: var(--border-width) solid currentColor;
  border-right: var(--border-width) solid currentColor;
  border-bottom: var(--border-width) solid currentColor;
  border-left: var(--border-width) solid currentColor;
}
.border-top { border-top: var(--border-width) solid currentColor; }
.border-right { border-right: var(--border-width) solid currentColor; }
.border-bottom { border-bottom: var(--border-width) solid currentColor; }
.border-left { border-left: var(--border-width) solid currentColor; }
.border-radius {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}
.border-left-radius {
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}
.border-right-radius {
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}
.border-top-radius {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}
.border-bottom-radius {
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}
.border-top-left-radius {
  border-top-left-radius: var(--border-radius);
}
.border-top-right-radius {
  border-top-right-radius: var(--border-radius);
}
.border-bottom-left-radius {
  border-bottom-left-radius: var(--border-radius);
}
.border-bottom-right-radius {
  border-bottom-right-radius: var(--border-radius);
}
