@custom-media --breakpoint-mobile (width < 65em);

@custom-media --breakpoint-desktop (width >= 65em);

:root {
  --margin-1: 0.5em;
  --margin-2: 1em;
  --margin-3: 2em;
  --margin-4: 4em;

  --padding-1: 0.5em;
  --padding-2: 1em;
  --padding-3: 2em;
  --padding-4: 4em;

  --gap-1: 0.5em;
  --gap-2: 1em;
  --gap-3: 2em;
  --gap-4: 4em;

  --width-1: calc(100% / 3);
  --width-2: calc(100% / 3 * 2);
  --width-measured: 40em;
  --width-full: 100%;
  --height-view: 100vh;

  --font-size-1: 2.0736em;
  --font-size-2: 1.728em;
  --font-size-3: 1.44em;
  --font-size-4: 1.2em;
  --font-size-5: 1em;
  --font-size-6: 0.8333em;

  --border-radius: 0.2em;
  --border-width: 0.05em;

  --black: gray(12);
  --dark-gray: gray(14);
  --gray: gray(56);
  --light-gray: gray(98);
  --white: gray(100);

  --red: hsl(350, 60%, 60%);
  --yellow: hsl(60, 60%, 60%);
  --green: hsl(130, 60%, 60%);
  --blue: hsl(200, 60%, 60%);

  --hover-blue: color-mod(var(--blue) alpha(80%));
}
