@custom-media --breakpoint-mobile (width < 60em);

@custom-media --breakpoint-desktop (width >= 60em);

:root {
  --box-sizing: border-box;

  --whitespace-1: 0.5em;
  --whitespace-2: 1em;
  --whitespace-3: 2em;
  --whitespace-4: 4em;

  --width-1: calc(100% / 3);
  --width-2: calc(100% / 3 * 2);

  --max-width: 40em;

  --font-size-xxx-large: 2em;
  --font-size-xx-large: 1.5em;
  --font-size-x-large: 1.25em;
  --font-size-large: 1.125em;
  --font-size-medium: 1em;
  --font-size-small: 0.875em;

  --border-radius: 0.2em;
  --border-width: 0.05em;

  --black: hsl(0, 0%, 12%);
  --dark-gray: hsl(0, 0%, 45%);
  --gray: hsl(0, 0%, 65%);
  --light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --red: hsl(350, 60%, 60%);
  --orange: hsl(30, 70%, 60%);
  --green: hsl(140, 50%, 60%);
  --blue: hsl(200, 70%, 60%);
  --purple: hsl(310, 60%, 60%);
}
