[submodule "public/icons"]
	path = public/projects/icons
	url = git@github.com:erickmerchant/icons.git
[submodule "public/arc-clock"]
	path = public/projects/arc-clock
	url = git@github.com:erickmerchant/arc-clock.git
