{
	"arrowParens": "always",
	"bracketSameLine": true,
	"bracketSpacing": false,
	"htmlWhitespaceSensitivity": "css",
	"printWidth": 80,
	"proseWrap": "preserve",
	"quoteProps": "consistent",
	"semi": true,
	"singleAttributePerLine": false,
	"singleQuote": false,
	"tabWidth": 2,
	"trailingComma": "es5",
	"useTabs": true
}
