{
  "minify": true,
  "env": {
    "targets": "defaults and supports es6-module"
  },
  "jsc": {
    "minify": {
      "compress": {
        "defaults": false
      },
      "mangle": true
    }
  },
  "module": {
    "type": "es6"
  }
}