{% macro code_block(language, highlighted_lines, first_line) %}
	<code-block language="{{language}}" class="code-block">
		<template shadowrootmode="open">
			<link rel="stylesheet" href="/elements/code-block.css">
			<figure>
				<pre><code>
					{% for line in highlighted_lines %}
						<span data-line="{{loop.index0 + (first_line | default(1))}}"></span> {{line}}
					{% endfor %}
				</code></pre>
			</figure>
		</template>
		<figure>
			<pre><code>{{caller()}}</code></pre>
		</figure>
	</code-block>
{% endmacro %}

{% call code_block(language, highlighted_lines, first_line) %}
	{{inner_html}}
{% endcall %}
