{%- macro code_block(language, highlighted_lines) -%}
<code-block language="{{language}}">
	<template shadowrootmode="open">
		<link rel="stylesheet" href="/theme/elements/code-block.css">
		<figure>
			<pre><code>
				{%- for line in highlighted_lines -%}
				<span class="line-number" aria-hidden="true">{{loop.index}}</span> {{line}}
				{%- endfor -%}
			</code></pre>
		</figure>
	</template>
	<figure>
		<pre><code>{{caller()}}</code></pre>
	</figure>
</code-block>
{%- endmacro -%}

{%- call code_block(language, highlighted_lines) -%}
{{inner_html}}
{%- endcall -%}
