*,
* {
	font: inherit;
	color: inherit;
	max-inline-size: 100%;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-webkit-text-size-adjust: none;
}

:host {
	display: block;
	background-color: var(--paper-1);
	border-radius: var(--border-radius);
	overflow-x: auto;
	tab-size: 2;
	--max-inline-size: 42rem;
	--padding-inline: 0;
	--white-space: pre-wrap;
}

@container (inline-size <= 42rem) {
	:host {
		--border-radius: 0;
	}
}

@container (inline-size <= 30rem) {
	:host {
		--white-space: pre;
	}
}

figure {
	display: grid;
}

pre {
	font-family: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas,
		"DejaVu Sans Mono", monospace;
	font-weight: 500;
}

code {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 0 1em;
	white-space: var(--white-space);
	color: var(--code-3);
	word-break: break-word;
	position: relative;
	padding-inline-end: 1em;

	> * {
		padding: 0.125em;
	}

	> :where(:nth-child(-n + 2)) {
		padding-block-start: 1em;
	}

	> :where(:nth-last-child(-n + 2)) {
		padding-block-end: 1em;
	}
}

[data-line] {
	position: sticky;
	inset-inline-start: 0;
	color: var(--code-3);
	border-inline-end: 0.0625em solid var(--paper-2);
	background-color: var(--paper-1);
	padding-inline: 1em;

	&::before {
		content: attr(data-line);
		display: grid;
		justify-content: end;
	}
}

.function {
	color: var(--code-1);
}

.keyword,
.storage {
	color: var(--code-0);
}

.string,
.numeric,
.boolean,
.null,
.undefined,
.constant,
.path {
	color: var(--code-2);
}

.punctuation,
.parameter,
.spread {
	color: var(--code-3);
}

.comment {
	font-style: italic;
}
