:host {
  display: grid;
  background-color: var(--paper-1);
  border-radius: var(--border-radius);
  overflow-x: auto;

  --max-width: 44rem;
  --border-radius: 0.25em;

  @container (width <= 44.5rem) {
    --border-radius: 0;
  }
}

pre {
  font-family: "Chivo Mono", monospace;
  font-variant-ligatures: no-common-ligatures;
  white-space: pre-wrap;
  padding-block-end: 1.5em;
}

code {
  color: var(--code-4);
}

.function {
  color: var(--code-1);
}

.keyword,
.storage {
  color: var(--code-0);
}

.path {
  color: var(--code-3);
}

.string,
.numeric,
.boolean,
.null,
.undefined {
  color: var(--code-2);
}

.punctuation,
.parameter {
  color: var(--code-4);
}
