*,
::before,
::after {
	font: inherit;
	color: inherit;
	max-inline-size: 100%;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-webkit-text-size-adjust: none;
}

:host {
	display: block;
	overflow-x: auto;
	overscroll-behavior-x: none;
	tab-size: 2;
	--padding-inline: 0;
	--white-space: pre-wrap;
}

@container (inline-size <= 30rem) {
	:host {
		--white-space: pre;
	}
}

figure {
	display: grid;
}

pre {
	font-family: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas,
		"DejaVu Sans Mono", monospace;
	font-weight: 500;
}

code {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 0 1em;
	white-space: var(--white-space);
	color: var(--gray);
	word-break: break-word;
	position: relative;
	padding-inline-end: 1em;

	> * {
		padding: 0.125em;
	}

	> :where(:nth-child(-n + 2)) {
		padding-block-start: 1em;
	}

	> :where(:nth-last-child(-n + 2)) {
		padding-block-end: 1em;
	}
}

[data-line] {
	position: sticky;
	inset-inline-start: 0;
	color: var(--gray);
	border-inline-end: var(--border);
	background-color: var(--paper);
	padding-inline: var(--padding-base);

	&::before {
		content: attr(data-line);
		display: grid;
		justify-content: end;
	}
}

.function,
.path {
	color: var(--blue);
}

.keyword,
.storage,
.constant,
.boolean,
.null,
.undefined,
.this {
	color: var(--purple);
}

.string,
.numeric {
	color: var(--red);
}

.punctuation {
	color: var(--gray);
}

.comment {
	font-style: italic;
}
