:host {
  position: sticky;
  top: calc(var(--scrolling-down, 0) * -3.125em);
  transition: top 0.25s cubic-bezier(0.3, 0, 0.3, 0.7);
  overflow: hidden;
}

:host(:not(:defined)) .toggle {
  visibility: hidden;
}

@container (width <= 20rem) {
  :host([open]) {
    --scrolling-down: 0 !important;
  }
}

@supports selector(:focus-visible) {
  :focus {
    outline: none;
    background: hsl(0 0% 0% / 0);
  }
}

.nav {
  display: grid;
  transition: none;
  overflow: visible;
  grid-template-rows: min-content 0fr;
  align-content: start;
  padding-inline: 1em;
  padding-block-start: 1em;
  padding-block-end: 0.75em;

  @container (width <= 20rem) {
    transition: 0.25s;
    gap: 0.75em;
    padding-block-end: 0em;
  }

  &:where(.open) {
    grid-template-rows: min-content 1fr;

    @container (width <= 20rem) {
      padding-block-end: 1.5em;
    }
  }
}

.toggle {
  position: relative;
  appearance: none;
  display: none;
  aspect-ratio: 1 / 1;
  height: 2em;
  border: 0;
  background-color: hsl(0 0% 0% / 0);
  place-content: center;
  border-radius: 0.25em;
  cursor: pointer;
  transition: box-shadow 0.25s;
  box-shadow: 0 0 0 0.125em hsl(0 0% 0% / 0);
  margin-inline-start: -0.25em;

  &:focus-visible {
    box-shadow: 0 0 0 0.125em currentColor;
  }

  @container (width <= 20rem) {
    display: grid;
  }
}

.toggleIcon {
  height: 1.5em;
}

.list {
  min-height: 0;

  @container (width > 20rem) {
    height: 2em;
    align-content: center;
  }
}
