{% macro page_nav(minimized) %}
	<page-nav {{ "minimized" if minimized }}>
		<template shadowrootmode="open">
			<link rel="stylesheet" href="/elements/page-nav.css">
			<nav class="nav">
				<slot></slot>
				<slot name="brand"></slot>
			</nav>
		</template>
		{{caller()}}
	</page-nav>
{% endmacro %}

{% call page_nav(minimized|default(false)) %}
	{{inner_html}}
{% endcall %}
