*,
*::before {
  font: inherit;
  color: inherit;
  max-width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
}

svg {
  aspect-ratio: 1 / 1;
  fill: currentColor;
  display: block;
}

:host {
  position: sticky;
  top: calc(var(--scrolling-down, 0) * -3.125em);
  transition: top 0.25s var(--easing);
  overflow: hidden;
  display: block;
  background-image: repeating-radial-gradient(
    circle at 50% 2em,
    var(--paper-1) 0 0.075em,
    var(--paper-0) 0.075em 0.3em
  );
  color: var(--ink-0);
  z-index: 2;

  --easing: cubic-bezier(0.3, 0, 0.3, 0.7);
}

:host(:not(:defined)) {
  & .toggle {
    visibility: hidden;
  }

  & ::slotted(*) {
    flex-direction: row;
    visibility: hidden;
  }
}

@container (width <= 20rem) {
  :host([open]) {
    --scrolling-down: 0 !important;
  }
}

@supports selector(:focus-visible) {
  :focus {
    outline: none;
  }
}

.label {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.nav {
  display: grid;
  transition: none;
  overflow: visible;
  grid-template-rows: min-content 0fr;
  align-content: start;
  padding: 1em;
  color: var(--ink-0);

  --list-visibility: visible;

  @container (width <= 20rem) {
    transition: grid-template-rows 0.25s var(--easing);
    gap: 1em;
    padding-block-end: 0em;

    &:where(:not(.open):not(.transitioning)) {
      --list-visibility: hidden;
    }
  }

  &:where(.open) {
    grid-template-rows: min-content 1fr;

    @container (width <= 20rem) {
      padding-block-end: 1.5em;
    }
  }
}

.toggle {
  position: relative;
  appearance: none;
  display: none;
  aspect-ratio: 1 / 1;
  height: 2em;
  border: 0;
  background-color: hsl(0 0% 0% / 0);
  place-content: center;
  border-radius: 0.25em;
  cursor: pointer;
  transition: box-shadow 0.25s;
  box-shadow: 0 0 0 0.125em hsl(0 0% 0% / 0);
  margin-inline-start: -0.25em;

  &:focus-visible {
    box-shadow: 0 0 0 0.125em currentColor;
  }

  @container (width <= 20rem) {
    display: grid;
  }
}

.toggleIcon {
  height: 1.5em;
}

::slotted(*) {
  display: flex;
  flex-direction: row;
  list-style: none;
  white-space: nowrap;
  gap: 0.5em 1em;
  min-height: 0;
  visibility: var(--list-visibility);

  @container (width > 20rem) {
    display: flex;
    height: 2em;
    align-items: center;
  }

  @container (width <= 20rem) {
    flex-direction: column;
  }
}
