* {
	font: inherit;
	color: inherit;
	max-width: 100%;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-webkit-text-size-adjust: none;
}

svg {
	aspect-ratio: 1 / 1;
	fill: currentColor;
	display: block;
}

:host {
	position: sticky;
	top: calc(var(--scrolling-down, 0) * -3.5em);
	transition: top 0.125s var(--easing);
	overflow: hidden;
	display: block;
	background-image: repeating-radial-gradient(
		circle at 50% 2em,
		var(--paper-2) 0 0.075em,
		var(--paper-0) 0.075em 0.3em
	);
	color: var(--ink-0);
	z-index: 2;
	box-shadow: 0 0.1em 0.1em var(--paper-0);
}

:host([minimized]) {
	--scrolling-down: 1;
}

@container (width <= 20rem) {
	:host([expanded]) {
		--scrolling-down: 0;
	}
}

:host(:not(:defined)) .toggle {
	visibility: hidden;
}

:host(:not(:defined)) ::slotted(*) {
	flex-direction: row;
	visibility: hidden;
}

@supports selector(:focus-visible) {
	:focus {
		outline: none;
	}
}

.label {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	width: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
}

.nav {
	display: grid;
	transition: none;
	overflow: visible;
	grid-template-rows: min-content 0fr;
	align-content: start;
	padding: 1em;
	color: var(--ink-0);

	--list-visibility: visible;
}

@container (width <= 20rem) {
	.nav {
		transition: grid-template-rows 0.125s var(--easing);
		gap: 1em;
		padding-block-end: 0em;
	}

	:host([expanded]) .nav {
		grid-template-rows: min-content 1fr;
		padding-block-end: 1.5em;
	}
}

.toggle {
	position: relative;
	appearance: none;
	display: none;
	width: 2em;
	height: 2em;
	border: 0;
	background-color: hsl(0 0% 0% / 0);
	place-content: center;
	border-radius: var(--border-radius);
	cursor: pointer;
	transition: box-shadow 0.125s;
	box-shadow: 0 0 0 0.125em hsl(0 0% 0% / 0);
	margin-inline-start: -0.25em;
}

.toggle:focus-visible {
	box-shadow: 0 0 0 0.125em currentColor;
}

@container (width <= 20rem) {
	.toggle {
		display: grid;
	}
}

.toggleIcon {
	height: 1.5em;
}

::slotted(*) {
	display: flex;
	flex-direction: row;
	list-style: none;
	white-space: nowrap;
	gap: 0.5em 1em;
	min-height: 0;
	visibility: var(--list-visibility);
}

@container (width > 20rem) {
	::slotted(*) {
		display: flex;
		height: 2em;
		align-items: center;
	}
}

@container (width <= 20rem) {
	::slotted(*) {
		flex-direction: column;
	}
}
