{%- macro page_nav(open) -%}
	<page-nav {% if open %} open{% endif %}>
		<template shadowrootmode="open">
			<link rel="stylesheet" href="/elements/page-nav.css">
			<nav class="nav" id="nav">
				<button class="toggle" id="toggle" aria-pressed="false">
					<span class="label">Toggle Nav List</span>
					<svg class="toggleIcon" aria-hidden="true" viewBox="0 0 16 16">
						<path id="icon"></path>
					</svg>
				</button>
				<slot></slot>
			</nav>
		</template>
		{{caller()}}
	</page-nav>
{%- endmacro -%}

{%- call page_nav(open|default(false)) -%}
	{{inner_html}}
{%- endcall -%}
