* {
	font: inherit;
	color: inherit;
	max-inline-size: 100%;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-webkit-text-size-adjust: none;
}

:host {
	position: sticky;
	inset-block-start: calc(
		var(--scrolling-down, 0) * calc(-1 * var(--block-height))
	);
	transition: inset-block-start 0.25s var(--easing);
	background-color: var(--background);
	display: block;
	border-block-end: var(--border);
	color: var(--link-color);
}
