{% macro top_bar(class) %}
	<top-bar {% if class %}class="{{class}}"{% endif %}>
		<template shadowrootmode="open">
			<link rel="stylesheet" href="/elements/top-bar.css">
			<slot></slot>
		</template>
		{{caller()}}
	</top-bar>
{% endmacro %}

{% call top_bar(class) %}
	{{inner_html}}
{% endcall %}
