
{{#> page}}
  {{#*inline "title"}}Internal Error{{/inline}}

  {{#*inline "content"}}
    <h1 class="Content heading">Internal Error</h1>
    <p class="Content paragraph">An error occurred. Please try again later.</p>
  {{/inline}}
{{/page}}
