{%- macro nav_list(class) -%}
  <ul class="{{class}}">
    <li><a href="/">Posts</a></li>
    <li><a href="/posts.rss">RSS Feed</a></li>
    <li><a href="https://github.com/erickmerchant/my-blog">View Source</a></li>
  </ul>
{%- endmacro -%}

{%- include "vars.jinja" -%}

<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{description}}">
    <title>{{page.title}} | {{title}}</title>
    <script type="module" src="/element.js"></script>
    <script type="module" src="/elements/page-nav.js"></script>
    {% for name in page.elements %}
      <script type="module" src="/elements/{{name}}.js"></script>
    {% endfor %}
    <style>
      {{ inline_css("theme/common.css") }}
      {{ inline_css("theme/page.css") }}
    </style>
    <link rel="preload" href="/fonts/Chivo/Chivo-VariableFont_wght-subset.woff2" as="font" crossorigin="anonymous">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  </head>
  <body>
    <page-nav>
      {%- include "/elements/page-nav.jinja" -%}
      {{nav_list("navList")}}
    </page-nav>
    <main class="main">
      {% block main %}
      {% endblock %}
    </main>
    <footer class="footer">
      {{nav_list("footerNavList")}}
      <p class="copyright">&copy; {{copyright}}</p>
    </footer>
  </body>
</html>

