{% extends "layouts/layout.jinja" %}

{%- from "icons.jinja" import arrow_left_icon, arrow_right_icon -%}

{%- macro pagination_link(page, position, icon) -%}
  {% if page %}
    <li class="paginationLink">
      <a href="/{{page.category}}/{{page.slug}}.html">
        {{page.title}}
        {{icon}}
      </a>
    </li>
  {% else %}
    <li class="paginationPlaceholder"></li>
  {% endif %}
{%- endmacro -%}

{% block main %}
  <header>
    <h1>{{page.title}}</h1>
    <p class="published">
      <time>{{page.date | format_date("%B %e, %Y")}}</time>
    </p>
  </header>

  {{page.content | safe}}

  <ul class="pagination">
    {{pagination_link(pagination.previous, arrow_left_icon(class="paginationIcon"))}}

    {{pagination_link(pagination.next, arrow_right_icon(class="paginationIcon"))}}
  </ul>
{% endblock %}
