@scope (.unfound) {
  :scope {
    margin: 0.5rem 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
  }

  & > div {
    flex-basis: 13.5rem;
    flex-grow: 1;
  }

  .content > * {
    margin-block-end: 0.5rem;
  }

  mine-sweeper {
    margin-inline: auto;
  }
}
