.banner {
  padding-block: 1.5rem 0.5rem;
  width: max-content;

  :where(.title) {
    font-family: var(--jacquard-24);
    font-weight: 400;
    font-size: clamp(3rem, 18cqi, 12rem);
    line-height: 1;

    :where(a) {
      display: inline-block;
      color: oklch(from var(--text) l c h / 0.7);
      text-shadow: 0.03em 0.03em 0.01em oklch(from var(--accent) l c h / 0.8);
      text-decoration: none;
    }
  }
}
