.banner {
  padding-block: 1.5rem;
  margin-block-end: 1rem;
  width: 100%;
  background-image: radial-gradient(
    circle at 50%,
    oklch(from var(--accent) l c h / 0.25) 0 50%,
    var(--background) 50%
  );
  background-size: 0.25rem 0.25rem;
  background-repeat: repeat;

  :where(.title) {
    display: block;
    font-family: var(--nunito);
    font-weight: 800;
    line-height: 1;
    max-inline-size: 40rem;
    margin-inline: auto;
    container-type: inline-size;
    overflow: hidden;

    :where(a) {
      white-space: nowrap;
      font-size: clamp(2rem, 12cqi, 4rem);
      padding-inline: 1rem;
      display: inline-block;
      color: oklch(from var(--text) l c h / 0.7);
      text-shadow: 0.05em 0.05em 0.01em oklch(from var(--accent) l c h / 0.8);
      text-decoration: none;
    }
  }
}
