.footer {
  padding-block-end: 1rem;
  margin-block-start: 0.5rem;

  :where(.list) {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem 1rem;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-inline-start: 0;
    padding-inline-start: 0;
  }

  :where(.item) {
    margin-inline-start: 0;
    padding-inline-start: 0;
    font-weight: 500;
    list-style: none;
  }

  :where(.link) {
    text-decoration-thickness: 0.15em;
    white-space: nowrap;
  }

  :where(.rss) {
    display: flex;
    gap: 0.5rem;
    align-items: center;

    :where(.icon-rss) {
      display: block;
      border-radius: 0.125rem;
      corner-shape: superellipse(2);
      background: var(--accent);
      display: grid;
      inline-size: auto;
      block-size: 1rem;
      fill: var(--background);
    }
  }
}
