@scope (.footer) {
  :scope {
    display: grid;
    gap: 1.5rem 0;
    align-content: center;
    padding-block-end: 1rem;
    margin-block-start: 0.5rem;
  }

  .list {
    display: grid;
    gap: 1rem 1rem;
    grid-template-columns: max-content max-content max-content;
    justify-content: space-between;
    list-style: none;
    margin-inline-start: 0;
    padding-inline-start: 0;

    @container (inline-size <= 30rem) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  .item {
    display: grid;
    align-content: center;
    margin-inline-start: 0;
    padding-inline-start: 0;
    font-weight: 500;
  }

  .link {
    text-decoration-thickness: 0.15em;
    white-space: nowrap;
  }

  .rss {
    display: grid;
    gap: 0.5em;
    aspect-ratio: 1;
    inline-size: auto;
    block-size: 1.25rem;
    padding: 0.1875rem;
    border-radius: 0.25rem;
    corner-shape: superellipse(2);
    background: var(--accent);

    svg {
      fill: var(--background);
    }
  }
}
