:where(.hljs) {
  * {
    color: light-dark(
      oklch(from var(--color) 50% c h),
      oklch(from var(--color) 80% c h)
    );
  }

  .doctag,
  .keyword,
  .meta .keyword,
  .template-tag,
  .template-variable,
  .type,
  .variable.language_ {
    --color: orange;
  }

  .title,
  .title.class_,
  .title.class_.inherited__,
  .title.function_ {
    --color: gold;
  }

  .attr,
  .attribute,
  .meta,
  .operator,
  .variable,
  .selector-attr,
  .selector-class,
  .selector-id {
    --color: coral;
  }

  .number,
  .literal {
    --color: wheat;
  }

  .regexp,
  .string,
  .meta .string {
    --color: red;
  }

  .built_in,
  .symbol {
    color: oklch(from var(--text) l c h / 0.85);
  }

  .comment,
  .code,
  .formula {
    --color: antiquewhite;
  }

  .name,
  .quote,
  .selector-tag,
  .selector-pseudo {
    --color: crimson;
  }
}
