.post {
  overflow-wrap: break-word;
  align-items: center;
  z-index: 1;

  --code-background: oklch(from var(--background) l calc(c / 2) h);

  > * {
    min-inline-size: 100%;
    margin: 0.5rem 0;
  }

  :where(:not(pre)) > :where(code) {
    background-color: var(--code-background);
    padding: 0.05rem 0.25rem;
    color: light-dark(
      oklch(from seagreen 50% c h),
      oklch(from red 90% c h)
    );

    /* Arc iOS bug fix */
    :where(a) {
      color: inherit;
      text-decoration: none;
      pointer-events: none;
      display: contents;
    }
  }

  :where(pre) {
    line-height: 1.5;
    overflow-y: hidden;
    overscroll-behavior-x: none;
    tab-size: 2;
    display: flex;
    position: relative;
    white-space: pre;
    word-break: break-word;
    max-inline-size: 100%;
    justify-self: center;
    margin-inline: auto;
    background-color: var(--code-background);
    border-radius: 0.25rem;

    :where(code) {
      padding: 1rem;
      margin-block-end: 0.125rem;
      margin-inline: 0.125rem;
      overflow-x: auto;
      scrollbar-width: thin;
      scrollbar-color: currentColor
        oklch(from var(--background) l calc(c - 0.01) h);
    }
  }

  :where(blockquote) {
    inline-size: 100%;
    padding: 0.5rem 1.25rem;
    overflow-wrap: anywhere;
    hyphens: auto;
    justify-self: start;
    position: relative;
    font-style: italic;
    border-inline-start: 0.15em solid var(--accent);
    font-weight: 200;

    :where(em) {
      font-weight: 300;
    }

    > :where(:not(:last-child)) {
      margin-block-end: 1rem;
    }

    :where(cite) {
      display: flex;
      gap: 0.5rem;
      font-style: normal;

      &::before {
        content: "—";
      }
    }
  }

  :where(figure) {
    :where(img) {
      border-radius: 0.25rem;
      max-inline-size: 100%;
    }

    :where(figcaption) {
      margin-inline: 0.25rem;
      font-size: 0.75rem;
    }
  }
}
