@scope (.section) {
  :scope {
    display: grid;
    gap: 1rem;
  }

  .list {
    display: grid;
    gap: 0.25rem;
    list-style: none;
    padding-inline-start: 0;
    margin-inline-start: 0;
  }

  li > span:has(.date) {
    display: grid;
    grid-template-columns: max-content 1fr;
  }

  .date {
    font-variant-numeric: tabular-nums;

    &::after {
      content: "—" / "";
      margin-inline: 0.25em;
    }
  }
}
