@scope (.section) {
  :scope {
    display: grid;
  }

  .list {
    display: grid;
    gap: 0.25rem;
  }

  li > span:has(.date) {
    display: grid;
    grid-template-columns: max-content 1fr;
  }

  .date {
    font-variant-numeric: tabular-nums;

    &::after {
      content: "┉" / "";
      margin-inline: 0.25em;
    }
  }
}
