host: 'http://erickmerchant.com'
author: 'Erick Merchant'
year: '2015'
banner: 'Erick Merchant'
sub_banner: 'On Development'
time_zone: 'America/Los_Angeles'
menu: [
  {
    text: 'Posts'
    icon: 'calendar'
    url: '/posts/'
  }
  {
    text: 'GitHub'
    icon: 'github'
    url: 'http://github.com/erickmerchant/'
  }
  {
    text: 'Twitter'
    icon: 'twitter'
    url: 'http://twitter.com/erickmerchant/'
  }
]
