@import "@erickmerchant/mine-sweeper/elements/mine-sweeper.css";

mine-sweeper {
  background-color: oklch(from var(--background) l calc(c * 2) h);
  border: 2px solid
    color-mix(
    in oklch,
    var(--text) 30%,
    var(--background)
  );
  padding: 1rem;
  border-radius: 0.25rem;
  font-size: 1rem;

  &::part(info-panel) {
    padding-block: 0 1rem;
    padding-inline: 1rem;
  }

  &::part(grid) {
    background-color: color-mix(
      in oklch,
      var(--text) 30%,
      var(--background)
    );
    border: 1px solid
      color-mix(
      in oklch,
      var(--text) 30%,
      var(--background)
    );
    border-radius: 0;
  }

  &::part(btn) {
    background-color: light-dark(
      oklch(from var(--background) calc(l * 0.95) c h),
      oklch(from var(--background) calc(l * 1.2) calc(c * 3) h)
    );
  }

  &::part(revealed) {
    background-color: var(--background);
    cursor: light-dark(oklch(90% 0 0), oklch(90% 0 0));
  }

  &::part(armed-adjacent-count--1) {
    color: light-dark(oklch(50% 0.4 260), oklch(100% 0.4 260));
  }

  &::part(armed-adjacent-count--2) {
    color: light-dark(oklch(50% 0.4 215), oklch(80% 0.4 215));
  }

  &::part(armed-adjacent-count--3) {
    color: light-dark(oklch(50% 0.4 170), oklch(80% 0.4 170));
  }

  &::part(armed-adjacent-count--4) {
    color: light-dark(oklch(50% 0.4 125), oklch(80% 0.4 125));
  }

  &::part(armed-adjacent-count--5) {
    color: light-dark(oklch(50% 0.4 80), oklch(80% 0.4 80));
  }

  &::part(armed-adjacent-count--6) {
    color: light-dark(oklch(50% 0.4 35), oklch(80% 0.4 35));
  }

  &::part(armed-adjacent-count--7) {
    color: light-dark(oklch(50% 0.4 350), oklch(80% 0.4 350));
  }

  &::part(armed-adjacent-count--8) {
    color: light-dark(oklch(50% 0.4 305), oklch(80% 0.4 305));
  }
}

.mines {
  grid-column: 1 / -1;
  min-inline-size: min(100% - 2rem, 40rem);
  display: grid;
  grid-template-columns: subgrid;
  padding-block-end: 0.5rem;

  .nav {
    display: flex;
    margin-block: 1rem;
    gap: 1rem;
  }

  & > mine-sweeper {
    grid-column: 1 / -1;
    margin-inline: auto;
  }

  & > :not(mine-sweeper) {
    grid-column: 2;
  }
}
