@layer component {
  svg-icon {
    width: 0.8em;
  }

  :host {
    display: inline-grid;
  }

  .button {
    appearance: none;
    border: none;
    background: none;
  }

  .button > * {
    display: flex;
    align-items: center;
  }

  .option {
    display: grid;
    place-content: center;
    height: 1.25em;
    aspect-ratio: 1 / 1;
    background-color: hsl(var(--background-1));
    border: 0.125rem solid hsl(var(--anchor-color) / 0.5);
    border-radius: 0.25em;
    color: hsl(var(--anchor-color));
  }
}
