@layer component {
  pre {
    white-space: var(--white-space);
  }

  .root {
    position: relative;
  }

  .inner {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    border-radius: var(--border-radius);
    overflow-x: auto;
    max-width: 100%;

    --white-space: pre;
    --has-scrollbars: 0;
  }

  .scrolling {
    --has-scrollbars: 1;
  }

  .wrap {
    --white-space: pre-wrap;
  }

  .lines {
    display: grid;
    grid-template-columns: min-content auto;
    gap: 0 0.5rem;
    background-color: hsl(var(--code-background));
    color: hsl(var(--code-color));
    counter-reset: lines;
    min-width: min-content;
  }

  .line {
    display: contents;

    --first: 0;
    --last: 0;
  }

  .line > * {
    padding-inline: 0.5rem;
    word-break: break-all;
  }

  .line > *,
  .line::before {
    padding-block-start: calc(var(--first) * 1em);
    padding-block-end: calc(var(--last) * 1em);
  }

  .line::before {
    content: counter(lines);
    counter-increment: lines;
    text-align: right;
    padding-inline: var(--space);
    background-color: hsl(var(--code-background));
    filter: brightness(0.975);
    border-top-left-radius: calc(var(--first) * var(--border-radius));
    border-bottom-left-radius: calc(var(--last) * var(--border-radius));
    border-right: 1px solid hsl(var(--code-color) / 0.125);
    color: hsl(var(--text-color));
    left: 0;
    position: sticky;
    z-index: 1;
  }

  .line:first-child {
    --first: 1;
  }

  .line:last-child {
    --last: 1;
  }

  .toggle {
    gap: 0.25rem;
    position: absolute;
    right: 0;
    bottom: calc(var(--has-scrollbars) * 0.5em);
    padding: 0.25em;
    font-weight: 500;
    background-color: hsl(var(--code-background));
    filter: brightness(0.975);
    border: 1px solid hsl(var(--code-color) / 0.125);
    border-top-left-radius: var(--border-radius);
    border-bottom-right-radius: calc(
      ((var(--has-scrollbars) * -1) + 1) * var(--border-radius)
    );
  }

  .hidden {
    visibility: hidden;
  }
}
