:host {
  display: block;
}

.form,
.label {
  display: grid;
}

.label {
  grid-template-columns: max-content 1fr;
  align-items: center;
}

.input {
  display: block;
  accent-color: hsl(var(--anchor-color));
  height: 1em;
  width: 1em;
}
