* {
  font: inherit;
  color: inherit;
  gap: inherit;
  max-width: 100%;
  padding: 0;
  margin: 0;
}

:host {
  position: sticky;
  top: calc(var(--scrolling-down, 0) * -2.5em);
  transition: top 0.25s var(--easing);
  overflow-x: hidden;
}

.toggle {
  appearance: none;
  display: none;
  aspect-ratio: 1 / 1;
  height: 1.5em;
  border: 0;
  background-color: hsl(0 0% 0% / 0);
  color: var(--anchor-color);
}

@media (max-width: 400px) {
  .toggle {
    display: grid;
  }
}

.toggle-icon {
  height: 1.5em;
}

.menu {
  display: grid;
  transition: 0.25s;
  overflow: hidden;
}

.open {
  grid-template-rows: 1fr;
  padding-block: 1em;
}

@media (max-width: 400px) {
  .not-open {
    grid-template-rows: 0fr;
  }
}

.menu-content {
  min-height: 0;
}
