* {
  font: inherit;
  color: inherit;
  gap: inherit;
  max-width: 100%;
  padding: 0;
  margin: 0;
}

svg {
  aspect-ratio: 1 / 1;
  width: 100%;
  fill: currentColor;
  display: grid;
}

:host {
  position: sticky;
  top: calc(var(--scrolling-down-override, var(--scrolling-down, 0)) * -2.5em);
  transition: top 0.25s var(--easing);
  overflow-x: hidden;
}

@media (min-width: 401px) {
  :host {
    --scrolling-down-override: unset !important;
  }
}

.toggle {
  appearance: none;
  display: none;
  aspect-ratio: 1 / 1;
  height: 1.5em;
  border: 0;
  background-color: hsl(0 0% 0% / 0);
  color: var(--anchor-color);
}

@media (max-width: 400px) {
  .toggle {
    display: grid;
  }
}

.toggle-icon {
  height: 1.5em;
}

.icon-close {
  d: path("M1 4 L4 1 L15 12 L12 15 z M12 1 L15 4 L4 15 L1 12 z");
}

.icon-open {
  d: path(
    "M1 1 L15 1 L15 4.5 L1 4.5 z M1 6.25 L15 6.25 L15 9.75 L1 9.75 z M1 11.5 L15 11.5 L15 15 L1 15 z"
  );
}

.list,
.list--open {
  display: grid;
  transition: 0.25s;
  overflow: hidden;
}

.list--open {
  grid-template-rows: 1fr;
}

@media (max-width: 400px) {
  .list {
    grid-template-rows: 0fr;
  }

  .list--open {
    padding-block-start: 1em;
  }
}

.list-content {
  min-height: 0;
  overflow: hidden;
}
