@layer component {
  :host {
    display: block;
  }

  .icon {
    width: 1.25em;
    aspect-ratio: 1 / 1;
    fill: currentColor;
    display: block;
  }

  .toggle {
    position: fixed;
    top: var(--toggle-top);
    left: var(--toggle-top);
    z-index: 3;
    background-color: hsl(var(--background-1));
    border: var(--toggle-border-width) solid hsl(var(--anchor-color) / 0.5);
    border-radius: 0.25rem;
    box-shadow: var(--toggle-shadow-size) var(--toggle-shadow-size) 0
      hsl(var(--banner-background) / 0.5);
    transition: box-shadow 0.125s ease-in;
    color: hsl(var(--anchor-color));
    height: var(--toggle-height);
    width: var(--toggle-height);
    display: grid;
    place-content: center;
    appearance: none;
    cursor: pointer;
  }

  .nav {
    position: fixed;
    inset: 0;
    z-index: 0;
    width: var(--drawer-width);
    height: 100%;
    overflow: auto;
    display: grid;
    place-content: center;
    gap: 2em;
    font-weight: 500;
  }

  .nav * {
    gap: 0.5em;
  }

  .panel {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-rows: min-content 1fr;
    height: 100%;
    transform: translateX(var(--content-left));
    transition: transform 0.125s ease;
    color: hsl(var(--text-color));
  }

  @media (prefers-reduced-motion) {
    .panel {
      transition: none;
    }
  }
}
