* {
  font: inherit;
  color: inherit;
  gap: inherit;
  max-width: 100%;
  padding: 0;
  margin: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

svg {
  aspect-ratio: 1 / 1;
  width: 100%;
  fill: currentColor;
  display: grid;
}

:host {
  position: sticky;
  top: calc(var(--scrolling-down, 0) * -2.825em);
  transition: top 0.25s cubic-bezier(0.3, 0, 0.3, 0.7);
}

@media (max-width: 400px) {
  :host([open]) {
    --scrolling-down: 0 !important;
  }
}

@supports selector(:focus-visible) {
  :focus {
    outline: none;
    background: hsl(0 0% 0% / 0);
  }

  :focus-visible:where(:not(a)) {
    outline: 0.15em solid currentColor;
    background: hsl(0 0% 0% / 0);
  }

  :focus-visible:where(a) {
    text-decoration-thickness: 0.2em;
  }
}

.nav {
  display: grid;
  transition: none;
  overflow: visible;
  grid-template-rows: auto 0fr;
  align-content: start;
  gap: 0em;
}

@media (max-width: 600px) {
  .nav {
    font-size: 1.25em;
  }
}

.nav:where(.open) {
  grid-template-rows: auto 1fr;
}

@media (max-width: 400px) {
  .nav {
    transition: 0.25s;

    --list-display: none;
  }

  .nav:where(.open) {
    gap: 1em;
    margin-bottom: 0.5em;
  }

  .nav:where(.open, .closing) {
    --list-display: block;
  }
}

.toggle {
  appearance: none;
  display: none;
  aspect-ratio: 1 / 1;
  height: 1.5em;
  border: 0;
  background-color: hsl(0 0% 0% / 0);
  place-content: center;
  border-radius: 3px;
  cursor: pointer;
}

@media (max-width: 400px) {
  .toggle {
    display: grid;
  }
}

.toggleIcon {
  height: 1.5em;
}

.list {
  display: var(--list-display);
  min-height: 0;
  overflow-y: hidden;
}
