@layer component {
  :host {
    display: block;

    --easing: cubic-bezier(0.3, 0, 0.3, 0.7);
  }

  .icon {
    width: 1.25em;
  }

  .toggle {
    position: fixed;
    top: var(--toggle-top);
    left: var(--toggle-top);
    z-index: 3;
    background-color: hsl(var(--background-1));
    border: 0.125rem solid hsl(var(--anchor-color) / 0.5);
    border-radius: 0.25rem;
    box-shadow: var(--toggle-shadow-size) var(--toggle-shadow-size) 0
      hsl(var(--banner-foreground) / 0.5);
    transition: box-shadow 0.25s var(--easing), top 0.25s var(--easing),
      left 0.25s var(--easing);
    color: hsl(var(--anchor-color));
    height: var(--toggle-height);
    width: var(--toggle-height);
    display: grid;
    place-content: center;
    appearance: none;
    cursor: pointer;
  }

  .nav {
    position: fixed;
    inset: 0;
    z-index: 0;
    width: var(--drawer-width);
    height: 100%;
    overflow: auto;
    display: grid;
    place-content: safe center;
    gap: 2em;
    font-weight: 500;
  }

  .nav * {
    gap: 0.5em;
  }

  .panel {
    position: relative;
    z-index: 1;
    display: grid;
    height: 100%;
    transform: translateX(var(--content-left));
    transition: transform 0.25s var(--easing);
    color: hsl(var(--text-color));
    background-color: hsl(var(--background-1));
  }

  .panel > * {
    display: grid;
    grid-template-rows: min-content 1fr;
    height: 100%;
  }

  .panel > [inert] {
    filter: opacity(0.7) blur(1px);
  }

  @media (prefers-reduced-motion) {
    .panel {
      transition: none;
    }
  }
}
