* {
  font: inherit;
  color: inherit;
  max-width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

pre {
  white-space: pre-wrap;
}

code {
  color: var(--code-5);
}

:where(.control, .operator):where(
    :not(.ternary, .comparison, .assignment)
  ).keyword,
:where(.type, .modifier).storage {
  color: var(--code-3);
}

.builtin {
  font-weight: 500;
  color: var(--code-4);
}

.path,
.variable {
  color: var(--code-2);
}

:where(.name).function,
:where(.function-call) .function {
  color: var(--code-4);
  font-style: italic;
}

.string {
  color: var(--code-0);
}

.numeric,
.boolean,
.null,
.undefined {
  color: var(--code-1);
}
