@layer component {
  svg-icon {
    width: 1.25em;
  }

  button {
    position: fixed;
    top: var(--button-top);
    left: var(--button-top);
    transform: var(--button-transform);
    z-index: 3;
    background-color: hsl(var(--primary-background));
    border: 0.125rem solid hsl(var(--anchor-color) / 0.75);
    border-radius: 0.25rem;
    box-shadow: var(--button-shadow-size) var(--button-shadow-size) 0
      hsl(var(--tertiary-background) / 0.75);
    transition: box-shadow 0.25s var(--easing), transform 0.25s var(--easing);
    color: hsl(var(--anchor-color));
    height: var(--button-height);
    width: var(--button-height);
    display: grid;
    place-content: center;
    appearance: none;
    cursor: pointer;
  }

  .nav-content {
    position: fixed;
    inset: 0;
    z-index: 0;
    width: var(--drawer-width);
    height: 100%;
    overflow: auto;
    display: grid;
    place-content: safe center;
    gap: 2em;
    font-weight: 600;
  }

  .nav-content * {
    gap: 0.5em;
  }

  .panel {
    position: relative;
    z-index: 1;
    display: grid;
    height: 100%;
    transform: translateX(var(--drawer-open));
    transition: var(--drawer-transition, transform 0.25s var(--easing));
    color: hsl(var(--text-color));
    background-color: hsl(var(--primary-background));
    box-shadow: -0.25rem 0 0 hsl(var(--tertiary-background) / 0.5);
  }

  .panel > * {
    display: grid;
    grid-template-rows: min-content 1fr;
    height: 100%;
    transition: opacity 0.25s var(--easing);
  }

  .panel > [inert] {
    opacity: 0.7;
    filter: blur(1px);
  }

  @media (prefers-reduced-motion) {
    .panel {
      transition: none;
    }
  }
}
