@layer component {
  svg-icon {
    width: 0.8em;
  }

  .root {
    display: grid;
    gap: 0.5em;
    background-color: hsl(var(--banner-foreground) / 0.125);
    border: 0.0625rem solid hsl(var(--banner-foreground) / 0.5);
    border-radius: 0.25em;
    padding: 1em;
  }

  .helper {
    font-size: 0.8em;
    display: flex;
    gap: 0.25em;
    align-items: center;
  }

  .name {
    text-transform: capitalize;
    white-space: nowrap;
    display: flex;
    gap: 0.25em;
  }
}
