@layer component {
  svg-icon {
    font-size: 0.8em;
  }

  .root {
    display: grid;
    gap: 0.5em;
  }

  .helper {
    font-size: 0.8em;
    display: flex;
    gap: 0.25em;
  }

  .name {
    text-transform: capitalize;
    white-space: nowrap;
    display: flex;
    gap: 0.25em;
  }
}
