@layer component {
  :host {
    display: block;
  }

  .root {
    display: grid;
    gap: var(--space-half);
  }

  .button {
    appearance: none;
    border: none;
    background: none;
    gap: 0.5em;

    --svg-display: block;
  }

  .button > * {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    align-items: center;
  }

  .option {
    display: grid;
    place-content: center;
    height: 1.25em;
    aspect-ratio: 1 / 1;
    border-radius: 0.25rem;
    background: hsl(var(--banner-background));
    box-shadow: inset 0 0 0.125rem hsl(var(--anchor-color));
  }

  .check {
    width: 0.75em;
    aspect-ratio: 1 / 1;
    fill: hsl(var(--anchor-color));
    display: block;
  }

  .name {
    text-transform: capitalize;
    white-space: nowrap;
  }

  .asterisk {
    vertical-align: top;
    margin-inline-start: 0.25em;
  }

  .helper,
  .asterisk {
    font-size: 0.8em;
  }
}
