@layer component {
  svg-icon {
    width: 0.8em;
  }

  :host {
    display: inline-grid;
  }

  .button {
    appearance: none;
    border: none;
    background: none;
    --background-opacity: 0.25;
  }

  [aria-pressed="true"] {
    --background-opacity: 0.5;
  }

  .button > * {
    display: flex;
    align-items: center;
  }

  .option {
    display: grid;
    position: relative;
    height: 1.25em;
    aspect-ratio: 8 / 5;
    background-color: hsl(var(--anchor-color) / var(--background-opacity));
    border: 0.0625rem solid hsl(var(--anchor-color) / 0.5);
    border-radius: 0.25em;
    color: hsl(var(--anchor-color));
  }

  .option::after {
    content: "";
    display: grid;
    position: absolute;
    top: 0.0625em;
    left: 0.125em;
    height: 1em;
    aspect-ratio: 1 / 1;
    background-color: hsl(var(--background-1));
    border: 0.0625em solid hsl(var(--anchor-color) / 0.75);
    border-radius: 0.125em;
    transition: left 0.25s var(--easing);
  }

  [aria-pressed="true"] .option::after {
    left: calc(100% - 1.125em);
  }
}
