@font-face {
  font-family: "Manufacturing Consent";
  src: url(/fonts/ManufacturingConsent-Regular-subset.woff2) format("woff2");
  unicode-range:
    U+45,
    U+72,
    U+69,
    U+63,
    U+6B,
    U+4D,
    U+65,
    U+68,
    U+61,
    U+6E,
    U+74;
}

@font-face {
  font-family: "Work Sans";
  src: url(/fonts/WorkSans-VariableFont_wght-subset.woff2) format("woff2");
  unicode-range: U+20-7E;
}

@font-face {
  font-family: "Work Sans";
  font-style: italic;
  src: url(/fonts/WorkSans-Italic-VariableFont_wght-subset.woff2)
    format("woff2");
  unicode-range: U+20-7E;
}

@font-face {
  font-family: "Fira Code";
  font-weight: 400;
  src: url(/fonts/FiraCode-Regular-subset.woff2) format("woff2");
  unicode-range: U+20-7E;
}

@layer page {
  :not(svg) {
    font: inherit;
  }

  *,
  ::before,
  ::after {
    box-sizing: border-box;
    color: inherit;
    margin: 0;
    max-inline-size: 100%;
    padding: 0;
    border: none;
    -webkit-text-size-adjust: none;
  }

  html {
    block-size: 100%;
    color-scheme: light dark;
    font-family: "Work Sans", system-ui, sans-serif;
    font-weight: 400;
    font-size: 112.5%;
    line-height: 1.5;
    overflow-y: scroll;
    overflow-x: auto;
    scrollbar-gutter: stable;
    overscroll-behavior: none;
    scrollbar-color: currentColor var(--background);
    color: var(--text-color);

    --background: light-dark(oklch(100% 0.04 60), oklch(30% 0 60));
    --text-color: light-dark(oklch(30% 0 60), oklch(100% 0.075 60));
    --link-color: light-dark(
      oklch(from seagreen 50% c h),
      oklch(from seagreen 90% c h)
    );
  }

  body {
    min-block-size: 100%;
  }

  a {
    color: var(--link-color);
    text-decoration-thickness: 0.1em;
    text-underline-offset: 0.15em;
    text-decoration-color: currentColor;
  }

  p {
    text-wrap: pretty;

    @container (inline-size <= 43.5rem) {
      hyphens: auto;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }

  h1,
  h2 {
    line-height: 1.25;
    font-weight: 700;

    a {
      text-decoration-thickness: 0.15em;
    }
  }

  h1 {
    font-size: 1.25rem;
  }

  h2 {
    font-size: 1.125rem;

    :has(header h1) & {
      font-size: 1.25rem;
    }
  }

  h3,
  h4,
  strong {
    font-weight: 600;

    a {
      text-decoration-thickness: 0.13em;
    }
  }

  code {
    font-family:
      "Fira Code", ui-monospace, "Cascadia Code", "Source Code Pro", Menlo,
      Consolas, "DejaVu Sans Mono", monospace;
    font-size: 0.9rem;
  }

  em {
    font-weight: 300;
  }

  del {
    text-decoration: line-through;
    text-decoration-thickness: 0.25em;
    text-decoration-color: oklch(from currentColor l c h / 0.5);
  }

  ul,
  ol {
    list-style-type: disc;
    list-style-position: outside;

    > li {
      padding-inline-start: 0.5rem;
      margin-inline-start: 0.5rem;

      &::marker {
        content: "•";
        font-weight: 900;
      }
    }
  }

  .page {
    background-color: var(--background);
    color: var(--text-color);
    container-type: inline-size;
    display: grid;
    grid-template-columns: 1fr min(100% - 2rem, 40rem) 1fr;
    grid-template-rows: min-content auto min-content;
    row-gap: 1rem;

    > * {
      grid-column: 2;
    }

    > :nth-child(n+3) {
      padding-block-start: 1rem;
      background-image: repeating-linear-gradient(45deg, currentColor);
      background-size: 100% 0.125rem;
      background-repeat: no-repeat;
    }

    > :nth-child(n+3) {
      background-position: center top;
    }
  }

  .banner {
    display: grid;
    grid-template-columns: auto min-content;
    align-items: center;
    padding-block: 1rem;
    gap: 1rem;
  }

  .banner-title {
    font-family: "Manufacturing Consent", system-ui, sans-serif;
    font-weight: normal;
    font-size: clamp(2rem, 7cqi, 4rem);
    line-height: 1;

    a {
      color: var(--text-color);
      text-decoration-thickness: 0.065em;
      text-underline-offset: 0.3em;
    }
  }

  .banner-link {
    margin-block-start: 1rem;
    align-self: center;
    padding: 0.25rem 1rem;
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: 700;
  }

  .footer {
    display: grid;
    gap: 1.5rem 0;
    align-content: center;
    padding-block: 1rem;
    font-weight: 600;
  }

  .footer-list {
    display: grid;
    gap: 1rem 1rem;
    grid-template-columns: max-content max-content max-content;
    justify-content: space-between;
    list-style: none;

    @container (inline-size <= 27.5rem) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .footer-item {
    display: grid;
    align-content: center;
    margin-inline-start: 0;
    padding-inline-start: 0;
  }

  .footer-link {
    text-decoration-thickness: 0.13em;
    white-space: nowrap;
  }

  .rss-link {
    display: grid;
    grid-template-columns: 1.25rem min-content;
    gap: 0.5em;
    padding: 0;
    color: light-dark(
      oklch(from darkorange 50% c h),
      oklch(from darkorange 90% c h)
    );

    .icon {
      display: inline-grid;
      aspect-ratio: 1;
      inline-size: auto;
      block-size: 1.25rem;
      padding: 0.225rem;
      margin-block-start: 0.125rem;
      background: currentColor;
      background-image: linear-gradient(
        -30deg,
        oklch(from currentColor l c h / 0.95) 0 50%,
        currentColor 50%
      );
      box-shadow:
        0 0 0 0.0625em oklch(from currentColor l c h / 0.5),
        inset 0 0 0 0.0625em oklch(from var(--background) l c h / 0.125);
      border-radius: 0.5rem;
      corner-shape: squircle;

      svg {
        fill: var(--background);
      }
    }
  }
}
