@font-face {
	font-family: "Fira Code";
	font-weight: 400;
	src: url(/fonts/FiraCode-Regular-subset.woff2) format("woff2");
	unicode-range: U+20-7E;
}

@layer component {
	code {
		font-family: "Fira Code", monospace;
	}
}
