@layer sub-page {
	.section {
		display: grid;
		row-gap: 0.5rem;
	}

	.section-list {
		display: grid;
		list-style: none;
		row-gap: 0.5rem;
	}

	.section-item {
		border-radius: 0.25rem;
	}

	.title {
		font-weight: 500;
	}

	.title + * {
		font-weight: 300;
	}
}
