@layer sub-page {
  .section {
    display: grid;
    row-gap: 0.5rem;
  }

  .section-list {
    display: grid;
    row-gap: 0.5rem;
  }

  .title {
    font-weight: 600;
  }

  .title + * {
    font-weight: 400;
  }
}
