*,
::before,
::after {
	box-sizing: border-box;
	max-inline-size: 100%;
	padding: 0;
	margin: 0;
	color: inherit;
	font: inherit;
	-webkit-text-size-adjust: none;
}

::-webkit-scrollbar {
	inline-size: 0.5rem;
	block-size: 0.5rem;
}

::-webkit-scrollbar-thumb {
	background-color: var(--link-color);
}

::-webkit-scrollbar-track {
	background-color: var(--main-background);
}

html {
	block-size: 100%;
	font-family: system-ui, sans-serif;
	font-size: 125%;
	font-weight: 400;
	line-height: 1.5;
}

body {
	display: grid;
	container-type: inline-size;
	block-size: 100%;
	background-color: var(--main-background);
	grid-template-rows: min-content auto min-content;
	grid-template-columns:
		[side-start]
		auto
		[center-start] min(100% - 2em, 40rem) [center-end]
		auto
		[side-end];
	color: var(--text-color);
	overflow-x: auto;
	overscroll-behavior: none;
	scrollbar-color: var(--link-color) var(--top-background);
	scrollbar-gutter: stable;
	--border-radius: 0.125em;
	--easing: ease-in-out;

	> * {
		grid-column: 1 / -1;

		@container (inline-size <= 42rem) {
			font-size: 0.8em;
		}
	}

	@media (prefers-color-scheme: light) {
		--text-color: oklch(0.1 0 0);
		--top-background: oklch(0.95 0.01 200);
		--alt-background: oklch(0.975 0 0);
		--main-background: oklch(1 0 0);
		--link-color: oklch(0.4 0.4 200);
		--code-color: oklch(0.4 0.2 200);
	}

	@media (prefers-color-scheme: dark) {
		--text-color: oklch(0.9 0 0);
		--top-background: oklch(0.3 0.01 200);
		--alt-background: oklch(0.2 0 0);
		--main-background: oklch(0.1 0 0);
		--link-color: oklch(0.8 0.4 200);
		--code-color: oklch(0.8 0.2 200);
	}
}

top-bar {
	position: sticky;
	z-index: 2;
	inset-block-start: calc(
		var(--scrolling-down, 0) * calc(-1 * var(--block-size))
	);
	display: grid;
	background-color: var(--top-background);
	padding-block: 1.5em;
	border-block-end: 0.25rem solid var(--main-background);
	grid-template-columns: subgrid;
	gap: 1em 0;
	color: var(--link-color);
	font-weight: 900;
	transition: inset-block-start 0.25s var(--easing);
	view-transition-name: top-bar;
	--block-size: 4.5em;

	> :where(nav) {
		grid-column: center-start / center-end;
	}
}

main {
	z-index: 1;
	display: grid;
	background-color: var(--main-background);
	padding-block: 1em 3em;
	grid-template-columns: subgrid;
	gap: 1em 0;
	align-content: start;

	> * {
		grid-column: center-start / center-end;
		inline-size: 100%;
		margin-inline: auto;
	}
}

a {
	color: var(--link-color);
	text-decoration-thickness: 0.1em;
	text-underline-offset: 0.1em;
	transition: text-decoration-thickness 0.125s var(--easing);

	&:focus-visible,
	&:active {
		text-decoration-skip-ink: none;
		text-decoration-thickness: 0.2em;
		text-underline-offset: 0.2em;
	}
}

p {
	@container (inline-size <= 42rem) {
		hyphens: auto;
	}
}

h1,
h2,
h3 {
	font-weight: 900;
	text-wrap: balance;
}

h1,
h2 {
	line-height: 1.25;
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1.25em;
}

strong {
	font-weight: 700;
}

em {
	font-family: Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;
	font-style: italic;
}

code {
	background-color: var(--alt-background);
	padding-inline: 0.25em;
	color: var(--code-color-0);
	font-family: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas,
		"DejaVu Sans Mono", monospace;
	font-weight: normal;
}

@supports selector(:focus-visible) {
	:focus {
		outline: none;
	}
}

.heading {
	display: grid;
	gap: 0.25em;
}

.date {
	display: inline flex;
	font-size: 0.8em;
	font-weight: 700;
	background-color: var(--top-background);
	padding-block: 0.125em;
	padding-inline: 0.5em;
	border-radius: var(--border-radius);
}

.content {
	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: subgrid;
	gap: 1em 0;

	> * {
		grid-column: center-start / center-end;
	}

	:where(ul, ol) {
		padding-inline-start: 1em;
	}
}

.interstitial {
	display: grid;
	background-color: var(--alt-background);
	padding-block: 1em;
	padding-inline: 1em;
	border-radius: var(--border-radius);
	gap: 0.5em;

	:where(cite) {
		display: inline flex;
		gap: 0.5em;

		&::before {
			content: "—";
		}
	}
}

.code-block {
	display: grid;
	border-radius: var(--border-radius);
	tab-size: 2;
	overflow-x: auto;
	counter-reset: lines 0;
	overscroll-behavior-x: none;
	--white-space: pre-wrap;

	:where(code) {
		position: relative;
		display: grid;
		grid-template-columns: max-content auto;
		color: var(--code-color);
		word-break: break-word;
		white-space: var(--white-space);

		> * {
			background-color: var(--alt-background);
			padding-block: 0.125em;
			padding-inline: 1em;
		}

		> :where(:nth-child(-n + 2)) {
			padding-block-start: 1em;
		}

		> :where(:nth-last-child(-n + 2)) {
			padding-block-end: 1em;
		}

		> :where(:nth-child(odd)) {
			position: sticky;
			inset-inline-start: 0.25em;
			background-color: var(--alt-background);
			padding-inline: 1em;
			border-inline-end: 0.25em solid var(--main-background);
			box-shadow: -1em 0 0 0 var(--alt-background);
			color: var(--text-color);
			counter-increment: lines 1;

			&::before {
				display: grid;
				justify-content: end;
				content: counter(lines, decimal);
			}
		}
	}

	@container (inline-size <= 42rem) {
		grid-column: side-start / side-end;
		border-radius: 0;
		--white-space: pre;
	}
}

.footer {
	position: sticky;
	z-index: 0;
	inset-block-end: 0;
	display: grid;
	background-color: var(--alt-background);
	padding-block: 1.5em;
	grid-template-columns: subgrid;
	align-content: center;
	justify-content: center;
	font-weight: 500;

	> * {
		grid-column: center-start / center-end;
		display: flex;
		flex-wrap: wrap;
		gap: 0.5em 2em;
		align-items: center;
		justify-content: center;
		list-style: none;

		> * {
			display: inline flex;
			align-items: center;
		}
	}
}

.rss-link {
	display: inline flex;
	gap: 0.5em;
	align-items: center;

	:where(svg) {
		display: block;
		inline-size: 1.125em;
		block-size: 1.125em;
		background-color: var(--link-color);
		padding: 0.125em;
		border-radius: var(--border-radius);
		fill: var(--alt-background);
	}
}

.index {
	display: grid;
	gap: 1.25em;
	list-style: none;
	font-weight: 700;

	> * {
		display: grid;
		gap: 0.25em;
	}
}
