@font-face {
	font-family: "Inter";
	src:
		local("Inter"),
		url("/fonts/Inter/InterVariable-subset.woff2?v=1") format("woff2");
}

:where(:not(svg)) {
	font: inherit;
}

*,
::before,
::after {
	box-sizing: border-box;
	color: inherit;
	margin: 0;
	max-inline-size: 100%;
	padding: 0;
	-webkit-text-size-adjust: none;
}

html {
	block-size: 100%;
	color-scheme: light dark;
	font-family: "Inter", system-ui, sans-serif;
	font-size: 125%;
	line-height: 1.5;
	overflow-y: scroll;
	overflow-x: auto;
	scrollbar-gutter: stable;
	overscroll-behavior: none;
	scrollbar-color: currentColor var(--background);
}

body {
	min-block-size: 100%;
}

a {
	text-decoration-thickness: 0.1em;
	text-underline-offset: 0.15em;
	transition: text-underline-offset 0.25s 0.25s;

	&:hover,
	&:focus-visible {
		outline: none;
		text-underline-offset: 0.3em;
	}

	&:focus-visible {
		transition-delay: 0s;
	}
}

p {
	text-wrap: pretty;

	@container (inline-size <= 44rem) {
		hyphens: auto;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

h1,
h2 {
	line-height: 1.25;
	font-weight: 900;

	:where(a) {
		text-decoration-thickness: 0.15em;
	}
}

h1 {
	font-size: 1.25rem;
}

h2 {
	font-size: 1.125rem;
}

:where(:has(nav h1)) {
	h2 {
		font-size: 1.25rem;
	}
}

h3,
h4,
strong {
	font-weight: 700;
}

em {
	font-weight: 200;
}

svg {
	block-size: 1em;
	display: inline grid;
	fill: currentColor;

	:where(a) & {
		float: left;
		margin-inline-end: 0.5em;
		margin-block-start: 0.225em;
	}
}

.page {
	background-color: var(--background);
	color: var(--foreground);
	container-type: inline-size;
	display: grid;
	grid-template-columns: auto 3rem min(100% - 8rem, 40rem) 3rem auto;
	grid-template-rows: min-content auto min-content;
	row-gap: 1rem;
	font-weight: 300;
	--easing: ease-in-out;
	--background: light-dark(oklch(100% 0.025 100), oklch(25% 0.2 200));
	--foreground: light-dark(oklch(25% 0 0), oklch(100% 0 0));

	> * {
		grid-column: 3;

		@container (inline-size <= 44rem) {
			grid-column: 2 / -2;
		}
	}

	> :where(:nth-child(1n + 3)) {
		padding-block-start: 1rem;
		background-image: repeating-linear-gradient(
			90deg,
			transparent 0 0.125rem,
			currentColor 0.125rem 1.125rem,
			transparent 1.125rem 1.25rem
		);
		background-position: center top;
		background-size: calc(round(down, 100%, 1.25rem) - 1.25rem) 0.15rem;
		background-repeat: no-repeat;
	}
}

.nav {
	display: grid;
	padding-block: 1rem 0;

	> * {
		line-height: 1.5;
		font-size: clamp(1.25rem, 7cqi, 2rem);
		font-weight: 900;
	}

	:where(a) {
		text-decoration-thickness: 0.15em;
	}
}

.title-plus {
	display: grid;
	grid-template-columns: max-content auto;
	align-items: baseline;
	column-gap: 0.5em;
	row-gap: 0.125em;
	font-weight: 700;

	:where(:nth-child(3)) {
		grid-column: 2;

		&:where(p) {
			font-weight: 300;
		}

		&:where(time) {
			font-weight: 200;
			font-size: 0.8em;
		}
	}
}

.footer {
	display: grid;
	gap: 1.5rem 0;
	align-content: center;
	padding-block: 1rem;
	font-weight: 700;

	:where(ul) {
		display: grid;
		gap: 1rem 2rem;
		grid-template-columns: max-content max-content 1fr;
		justify-items: end;
		list-style: none;

		@container (inline-size <= 27.5rem) {
			display: flex;
			flex-wrap: wrap;
		}
	}

	:where(li) {
		display: grid;
	}

	:where(a) {
		text-decoration-thickness: 0.125em;
	}
}

.rss-link {
	:where(svg) {
		background: currentColor;
		fill: var(--background);
		padding: 0.125em;
		border-radius: 0.125rem;
	}
}
