@layer component {
	.highlighted {
		text-align: left;
		white-space: pre;
		word-spacing: normal;
		word-break: normal;
		word-wrap: normal;
		line-height: 1.5;
		-moz-tab-size: 4;
		-o-tab-size: 4;
		tab-size: 4;
		-webkit-hyphens: none;
		-moz-hyphens: none;
		-ms-hyphens: none;
		hyphens: none;
	}

	.highlighted {
		overflow: auto;
	}

	.token-cdata,
	.token-comment,
	.token-doctype,
	.token-prolog {
		color: light-dark(oklch(from gray 45% c h), oklch(from gray 80% c h));
	}

	.token-punctuation,
	.token-operator {
		color: light-dark(oklch(from gray 45% c h), oklch(from gray 80% c h));
	}

	.token-namespace {
		opacity: 0.7;
	}

	.token-constant,
	.token-deleted,
	.token-property,
	.token-symbol,
	.token-tag {
		color: light-dark(oklch(from wheat 45% c h), oklch(from wheat 80% c h));
	}

	.token-attr-name,
	.token-builtin,
	.token-char,
	.token-inserted,
	.token-selector,
	.token-string,
	.token-regex {
		color: light-dark(oklch(from plum 45% c h), oklch(from plum 80% c h));
	}

	.token-entity,
	.token-url {
		color: light-dark(oklch(from teal 45% c h), oklch(from teal 80% c h));
	}

	.token-atrule,
	.token-attr-value,
	.token-keyword {
		color: light-dark(
			oklch(from forestgreen 45% c h),
			oklch(from forestgreen 80% c h)
		);
	}

	.token-class-name,
	.token-function {
		color: light-dark(oklch(from coral 45% c h), oklch(from coral 80% c h));
	}

	.token-important,
	.token-variable,
	.token-boolean,
	.token-number {
		color: light-dark(oklch(from hotpink 45% c h), oklch(from hotpink 80% c h));
	}

	.token-bold,
	.token-important {
		font-weight: 700;
	}

	.token-italic {
		font-style: italic;
	}

	.token-entity {
		cursor: help;
	}
}
