@layer component {
	.highlighted {
		text-align: left;
		white-space: pre;
		word-spacing: normal;
		word-break: normal;
		word-wrap: normal;
		line-height: 1.5;
		-moz-tab-size: 4;
		-o-tab-size: 4;
		tab-size: 4;
		-webkit-hyphens: none;
		-moz-hyphens: none;
		-ms-hyphens: none;
		hyphens: none;
	}

	.highlighted {
		overflow: auto;
	}

	.token-cdata,
	.token-comment,
	.token-doctype,
	.token-prolog {
		color: light-dark(oklch(from gray 55% c h), oklch(from gray 80% c h));
	}

	.token-punctuation {
		color: light-dark(
			oklch(from slategray 55% c h),
			oklch(from slategray 80% c h)
		);
	}

	.token-attr-value,
	.token-builtin,
	.token-char,
	.token-inserted,
	.token-regex,
	.token-atrule {
		color: light-dark(
			oklch(from goldenrod 55% c h),
			oklch(from goldenrod 80% c h)
		);
	}

	.token-keyword,
	.token-tag {
		color: light-dark(oklch(from skyblue 55% c h), oklch(from skyblue 80% c h));
	}

	.token-attr-name,
	.token-class-name,
	.token-function,
	.token-function-name,
	.token-rule,
	.token-selector,
	.token-options,
	.token-options * {
		color: light-dark(
			oklch(from orangered 55% c h),
			oklch(from orangered 80% c h)
		);
	}

	.token-important,
	.token-variable,
	.token-boolean,
	.token-number,
	.token-constant,
	.token-symbol {
		color: light-dark(oklch(from plum 55% c h), oklch(from plum 80% c h));
	}

	.token-string,
	.token-deleted,
	.token-property {
		color: light-dark(oklch(from wheat 55% c h), oklch(from wheat 80% c h));
	}

	.token-bold,
	.token-important {
		font-weight: 700;
	}

	.token-italic {
		font-style: italic;
	}
}
