* {
	box-sizing: border-box;
	font: inherit;
	margin: 0;
	max-inline-size: 100%;
	padding: 0;
}

html {
	background-color: white;
	block-size: 100%;
	color: black;
	font-family: system-ui, sans-serif;
	font-weight: 400;
	line-height: 1.25;

	@media print {
		font-size: 12px;
	}
}

body {
	min-block-size: 100%;
	display: grid;
	justify-items: safe center;
	container-type: inline-size;
}

.grid {
	background-size: 1rlh 1rlh;
	background-image: linear-gradient(
		to bottom,
		oklch(from skyblue 70% c h / 0.5) 1px,
		transparent 1px
	);
}

h1 {
	font-size: 2.25rem;
	line-height: 1.125;
	font-weight: 900;
}

h2 {
	font-size: 1.25rem;
	line-height: 1;
	font-weight: 900;
}

h3 {
	line-height: 1.25;
	font-weight: 600;
}

a {
	color: hsl(200 70% 40%);
	text-underline-offset: 0.15em;
}

ul,
ol {
	list-style: none;
}

.layout {
	display: grid;
	gap: 1rlh;
	inline-size: 100%;
	padding: 1rlh;

	@container (inline-size > 45rem) {
		display: grid;
		grid-template-columns: min-content auto;
		place-content: start;
	}

	@media print {
		padding: 0;
	}

	@media screen {
		max-inline-size: 50rem;
	}
}

.header {
	grid-column: 1 / -1;
	white-space: nowrap;
	display: grid;

	@container (inline-size > 45rem) {
		grid-template-columns: 1fr auto;
		align-items: baseline;
	}
}

.contacts {
	display: flex;
	flex-wrap: wrap;
	column-gap: 2ex;
}

.skills {
	display: grid;
	grid-column: 1 / -1;
	row-gap: 1rlh;

	:where(ul) {
		display: flex;
		flex-wrap: wrap;
		column-gap: 2ex;
	}
}

.timeline {
	display: grid;
	grid-column: 1 / -1;
	grid-template-columns: subgrid;
	gap: 1rlh 2ex;

	:where(h2) {
		grid-column: 1 / -1;
	}

	:where(ol) {
		display: grid;
		grid-column: 1 / -1;
		grid-template-columns: subgrid;
		gap: 1rlh 2ex;

		> * {
			display: grid;
			grid-column: 1 / -1;

			@container (inline-size > 45rem) {
				grid-column: 1 / -1;
				grid-template-columns: subgrid;
				grid-template-rows: repeat(4, max-content) auto;
			}
		}

		:where(h3) {
			font-style: normal;
			white-space: nowrap;
		}

		:where(.time) {
			grid-column: 1;
			align-self: stretch;
			white-space: nowrap;
		}

		:where(.organization) {
			grid-column: 1;
			white-space: normal;
		}

		:where(.location) {
			grid-column: 1;
			white-space: normal;
		}

		:where(.details) {
			@container (inline-size > 45rem) {
				grid-column: 2;
				grid-row: 1 / -1;
			}
		}

		:where(ul) {
			list-style: disc;
			list-style-position: outside;
			margin-inline-start: 2ex;
		}
	}
}

.references {
	display: grid;
	grid-column: 1 / -1;

	:where(p) {
		font-style: italic;
		grid-column: 1 / -1;
	}
}
