* {
	box-sizing: border-box;
	font: inherit;
	margin: 0;
	max-inline-size: 100%;
	padding: 0;
}

html {
	background-color: white;
	block-size: 100%;
	color: black;
	font-family: system-ui, sans-serif;
	font-weight: 400;
	line-height: 1.5;

	@media print {
		font-size: 13px;
	}
}

body {
	min-block-size: 100%;
	display: grid;
	justify-items: safe center;
	container-type: inline-size;
}

h1 {
	font-size: 1.5rem;
	font-weight: 900;

	@container (inline-size > 45rem) {
		font-size: 2rem;
	}
}

h2 {
	font-size: 1rem;
	font-weight: 900;
}

h3 {
	font-size: 1rem;
	font-weight: 600;
}

a {
	color: hsl(200 70% 40%);
	text-underline-offset: 0.15em;
}

ul,
ol {
	list-style: none;
}

.layout {
	display: grid;
	gap: 1rem;
	inline-size: 100%;
	padding: 1rem;

	@container (inline-size > 45rem) {
		display: grid;
		grid-template-columns: min-content auto;
		padding: 1rem;
		place-content: start;
	}

	@media print {
		padding: 0;
	}

	@media screen {
		max-inline-size: 50rem;
	}
}

.header {
	grid-column: 1 / -1;
	white-space: nowrap;
	display: grid;
	gap: 0.25rem 1rem;
}

.contacts {
	grid-column: 1 / -1;
	display: flex;
	flex-wrap: wrap;
	gap: 0.25rem 1rem;
}

.skills {
	display: grid;
	gap: 0.5rem;
	grid-column: 1 / -1;

	:where(ul) {
		display: flex;
		flex-wrap: wrap;
		gap: 0.25rem 1rem;
	}
}

.timeline {
	display: grid;
	grid-column: 1 / -1;
	grid-template-columns: subgrid;
	gap: 0.5rem;

	:where(ol) {
		display: grid;
		grid-column: 1 / -1;
		grid-template-columns: subgrid;
		gap: 1rem;

		> * {
			display: grid;
			grid-column: 1 / -1;
			gap: 0;

			@container (inline-size > 45rem) {
				grid-column: 1 / -1;
				grid-template-columns: subgrid;
				grid-template-rows: repeat(4, max-content) auto;
				gap: 0 3rem;
			}
		}

		:where(h3) {
			font-style: normal;
			white-space: nowrap;
		}

		:where(.time) {
			grid-column: 1;
			align-self: stretch;
			white-space: nowrap;
		}

		:where(.organization) {
			grid-column: 1;
			white-space: normal;
		}

		:where(.location) {
			grid-column: 1;
			white-space: normal;
		}

		:where(ul) {
			list-style: disc;
			list-style-position: inside;
			margin-inline-start: 0.25rem;

			@container (inline-size > 45rem) {
				grid-column: 2;
				grid-row: 1 / -1;
			}
		}
	}
}

.references {
	display: grid;
	grid-column: 1 / -1;

	:where(p) {
		font-style: italic;
		grid-column: 1 / -1;
	}
}
