///////////////////////////////////////////////////////////////////////////////
//
//  Basic Application Layout
//
///////////////////////////////////////////////////////////////////////////////

body {
    margin: 0;
}

.content {

    @include outer-container;
    @include pad(.5em);

    > div {
      @include row(block, RTL);
    }
}

[role="main"] {
    margin-top: 0.5em;
}

@include media($full-view) {

    [role="main"], [role="navigation"] {
        margin-top: 0.5em;
    }

    [role="navigation"] {
        @include span-columns(4);
    }

    [role="main"] {

        @include span-columns(8);
    }

    [role="contentinfo"] {

        @include span-columns(12);
    }

    [role="main"], [role="contentinfo"] {
        @include omega();

        > * {
            margin-left: $base-border-radius;
            margin-right: $base-border-radius;
        }
    }
}
