///////////////////////////////////////////////////////////////////////////////
//
//  Basic Application Layout
//
///////////////////////////////////////////////////////////////////////////////

body {
    margin: 0;
}

.cols {

    @include outer-container;
    @include pad(.5em);

    > div {
      @include row(block, RTL);
    }
}

.col-1 {
    margin-bottom: 0.5em;
}

@include media($full-view) {

    .col-1, .col-2 {
        margin-top: 0.5em;
    }

    .col-1 {
        @include span-columns(4);
    }

    .col-2 {

        @include span-columns(8);
        @include omega();
    }
}
