
@mixin breakpoint($point) {

  @if $point == medium-screen-only {

    @media (min-width: $medium-screen) and (max-width: $large-screen) {

        @content;
    }
  }

  @if $point == medium-screen-up {

    @media (min-width: $medium-screen) {

        @content;
    }
  }

  @if $point == large-screen-up {

    @media (min-width: $large-screen) {

        @content;
    }
  }
}

@mixin headings($scale, $base-font-size: $base-font-size) {

    h1 {
      font-size: $base-font-size * (1 + ($scale * 5)); // 16 * 2.25 = 36px
    }

    h2 {
      font-size: $base-font-size * (1 + ($scale * 4)); // 16 * 2 = 32px
    }

    h3 {
      font-size: $base-font-size * (1 + ($scale * 3)); // 16 * 1.75 = 28px
    }

    h4 {
      font-size: $base-font-size * (1 + ($scale * 2)); // 16 * 1.5 = 24px
    }

    h5 {
      font-size: $base-font-size * (1 + $scale); // 16 * 1.25 = 20px
    }

    h6 {
      font-size: $base-font-size;
    }
}
