/* http://prismjs.com/download.html?themes=prism&languages=markup+twig+css+clike+javascript+php+scss */
/*!
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

pre {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
	background: #f5f4f4;
}

/* Inline code */
:not(pre) > code {
	font-family: $base-font-family;
	font-style: italic;
}

pre code {
	color: black;
	text-shadow: 0 1px white;
	font-family: Consolas, Monaco, 'Andale Mono', monospace;
	direction: ltr;
	text-align: left;
	white-space: pre-wrap;
	word-spacing: normal;
	word-break: normal;
	tab-size: 4;
	hyphens: none;
}

pre::selection code, pre code::selection, pre code ::selection {
	text-shadow: none;
	background: #b3d4fc;
}

@media print {
	pre code {
		text-shadow: none;
	}
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}

.token.punctuation {
	color: #999;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol {
	color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.builtin {
	color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	color: #a67f59;
	// background: hsla(0,0%,100%,.5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #07a;
}

.token.function {
	color: #DD4A68;
}

.token.regex,
.token.important {
	color: #e90;
}

.token.important {
	font-weight: bold;
}

.token.entity {
	cursor: help;
}
