$theme-header-background: #cfcfd0;
$button-background: darken(#fff, 5%);

html {
    background: #FCFCFC;
    overflow-y: scroll;
}

body { background: #FCFCFC; }

[role="banner"] {
    font-family: $header-font-family;
    font-weight: 700;
    color: $base-font-color;
    line-height: 1;
    padding: 1.5em * 0.8;


    div {
        font-size: $base-font-size * 1.75;
    }

    span {
        display: block;
        font-size: $base-font-size / 1.75;
        color: $base-font-color;
        margin-top: 0.5em;
    }

    @media screen {
        background-color: $theme-header-background;
        box-shadow: inset 0 0 0.25em darken($theme-header-background, 15%);
        text-shadow: 0px 2px 3px lighten($theme-header-background, 15%);
    }

    @media print {
        padding: 0;

        div {
            font-size: $base-font-size * 3;
        }

        span {
            font-size: $base-font-size / 3 * 1.25;
        }
    }

    @include media($mid-view) {
        padding: 3em * 0.8;

        div {
            font-size: $base-font-size * 3;
        }

        span {
            font-size: $base-font-size / 3 * 1.25;
        }
    }

    @include media($full-view) {
        padding: 4.5em * 0.8;

        div {
            font-size: $base-font-size * 4.5;
        }

        span {
            font-size: $base-font-size / 4.5 * 1.5;
        }
    }
}

.inner-navigation {

    @extend %well;

    > {
        :nth-child(n+2)
        {
            padding-right: $base-border-radius;
            padding-left: $base-border-radius;
        }

        a {
            display: block;
            padding-top: 0.4em;
            padding-bottom: 0.4em;

            i {
                width: 1em;
                display: inline-block;
            }
        }

        .divider {
            height: 1px;
            overflow: hidden;
            background-color: $base-border-color;
            margin: 0.4em $base-border-radius;
        }
    }
}

// a.read {
//     @extend %button;
// }

.pagination {
    @extend %well;
    margin-top: 1em;
    text-align: center;
    @include clearfix;

    > {
        a {
            @extend %button;

            .geomicon {
                fill: $base-font-color;
            }

            &:hover .geomicon {
                fill: $base-font-color;
            }
        }

        span {
            @extend %button-disabled;

            .geomicon {
                fill: opacify($base-font-color, 0.8);
            }
        }

        a, span {
            display: inline-block;
            margin: 0.25em 0.5em;
        }
    }

    .current {
        font-weight: bold;
    }
}

.info, .share {

    > * {
        margin-right: 0.5em;
    }

    a {
        display: inline-block;
    }
}

[itemprop="text"] {
    @include clearfix;

    ul {
        @extend %default-ul;
    }

    ol {
        @extend %default-ol;
    }

    @media print {

        a,
        a:visited {
            text-decoration: underline;
        }

        a[href]:after {
            content: " (" attr(href) ")";
        }

        abbr[title]:after {
            content: " (" attr(title) ")";
        }

        /*
         * Don't show links for images, or javascript/internal links
         */

        a[href^="javascript:"]:after,
        a[href^="#"]:after,
        a.content:after {
            content: "";
        }
    }

    img {
        padding: 4px;
        border: 1px solid $base-font-color;
        border-radius: $base-border-radius;
        box-shadow: 0 1px 3px rgba(0,0,0,.055);
        margin: 1em 0;
    }
}

[type="text"][name="q"] {
    width: 100%;

    &:focus {
        @include placeholder {
            color: lighten($base-link-color, 5%);
        }
    }
}

@media print {
    .inner-navigation, .pagination, .share {

        display: none;
    }
}
