@import "normalize";
// @import "print";

/*!
 * bitters.css
*/
@import "bourbon/bourbon";
@import 'base/grid-settings';
@import "neat/neat";
@import "base/base";
@import "geomicons";
@import "prism";

/*!
 * site.css
*/
html {
    overflow-y: scroll;
}

.column-a {
    background: $dark-gray;
    @include background(url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAPCAQAAAC/mnxTAAAANUlEQVQoU2N4JskA
BMjkcwl0ElkcwqYzwOUMTEcii9MZ4HfeIAlJ/OGGywt0BsQ4CVMNfQEATxgs1NYh
+awAAAAASUVORK5CYII="), linear-gradient(180deg, lighten($dark-gray, 1), darken($dark-gray, 10)), center no-repeat lighten($dark-gray, 1) scroll);

    @include pad(.5em);
}

.column-b {
    @include outer-container;
    @include pad(.5em);
    max-width: em(608);
}

[role="banner"] {
    color: white;

    h1 {
        font-weight: 800;
    }

    p {
        font-weight: bold;
    }
}

[role="navigation"] {
    margin-top: 1em;
    text-align: center;

    a {
        text-align: left;
        color: white;
        display: inline-block;
        margin: .5em;

        &:hover {
            color: white;
        }

        & .geomicon {
            fill: white;
            margin-right: .25em;
        }
    }
}

[itemprop="text"] {
    @include clearfix;

    ul {
        @extend %default-ul;
    }

    ol {
        @extend %default-ol;
    }

    img {
        // padding: 4px;
        // border: 1px solid $medium-gray;
        // border-radius: $base-border-radius;
        box-shadow: 0 1px 3px rgba(0,0,0,.055);
        margin: 1em 0 0 0;
    }
}

.pagination {
    text-align: center;

    a {
        @extend %button;
        margin: 0 .5em;
    }

    span {
        @extend %button;
        margin: 0 .5em;
        background: $light-gray;

        &:hover {
            background: $light-gray;
        }
    }
}

[role="contentinfo"] {
    margin-top: 1em;
}

[role="search"] {

    @include clearfix();
    text-align: center;
}

@include media($medium-screen-up) {

    .column-a {
        padding: .5em 1em;
    }

    [role="search"] {

        [type="text"] {
            float: right;
            width: 64%;
        }

        [type="submit"] {
            float: right;
            width: 31%;
            margin-right: 1em;
        }
    }
}

@include media($large-screen-up) {

    .column-a {
        width: 30%;
        height: 100%;
        padding: 1em;
        position: fixed;
        top: 0;
        left: 0;
        overflow: auto;
    }

    .column-b {
        margin-left: 35%;
        margin-top: .5em;
    }

    [role="navigation"] {
        margin-top: 3em;

        a {
            display: block;
            margin: 1em 0;
        }
    }
}
