{%- include "/vars.jinja" -%}

{%- from "/elements/page-nav.jinja" import page_nav -%}

<!DOCTYPE html>
<html lang="en-US">

<head>
	<meta charset="utf-8">
	<meta name="view-transition" content="same-origin">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{site.description}}">
	<title>{% block title %}{{site.title}}{% endblock %}</title>
	<script type="importmap">
		{
			"imports": {
				"element": "/element.js"
			}
		}
	</script>
	<script type="module" src="/element.js"></script>
	<script type="module" src="/elements/page-nav.js"></script>
	{% block modules %}{% endblock %}
	<link rel="stylesheet" href="/page.css">
	<link rel="preload" href="/elements/page-nav.css" as="style">
	{% block stylesheets %}{% endblock %}
	<link rel="icon" href="/favicon.svg" type="image/svg+xml">
</head>

<body>
	{% call page_nav() %}
	<ul class="navList">
		<li><a href="/">Posts</a></li>
		<li><a href="https://github.com/erickmerchant/my-blog">View Source</a></li>
	</ul>
	{% endcall %}
	<main class="main">
		{% block main %}
		{% endblock %}
	</main>
	<footer class="footer">
		<p class="copyright">&copy; {{year()}} {{site.author}}</p>
	</footer>
</body>

</html>
