<!DOCTYPE html>
<html lang="en-US">

<head>
	<meta charset="utf-8">
	<meta name="view-transition" content="same-origin">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{site.description}}">
	<title>{% block title %}{{site.title}}{% endblock %}</title>
	<script type="module" src="/elements/top-bar.js"></script>
	<link rel="stylesheet" href="/styles/page.css">
	<link rel="icon" href="/favicon.svg" type="image/svg+xml">
	{% block rss_alternates %}{% endblock %}
</head>

<body class="page">
	<top-bar class="page-nav">
		<nav>
			<a href="/">{{site.title}}</a>
		</nav>
	</top-bar>
	<main class="main">
		{% block main %}{% endblock %}
	</main>
	<footer class="footer">
		<ul class="footer-links">
			<li>&copy; {{current_date() | format_date("%Y")}} {{site.author}}</li>
			<li><a href="https://github.com/erickmerchant/my-blog">View Source</a></li>
			<li>{% block rss_link %}{% endblock %}</li>
		</ul>
	</footer>
</body>

</html>
