{%- include "/vars.jinja" -%}

{%- macro nav_list(class) -%}
<ul class="{{class}}">
	<li><a href="/">Posts</a></li>
	<li><a href="/channels/posts/rss/" type="application/rss+xml">RSS Feed</a></li>
	<li><a href="https://github.com/erickmerchant/my-blog">View Source</a></li>
</ul>
{%- endmacro -%}

{%- from "/elements/page-nav.jinja" import page_nav -%}

<!DOCTYPE html>
<html lang="en-US">

<head>
	<meta charset="utf-8">
	<meta name="view-transition" content="same-origin">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{site.description}}">
	<title>{{site.title}} — {% if entry.title %}{{entry.title}}{% else %}Untitled{% endif %}</title>
	<script type="importmap">
		{
			"imports": {
				"element": "/theme/element.js"
			}
		}
	</script>
	<script type="module" src="/theme/element.js"></script>
	<script type="module" src="/theme/elements/page-nav.js"></script>
	{% for k in entry.elements %}
	<script type="module" src="{{ '/theme/elements/' + k + '.js' }}"></script>
	{% endfor %}
	<link rel="stylesheet" href="/theme/page.css">
	<link rel="preload" href="/theme/elements/page-nav.css" as="style">
	{% for k in entry.elements %}
	<link rel="preload" href="{{ '/theme/elements/' + k + '.css' }}" as="style">
	{% endfor %}
	<link rel="icon" href="/theme/favicon.svg" type="image/svg+xml">
</head>

<body>
	{% call page_nav() %}
	{{nav_list("navList")}}
	{% endcall %}
	<main class="main">
		{% block main %}
		{% endblock %}
	</main>
	<footer class="footer">
		{{nav_list("footerNavList")}}
		<p>&copy; {{year()}} {{site.author}}</p>
	</footer>
</body>

</html>
