{% extends "layouts/base.jinja" %}

{% macro sub_heading(entry, tags) %}
{% if entry.date or tags %}
<div class="sub-heading">
	{% if entry.date %}
	<p class="published">
		<time>{{entry.date | format_date("%B %e, %Y")}}</time>
	</p>
	{% endif %}
	{% if tags %}
	<ul class="tags">
		{% for t in tags %}
		<li><a href="/tags/{{t.slug}}/">{{t.slug}}</a></li>
		{% endfor %}
	</ul>
	{% endif %}
</div>
{% endif %}
{% endmacro %}

{% macro list_entries(entries) %}
<ol class="index">
	{% for (e, tags) in entries %}
	<li>
		<header>
			<h2><a href="/{{e.category}}/{{e.slug}}/">{% if e.title %}{{e.title}}{% else %}Untitled{% endif %}</a></h2>
			{{sub_heading(e, tags)}}
		</header>
		{% if e.description %}
		<p>{{e.description}}</p>
		{% endif %}
	</li>
	{% endfor %}
</ol>
{% endmacro %}

{% block title %}
{{site.title}} {% if entry.title %}— {{entry.title}}{% else %}Untitled{% endif %}
{% endblock %}

{% block modules %}
{% for k in entry.elements %}
<script type="module" src="{{ '/theme/elements/' + k + '.js' }}"></script>
{% endfor %}
{% endblock %}

{% block stylesheets %}
{% for k in entry.elements %}
<link rel="preload" href="{{ '/theme/elements/' + k + '.css' }}" as="style">
{% endfor %}
{% endblock %}

{% block main %}
<header>
	<h1>{% if entry.title %}{{entry.title}}{% else %}Untitled{% endif %}</h1>
	{{sub_heading(entry, entry_tags)}}
</header>

{{entry.content}}
{% endblock %}
