{% extends "layouts/base.jinja" %}

{% block main %}
<header>
	<h1>{{entry.title}}</h1>
	{% if entry.date %}
	<p class="published">
		<time>{{entry.date | format_date("%B %e, %Y")}}</time>
	</p>
	{% endif %}
</header>

{{entry.content}}

{% if entry.query and entry.query.results %}
<ol class="index">
	{% for e in entry.query.results %}
	<li>
		<h2><a href="/posts/{{e.slug}}/">{{e.title}}</a></h2>
		{% if e.date %}
		<p class="published"><time>{{e.date | format_date("%B %e, %Y")}}</time></p>
		{% endif %}
		<p>{{e.description}}</p>
	</li>
	{% endfor %}
</ol>
{% endif %}
{% endblock %}
