{% extends "layouts/base.jinja" %}

{% block main %}
<div>
	<h1>{{page.title}}</h1>
	{{page.content | safe}}
</div>
<ol class="index">
	{% for p in pages %}
	<li>
		<h2><a href="/{{p.category}}/{{p.slug}}/">{{p.title}}</a></h2>
		<p class="published"><time>{{p.date | format_date("%B %e, %Y")}}</time></p>
		<p>{{p.description}}</p>
	</li>
	{% endfor %}
</ol>
{% endblock %}
