{%- macro nav_list(class) -%}
  <ul class="{{class}}">
    <li><a href="/">Posts</a></li>
    <li><a href="/posts.rss">RSS Feed</a></li>
    <li><a href="https://github.com/erickmerchant/my-blog">View Source</a></li>
  </ul>
{%- endmacro -%}

{%- include "vars.jinja" -%}

<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{description}}">
    <title>{{page.title}} | {{title}}</title>
    <script type="module" src="/components/page-nav.js"></script>
    {% for component in page.components %}
      <script type="module" src="/components/{{component}}.js"></script>
    {% endfor %}
    <link rel="stylesheet" href="/page.css">
    <link rel="preload" href="/components/page-nav.css" as="style">
    {% for component in page.components %}
      <link rel="preload" href="/components/{{component}}.css" as="style">
    {% endfor %}
    <link rel="preload" href="/fonts/Chivo/Chivo-VariableFont_wght-subset.woff2" as="font" crossorigin="anonymous">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  </head>
  <body>
    <page-nav class="nav">
      {{nav_list("navList")}}
    </page-nav>
    <main class="main">
      {% block main %}
      {% endblock %}
    </main>
    <footer class="footer">
      {{nav_list("footerNavList")}}
      <p class="copyright">© {{copyright}}</p>
    </footer>
    {%- include "/components/page-nav.jinja" -%}
  </body>
</html>

