{% set entry = {
"title": "Page Not Found",
"description": "That page was moved, removed, or never existed.",
"elements": []
} %}

{% extends "layouts/base.jinja" %}

{% block main %}
<h1>{{entry.title}}</h1>
<p>{{entry.description}}</p>
{% endblock %}
