{% extends "layouts/base.jinja" %}

{% block title %}{{site.title}} - Page Not Found{% endblock %}

{% block main %}
	<header class="heading">
		<h1>Page Not Found</h1>
	</header>

	<p>That page was moved, removed, or never existed.</p>
{% endblock %}
