<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0">
  <channel>
    <title>{{site.title}}</title>
    <link>{{site.base}}</link>
    <copyright>© {{year()}} {{site.author}}</copyright>
    {% for page in posts %}
      <item>
        <title>{{page.title}}</title>
        <link>{{site.base}}{{page.category}}/{{page.slug}}.html</link>
        <pubDate>{{page.date | format_date("%a, %d %h %Y")}} 00:00:00 +0000</pubDate>
        <description><![CDATA[{{page.content | safe}}]]></description>
      </item>
    {% endfor %}
  </channel>
</rss>
