<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0">
  <channel>
    <title>ErickMerchant.com</title>
    <link>https://erickmerchant.com</link>
    <copyright>© 2023 Erick Merchant</copyright>
    {% for page in posts %}
      <item>
        <title>{{page.title}}</title>
        <link>https:://erickmerchant.com/{{page.category}}/{{page.slug}}.html</link>
        <pubDate>{{page.date | format_date_string("%a, %d %h %Y")}} 00:00:00 +0000</pubDate>
        <description><![CDATA[{{page.content | safe}}]]></description>
      </item>
    {% endfor %}
  </channel>
</rss>
