{% set page = post %}

{% extends "layouts/base.jinja" %}

{% block main %}
<header>
	<h1>{{post.title}}</h1>
	<p class="published">
		{% if post.date %}
		<time>{{post.date | format_date("%B %e, %Y")}}</time>
		{% endif %}
	</p>
</header>

{{post.content}}
{% endblock %}
