{%- include "/vars.jinja" -%}

<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0">
	<channel>
		<title>{{title}}</title>
		<link>{{host}}</link>
		<copyright>© {{year()}} {{author}}</copyright>
		{% for p in posts %}
		<item>
			<title>{{p.title}}</title>
			<link>{{host + "/posts/" + p.slug + "/"}}</link>
			<pubDate>{{p.date | format_date("%a, %d %h %Y")}} 00:00:00 +0000</pubDate>
			<description>
				<![CDATA[{{p.content}}]]>
			</description>
		</item>
		{% endfor %}
	</channel>
</rss>
