:root {
  --figtree: "Figtree",system-ui,sans-serif;
}

@font-face {
  font-family: "Figtree";
  src: url(/fonts/figtree-300-900-normal-latin-abff9c58.woff2) format("woff2");
  unicode-range: U+20-7e,U+a9,U+2014;
  font-weight: 300 900;
  font-style: normal;
}
