:root {
  --nunito: "Nunito",Georgia,ui-serif,serif;
}

@font-face {
  font-family: "Nunito";
  src: url(/fonts/nunito-800-normal-latin-RXJpY2sgTWVoYW50.woff2)
    format("woff2");
  unicode-range: U-69,U-114,U-105,U-99,U-107,U-32,U-77,U-101,U-104,U-97,U-110,U-116;
  font-weight: 800;
  font-style: normal;
}
