:root {
  --overpass-mono: "Overpass Mono",ui-monospace,monospace;
}

@font-face {
  font-family: "Overpass Mono";
  src: url(/fonts/overpass-mono-400-normal-latin-cb2a9233.woff2)
    format("woff2");
  unicode-range: U+20-7e;
  font-weight: 400;
  font-style: normal;
}
