* {
    box-sizing: border-box;
}

h1, .h1 {
    font-size: calc(var(--h4) + ((var(--h1) - var(--h4)) / 2));
}

h2, .h2 {
    font-size: calc(var(--h4) + ((var(--h2) - var(--h4)) / 2));
}

h3, .h3 {
    font-size: calc(var(--h4) + ((var(--h3) - var(--h4)) / 2));
}

blockquote {
    border-left: var(--border-width) solid var(--border-color);
}

blockquote, blockquote p {
    font-size: 1rem;
}

cite:before {
    content: '\2014 \00A0';
}

dt {
    font-weight: bold;
}

dd {
    margin-left: 0;
}
