blockquote {
    border-left: 1px solid #c3c9c9;
}

blockquote, blockquote p {
    font-size: 1rem;
}

cite:before {
    content: '\2014 \00A0';
}

pre {
    overflow: auto;
    padding: 1rem;
}

pre code {
    white-space: pre-wrap;
}

dt {
    font-weight: bold;
}

dd {
    margin-left: 0;
}
