@media (--breakpoint-md) {

    h1, .h1 {
        font-size: 2rem;
    }

    h2, .h2 {
        font-size: 1.5rem;
    }

    h3, .h3 {
        font-size: 1.25rem;
    }

    h4, .h4 {
        font-size: 1rem;
    }

    h5, .h5 {
        font-size: .875rem;
    }

    h6, .h6 {
        font-size: .75rem;
    }
}
