@import 'basscss';
@import "./basscss-adjustments.css";
@import "./responsive-headings.css";
@import "./button-disabled.css";
@import "./bolds.css";
@import "./icons.css";
@import "./prism.css";

:root {
    --font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --heading-font-weight: 800;
    --container-width: 40em;
}
