@import "basscss-base";
@import "basscss-utilities";
@import "basscss-grid";
@import "basscss-table-object";
@import "basscss-color-basic";
@import "./basscss-adjustments.css";
@import "./button-disabled.css";
@import "./bolds.css";
@import "./icons.css";
@import "./prism.css";

:root {
    --font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --heading-font-weight: 800;
    --container-width: 40em;
}

.nav {
    inherit: .bg-dark-gray, .h3, .semi-bold, .p2, .center;
}

.nav a {
    inherit: .m1, .inline-block, .white;
}

.nav a:hover {
    text-decoration: none;
}

.main {
    inherit: .container, .px2;
}

.copyright {
    inherit: .p1, .center, .mid-gray;
}

.pagination {
    inherit: .center, .p2;
}

.pagination .button {
    inherit: .m1;
}

.pagination a {
    inherit: .button-blue;
}

.pagination span {
    inherit: .button-gray, .button-disabled;
}

.post header time {
    inherit: .h3, .semi-bold;
}

.posts dt {
    inherit: .h3;
}

.posts dd {
    inherit: .mb1;
}

.post img {
    inherit: .border, .mt1, .mb1, .p1, .rounded;
}

.unfound {
    inherit: .center;
}

.unfound .button {
    inherit: .button-blue, .h3;
}

.unfound .field-light {
    inherit: .h3;
}
