<template shadowroot="open">
  <style>
    {{ inline_css("theme/common.css") }}
    {{ inline_css("theme/elements/page-nav.css") }}
  </style>
  <nav class="nav" id="nav">
    <button class="toggle" id="toggle" aria-label="Toggle Nav List" aria-pressed="false">
      <svg class="toggleIcon" aria-hidden="true" viewBox="0 0 16 16">
        <path id="icon"></path>
      </svg>
    </button>
    <slot></slot>
  </nav>
</template>
