@layer base {
  * {
    font: inherit;
    color: inherit;
    gap: inherit;
    max-width: 100%;
    padding: 0;
    margin: 0;
  }

  *,
  ::before,
  ::after {
    box-sizing: border-box;
  }

  ::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--scrollbar-foreground);
    border-radius: var(--border-radius);
  }

  ::-webkit-scrollbar-track {
    background: var(--scrollbar-background);
  }

  a {
    color: var(--anchor-color);
    text-underline-offset: 0.2em;
    text-decoration-thickness: 0.1em;
  }

  p {
    hyphens: auto;
  }

  h1,
  h2,
  h3 {
    line-height: 1.125;
  }

  h1 {
    font-size: 2em;
    font-weight: 900;
  }

  h2 {
    font-size: 1.25em;
    font-weight: 800;
  }

  h3,
  dt,
  strong {
    font-size: 1em;
    font-weight: 700;
  }

  dl,
  ul,
  ol {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
  }

  li {
    margin-inline-start: var(--list-indent);
  }

  :host {
    display: block;
  }

  @supports selector(:focus-visible) {
    :focus {
      outline: none;
      background: hsl(0 0% 0% / 0);
    }
  }

  :focus-visible {
    outline: 2px solid var(--anchor-color-transparent);
    background: hsl(0 0% 0% / 0);
  }
}

@layer theme {
  body {
    --easing: cubic-bezier(0.3, 0, 0.3, 0.7);
  }

  @media (prefers-color-scheme: light) {
    body {
      --anchor-color: hsl(120 70% 30%);
      --anchor-color-transparent: hsl(120 70% 30% / 0.75);
      --text-color: hsl(0 0% 10%);
      --primary-background: hsl(0 0% 100%);
      --secondary-background: hsl(120 10% 95%);
      --tertiary-background: hsl(120 10% 60%);
    }
  }

  @media (prefers-color-scheme: dark) {
    body {
      --anchor-color: hsl(120 70% 70%);
      --anchor-color-transparent: hsl(120 70% 70% / 0.75);
      --text-color: hsl(0 0% 100%);
      --primary-background: hsl(0 0% 10%);
      --secondary-background: hsl(120 10% 15%);
      --tertiary-background: hsl(120 10% 40%);
    }
  }
}
