@custom-media --mobile (max-width: 768px);

@font-face {
  font-display: swap;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 100 900;
  src: url("/fonts/Public_Sans/PublicSans-VariableFont_wght-subset.woff2")
    format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Public Sans";
  font-style: italic;
  font-weight: 100 900;
  src: url("/fonts/Public_Sans/PublicSans-Italic-VariableFont_wght-subset.woff2")
    format("woff2");
}

* {
  font: inherit;
  color: inherit;
  box-sizing: border-box;
  max-width: 100%;
  padding: 0;
  margin: 0;
}

html {
  font: 300 140% / 1.5 "Public Sans", system-ui, sans-serif;
  height: 100%;

  --space: 2rem;
  --space-half: 1rem;
  --space-quarter: 0.5rem;

  @media (--mobile) {
    --space: 1rem;
    --space-half: 0.5rem;
    --space-quarter: 0.25rem;
  }

  @media (prefers-color-scheme: light), screen {
    --primary-color: 100 20% 55%;
    --anchor-color: 100 50% 30%;
    --text-color: 100 10% 25%;
    --background-color: 0 0% 100%;
    --nav-background-color: 100 10% 90%;
  }

  @media (prefers-color-scheme: dark) {
    --primary-color: 100 15% 50%;
    --anchor-color: 100 50% 65%;
    --text-color: 0 0% 100%;
    --background-color: 100 5% 30%;
    --nav-background-color: 100 10% 35%;
  }
}

body {
  height: 100%;
  background: var(--gradient-1) 0 0, var(--gradient-1) 2px 2px;
  background-color: hsl(var(--nav-background-color));
  background-size: 4px 4px;

  --gradient-1: radial-gradient(
    hsl(var(--background-color)) 15%,
    hsl(var(--nav-background-color)) 16%
  );
}

a {
  color: hsl(var(--anchor-color));
  text-underline-offset: 0.125em;
}

/* no js base styles. specificity: 0 2 0 */
.Page {
  &.self {
    position: relative;
    display: block;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;

    --content-left: 0;
    --drawer-width: max(768px, 50vw);

    &:where([open]) {
      --content-left: var(--drawer-width);
    }
  }
}

.Nav {
  &.button {
    display: none;
  }
}

.Links {
  &.self {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: var(--space-quarter);
  }

  &.link {
    font-weight: 500;
    --anchor-color: var(--text-color);
  }
}

.Panel {
  &.self {
    display: flex;
    flex-direction: column;
    flex: auto;
  }
}

.Banner {
  &.self {
    position: relative;
    background-color: hsl(var(--background-color));
    background-image: repeating-linear-gradient(35deg, var(--gradient-1)),
      repeating-linear-gradient(125deg, var(--gradient-1)),
      repeating-linear-gradient(150deg, var(--gradient-2)),
      repeating-linear-gradient(240deg, var(--gradient-2));
    background-attachment: scroll;
    color: hsl(var(--text-color));
    display: grid;
    align-content: end;
    justify-items: center;
    min-height: max(6em, 37.5vh);
    width: 100%;
    padding: 0 var(--space-half);

    --gradient-1: hsla(var(--background-color) / 0.3),
      hsla(var(--background-color) / 0.3) 1px,
      hsl(var(--primary-color) / 0.3) 1px, hsl(var(--primary-color) / 0.3) 20px;
    --gradient-2: hsla(var(--background-color) / 0.5),
      hsla(var(--background-color) / 0.5) 0.5px,
      hsl(var(--primary-color) / 0.5) 0.5px,
      hsl(var(--primary-color) / 0.5) 15.5px,
      hsla(var(--background-color) / 0.5) 15.5px,
      hsla(var(--background-color) / 0.5) 17.5px,
      hsl(var(--primary-color) / 0.5) 17.5px,
      hsl(var(--primary-color) / 0.5) 22.5px;
  }

  &.heading {
    font-size: 1.5em;
    font-weight: 900;
    max-width: 40rem;
    margin-block-end: 0.5rem;
    width: 100%;
    text-align: left;
  }
}

.Content {
  &.self {
    flex: auto;
    display: flex;
    flex-direction: column;
    color: hsl(var(--text-color));
    background-color: hsl(var(--background-color));
    padding: 0 var(--space-half) var(--space-half);
    width: 100%;

    & > * {
      max-width: 40rem;
      width: 100%;
      margin: var(--space-half) auto 0;
    }
  }

  &.heading {
    font-weight: 900;
    font-size: 1.25em;
  }

  &.sub-heading {
    font-weight: 700;
    font-size: 1em;
  }

  &.list {
    list-style-position: inside;
    padding-inline-start: var(--space-quarter);
  }

  &.definition-list {
    & > :where(:not(:first-child)) {
      margin-block-start: var(--space-half);
    }
  }

  &.definition-heading {
    font-weight: 700;
  }
}

.Home {
  &.posts {
    display: flex;
    flex-direction: column;
    gap: var(--space);
    list-style: none;
  }

  &.post {
    display: flex;
    flex-direction: column;
    gap: var(--space-half);
  }

  &.post-title {
    font-weight: 900;
    font-size: 1.25em;
  }
}

.Footer {
  &.self {
    display: flex;
    color: hsl(var(--text-color));
    background-color: hsl(var(--background-color));
    padding: 0 var(--space-half) var(--space-half);
    width: 100%;
  }

  &.copyright {
    max-width: 40rem;
    width: 100%;
    margin: var(--space-half) auto 0;
    font-size: 0.75em;
  }
}

/* no js styles. specificity: 0 2 0  */
.Page:where(:not(:defined)) {
  &.self {
    display: flex;
    flex-direction: column;
  }

  & * {
    &.Links {
      &.self {
        flex-wrap: wrap;
        flex-direction: row;
        gap: var(--space);
        padding: var(--space-half);
      }
    }
  }
}

/* js enhancement styles. specificity: 0 3 0  */
:host(:where([mounted])) {
  & .Nav {
    &.button {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 3;
      appearance: none;
      cursor: pointer;
      border: 0;
      background-color: hsl(0 0% 0% / 0);
      color: hsl(var(--anchor-color));
      height: 2em;
      width: 2em;
      display: grid;
      place-content: center;
    }

    &.triangle {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      display: block;
      width: 0;
      height: 0;
      border: 0;
      border-top: 3.75em solid hsla(var(--background-color));
      border-right: 3.75em solid hsla(0 0% 0% / 0);
    }

    &.icon {
      display: block;
      height: 1em;
      width: 1em;
      pointer-events: none;
      fill: currentColor;
    }

    &.links {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      width: var(--drawer-width);
      height: 100%;
      display: grid;
      place-items: center;
    }
  }

  & .Panel {
    &.self {
      position: relative;
      z-index: 1;
      transform: translateX(var(--content-left));
      transition: transform 0.25s ease;
      display: grid;
      grid-template-rows: min-content 1fr;
      height: 100%;
    }
  }
}
