@custom-media --mobile (max-width: 670px);
@custom-media --tablet (max-width: 1100px);

/* 0 0 0 */

* {
  font: inherit;
  color: inherit;
  max-width: 100%;
  padding: 0;
  margin: 0;

  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

/* 0 0 1 */

html {
  font: 300 125% / 1.5 system-ui, -apple-system;

  --anchor-weight: 400;
  --space: 2rem;
  --space-half: 1rem;
  --space-quarter: 0.5rem;
  --max-width: 40rem;

  &,
  & body {
    overflow-x: hidden;
  }

  @media (--mobile) {
    font-size: 100%;

    --space: 1rem;
    --space-half: 0.5rem;
    --space-quarter: 0.25rem;
  }
}

::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-foreground);
  border-radius: 0.5em;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-background);
}

a {
  color: hsl(var(--anchor-color));
  text-underline-offset: 0.2em;
  text-decoration-thickness: 0.1em;
  font-weight: var(--anchor-weight);
}

page-app {
  position: relative;
  display: grid;
  grid-template-rows: 0 1fr;
  height: 100vh;
  overflow-x: hidden;
  background-color: hsl(var(--nav-background));
  background-image: radial-gradient(
    hsl(var(--text-color) / 0.0625) 25%,
    hsl(var(--nav-background)) 25%
  );
  background-size: 0.25em 0.25em;

  --content-left: 0;
  --drawer-width: 50vw;
  --nav-top: 0.5rem;
  --nav-border-width: 0.125rem;
  --nav-height: 2.25rem;

  --anchor-color: 100 60% 30%;
  --code-color: 100 60% 25%;
  --text-color: 100 5% 10%;
  --background: 0 0% 100%;
  --nav-background: 100 5% 90%;
  --code-background: 100 5% 95%;
  --banner-background: 100 20% 75%;

  --scrollbar-foreground: hsl(var(--anchor-color) / 0.5);
  --scrollbar-background: hsl(var(--background));
  scrollbar-color: var(--scrollbar-foreground) var(--scrollbar-background);

  &:where([color-scheme="dark"]) {
    --anchor-color: 100 60% 70%;
    --code-color: 100 60% 80%;
    --text-color: 0 0% 100%;
    --background: 100 5% 10%;
    --nav-background: 100 5% 15%;
    --code-background: 100 5% 17.5%;
    --banner-background: 100 20% 27.5%;
  }

  &:where([open]) {
    --content-left: var(--drawer-width);
  }

  @media (--tablet) {
    --drawer-width: calc(100% - 1rem);
  }
}

/* 0 1 0 */

.icon {
  width: 1em;
  aspect-ratio: 1 / 1;
  pointer-events: none;
  fill: currentColor;
  display: inline-grid;
}

.nav-toggle {
  position: fixed;
  top: var(--nav-top);
  left: var(--nav-top);
  z-index: 2;
  background-color: hsl(var(--background));
  border: var(--nav-border-width) solid hsl(var(--banner-background) / 0.5);
  border-radius: 0.25em;
  color: hsl(var(--anchor-color));
  height: var(--nav-height);
  aspect-ratio: 1 / 1;
  display: grid;
  place-content: center;
  appearance: none;
  cursor: pointer;
}

.nav-content {
  position: fixed;
  inset: 0;
  z-index: 0;
  width: var(--drawer-width);
  height: 100%;
  display: grid;
  overflow: auto;
}

.nav-content-inner {
  margin: auto;
  padding: 3em 4em;
  display: grid;
  gap: 2em;
  font-weight: 400;
  border-radius: 0.25em;
}

.color-scheme-selector {
  display: grid;
  gap: var(--space-quarter);
  color: hsl(var(--text-color));

  & :where(h6) {
    font-weight: 600;
  }

  & :where(ul) {
    list-style: none;
    display: grid;
    gap: 0.5em;
  }

  & :where(li) {
    display: grid;
    gap: 0.5em;
    grid-template-columns: max-content 1fr;
    align-items: center;
  }

  & :where(input) {
    display: block;
    accent-color: hsl(var(--anchor-color));
    height: 1em;
    width: 1em;
  }
}

.panel {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-rows: min-content 1fr;
  height: 100%;
  transform: translateX(var(--content-left));
  transition: transform 0.125s ease;

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: -0.125em;
    top: 0;
    height: 100%;
    width: 0.125em;
    background-color: hsl(var(--background) / 0.5);
  }

  @media (prefers-reduced-motion) {
    transition: none;
  }
}

.links {
  list-style: none;
  display: grid;
  gap: var(--space-quarter);

  --anchor-weight: 500;
}

.banner {
  position: sticky;
  top: calc(
    calc(var(--nav-top) + var(--nav-top) + var(--nav-height)) - var(--height)
  );
  background-color: hsl(var(--banner-background));
  background-image: linear-gradient(
      hsl(var(--background)) 1px,
      hsl(0 0% 0% / 0) 1px
    ),
    linear-gradient(90deg, hsl(var(--background)) 1px, hsl(0 0% 0% / 0) 1px);
  background-size: 1em 1em;
  background-position: -1px -1px;
  color: hsl(var(--text-color));
  display: grid;
  align-content: end;
  justify-items: center;
  height: var(--height);
  width: 100%;
  padding-inline: var(--space-half);

  --height: 12rem;

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -0.125em;
    left: 0;
    width: 100%;
    height: 0.125em;
    background-color: hsl(var(--banner-background) / 0.5);
  }
}

.main {
  color: hsl(var(--text-color));
  background-color: hsl(var(--background));
  padding-block: 0 var(--space-half);
  width: 100%;
  overflow-x: auto;

  & > * {
    max-width: var(--max-width);
    width: 100%;
    padding-inline: var(--space-half);
    margin-block-start: var(--space-half);
    margin-inline: auto;
  }

  & :where(p) {
    hyphens: auto;
  }

  & :where(h1) {
    font-size: 1.625em;
    font-weight: 900;

    --anchor-weight: 900;
  }

  & :where(h2) {
    font-size: 1.375em;
    font-weight: 800;

    --anchor-weight: 800;
  }

  & :where(h3) {
    font-size: 1.1875em;
    font-weight: 700;

    --anchor-weight: 700;
  }

  & :where(h4, dt) {
    font-size: 1.0625em;
    font-weight: 600;

    --anchor-weight: 600;
  }

  & :where(dt, dd):where(:not(:first-child)) {
    margin-block-start: var(--space-half);
  }

  & :where(code-block) {
    display: block;
    max-width: calc(var(--max-width) + 6rem);
    width: 100%;

    @media (--tablet) {
      max-width: var(--max-width);
    }

    @media (--mobile) {
      max-width: 100%;
      padding: 0;
    }
  }
}

.code-block {
  white-space: pre-wrap;

  & :where(code) {
    display: grid;
    grid-template-columns: min-content auto;
    gap: 0 1em;
    overflow-x: auto;
    font-size: 0.875rem;
    font-family: ui-monospace, Consolas, monaco, monospace;
    background-color: hsl(var(--code-background));
    border-radius: 0.25em;
    color: hsl(var(--code-color));
    counter-reset: lines;

    @media (--mobile) {
      border-radius: 0;
    }
  }

  & :where(.line) {
    padding-inline-end: 1em;

    &:nth-child(2) {
      padding-block-start: var(--space-half);
    }

    &:last-child {
      padding-block-end: var(--space-half);
    }
  }

  & :where(.number) {
    text-align: right;
    counter-increment: lines;
    color: hsl(var(--code-color) / 0.75);
    filter: grayscale(1);
    padding-inline: 1em;

    &:first-child {
      padding-block-start: var(--space-half);
    }

    &:nth-last-child(2) {
      padding-block-end: var(--space-half);
    }

    &:before {
      content: counter(lines);
    }
  }
}

.post-list {
  display: grid;
  gap: var(--space-half);
  list-style: none;

  & :where(li) {
    display: grid;
    gap: var(--space-quarter);
  }
}

.post-date {
  font-style: italic;
  font-size: 0.875em;
}

.footer {
  color: hsl(var(--text-color));
  background-color: hsl(var(--background));
  width: 100%;

  & :where(p) {
    max-width: var(--max-width);
    padding: var(--space-half);
  }
}

.copyright {
  max-width: var(--max-width);
  width: 100%;
  margin-block-start: var(--space-half);
  margin-inline: auto;
  font-size: 0.875em;
}

/* 0 1 1 */

page-app:where(:not(:defined)) {
  display: flex;
  flex-direction: column;
  gap: 0;
  height: 100%;

  & .main {
    flex: auto;
  }

  & .links {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    flex-direction: row;
    gap: var(--space);
    padding: var(--space-half);
  }
}
