@custom-media --mobile (max-width: 415px);

/* 0 0 0 */

* {
  font: inherit;
  color: inherit;
  box-sizing: border-box;
  max-width: 100%;
  padding: 0;
  margin: 0;
}

/* 0 0 1 */

html {
  font: 300 125% / 1.5 system-ui, -apple-system;
  height: 100%;

  --anchor-weight: 400;
  --space: 2rem;
  --space-half: 1rem;
  --space-quarter: 0.5rem;
  --max-width: 40rem;

  @media (--mobile) {
    font-size: 100%;

    --space: 1rem;
    --space-half: 0.5rem;
    --space-quarter: 0.25rem;
    --max-width: 20rem;
  }
}

body {
  height: 100%;
}

a {
  color: hsl(var(--anchor-color));
  text-underline-offset: 0.2em;
  text-decoration-thickness: 0.1em;
  font-weight: var(--anchor-weight);
}

page-app {
  position: relative;
  display: block;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: hsl(var(--nav-background));
  background-image: radial-gradient(
    hsl(var(--background)) 15%,
    hsl(var(--nav-background)) 16%
  );
  background-size: 0.25em 0.25em;

  --content-left: 0;
  --drawer-width: max(38.4em, 50vw);

  --anchor-color: 150 60% 30%;
  --text-color: 150 5% 10%;
  --background: 0 0% 100%;
  --nav-background: 150 5% 85%;
  --banner-background: 150 17.5% 70%;

  &:where([color-scheme="dark"]) {
    --anchor-color: 150 60% 70%;
    --text-color: 0 0% 100%;
    --background: 150 5% 10%;
    --nav-background: 150 5% 15%;
    --banner-background: 150 17.5% 20%;
  }

  &:where([open]) {
    --content-left: var(--drawer-width);
  }
}

/* 0 1 0 */

.icon {
  display: inline-grid;
  width: 1em;
  aspect-ratio: 1 / 1;
  pointer-events: none;
  fill: currentColor;
}

.nav-toggle {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  appearance: none;
  cursor: pointer;
  border: 0;
  background: hsl(0 0% 0% / 0);
  color: hsl(var(--anchor-color));
  width: 2em;
  aspect-ratio: 1 / 1;
  display: grid;
  place-content: center;
}

.nav-triangle {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: block;
  width: 0;
  aspect-ratio: 1 / 1;
  border: 0;
  border-top: 3.75em solid hsl(var(--background));
  border-right: 3.75em solid hsl(0 0% 0% / 0);
}

.nav-content {
  position: absolute;
  inset: 0;
  z-index: 0;
  width: var(--drawer-width);
  height: 100%;
  display: grid;
  place-content: center;
  gap: 2em;
  font-weight: 400;
}

.color-scheme-selector {
  display: grid;
  gap: 0.5em;
  color: hsl(var(--text-color));

  & :where(h6) {
    font-weight: 600;
  }

  & :where(ul) {
    list-style: none;
    display: grid;
    gap: 0.5em;
  }

  & :where(li) {
    display: grid;
    gap: 0.5em;
    grid-template-columns: max-content 1fr;
    align-items: center;
  }

  & :where(input) {
    display: block;
    accent-color: hsl(var(--anchor-color));
    height: 1em;
    width: 1em;
  }
}

.panel {
  position: relative;
  z-index: 1;
  transform: translateX(var(--content-left));
  transition: transform 0.25s ease;
  display: grid;
  grid-template-rows: min-content 1fr;
  height: 100%;
}

.links {
  list-style: none;
  display: grid;
  gap: var(--space-quarter);
  --anchor-weight: 500;
}

.banner {
  position: relative;
  background-color: hsl(var(--banner-background));
  background-image: linear-gradient(
      hsl(var(--background)) 1px,
      hsl(0 0% 0% / 0) 1px
    ),
    linear-gradient(90deg, hsl(var(--background)) 1px, hsl(0 0% 0% / 0) 1px);
  background-size: 1em 1em;
  background-position: -1px -1px;
  background-attachment: fixed;
  color: hsl(var(--text-color));
  display: grid;
  align-content: end;
  justify-items: center;
  min-height: 12rem;
  width: 100%;
  padding-inline: var(--space-half);

  & > * {
    font-size: 1.625em;
    font-weight: 900;
    max-width: var(--max-width);
    margin-block-end: var(--space-quarter);
    width: 100%;
    text-align: left;
  }
}

.content {
  color: hsl(var(--text-color));
  background: hsl(var(--background));
  padding: var(--space-half);
  width: 100%;

  & > * {
    max-width: var(--max-width);
    width: 100%;
    margin-block-start: var(--space-half);
    margin-inline: auto;
  }

  & :where(h2) {
    font-size: 1.375em;
    font-weight: 800;
    --anchor-weight: 800;
  }

  & :where(h3) {
    font-size: 1.1875em;
    font-weight: 700;
    --anchor-weight: 700;
  }

  & :where(h4, dt) {
    font-size: 1.0625em;
    font-weight: 600;
    --anchor-weight: 600;
  }

  & :where(dt, dd):where(:not(:first-child)) {
    margin-block-start: var(--space-half);
  }
}

.post-list {
  display: grid;
  gap: var(--space);
  list-style: none;

  & :where(li) {
    display: flex;
    flex-direction: column;
    gap: var(--space-quarter);
  }
}

.post-date {
  font-style: italic;
  font-size: 0.875em;
}

.footer {
  color: hsl(var(--text-color));
  background: hsl(var(--background));
  padding: var(--space-half);
  width: 100%;
}

.copyright {
  max-width: var(--max-width);
  width: 100%;
  margin-block-start: var(--space-half);
  margin-inline: auto;
  font-size: 0.875em;
}

/* 0 1 1 */

page-app:where(:not(:defined)) {
  display: flex;
  flex-direction: column;
  gap: 0;
  height: 100%;

  & .content {
    flex: auto;
  }

  & .links {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    flex-direction: row;
    gap: var(--space);
    padding: var(--space-half);
  }
}
