@custom-media --mobile (max-width: 670px);
@custom-media --tablet (max-width: 1100px);

/* 0 0 0 */

* {
  font: inherit;
  font-weight: var(--font-weight);
  color: inherit;
  gap: inherit;
  max-width: 100%;
  padding: 0;
  margin: 0;

  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

/* 0 0 1 */

::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-foreground);
  border-radius: 0.5em;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-background);
}

html {
  font-size: 125%;
  line-height: 1.5;
  font-family: system-ui, -apple-system;
  overflow-x: hidden;

  --font-weight: 300;
  --space: 2rem;
  --space-half: 1rem;
  --space-quarter: 0.5rem;
  --max-width: 40rem;

  @media (--mobile) {
    font-size: 100%;

    --space: 1rem;
    --space-half: 0.5rem;
    --space-quarter: 0.25rem;
  }
}

body {
  overflow-x: hidden;
}

a {
  color: hsl(var(--anchor-color));
  text-underline-offset: 0.2em;
  text-decoration-thickness: 0.1em;
  font-weight: min(calc(var(--font-weight) + 100), 900);
}

p {
  hyphens: auto;
}

h1 {
  font-size: 1.625rem;

  --font-weight: 900;
}

h2 {
  font-size: 1.375rem;

  --font-weight: 800;
}

h3 {
  font-size: 1.1875rem;

  --font-weight: 700;
}

h4,
dt {
  font-size: 1.0625rem;

  --font-weight: 600;
}

dl,
ul,
ol {
  display: grid;
  list-style: none;
}

code-block {
  display: grid;
  width: 100%;
  overflow-x: auto;

  --has-extra-width: 1;

  @media (--mobile) {
    --has-padding-inline: 0;
  }
}

page-layout {
  position: relative;
  display: grid;
  grid-template-rows: 0 1fr;
  height: 100vh;
  overflow-x: hidden;
  background-color: hsl(var(--background-2));
  background-image: radial-gradient(
    hsl(var(--text-color) / 0.0625) 25%,
    hsl(var(--background-2)) 25%
  );
  background-size: 0.25rem 0.25rem;

  --content-left: 0;
  --drawer-width: 50vw;
  --toggle-top: 0.5rem;
  --toggle-border-width: 0.125rem;
  --toggle-height: 2.25rem;
  --scrollbar-foreground: hsl(var(--anchor-color) / 0.5);
  --scrollbar-background: hsl(var(--background-1));
  scrollbar-color: var(--scrollbar-foreground) var(--scrollbar-background);

  &:where([open]) {
    --content-left: var(--drawer-width);
  }

  @media (--tablet) {
    --drawer-width: calc(100vw - 1rem);
  }
}

/* 0 1 0 */

[inert] {
  filter: blur(2px);
}

[color-scheme="light"] {
  --anchor-color: 100 60% 30%;
  --code-color: 100 60% 25%;
  --text-color: 100 5% 10%;
  --background-1: 0 0% 100%;
  --background-2: 100 5% 90%;
  --background-3: 100 5% 95%;
  --banner-background: 100 20% 75%;
  --banner-foreground: 0 0% 100%;
}

[color-scheme="dark"] {
  --anchor-color: 100 60% 70%;
  --code-color: 100 60% 80%;
  --text-color: 0 0% 100%;
  --background-1: 100 5% 12.5%;
  --background-2: 100 5% 17.5%;
  --background-3: 100 5% 20%;
  --banner-background: 100 20% 27.5%;
  --banner-foreground: 100 30% 40%;
}

.banner {
  position: sticky;
  top: calc((var(--toggle-top) * 2) + var(--toggle-height) - var(--height));
  z-index: 2;
  background-color: hsl(var(--banner-background));
  background-image: linear-gradient(
      hsl(var(--banner-foreground)) 1px,
      hsl(0 0% 0% / 0) 1px
    ),
    linear-gradient(
      90deg,
      hsl(var(--banner-foreground)) 1px,
      hsl(0 0% 0% / 0) 1px
    );
  background-size: 1rem 1rem;
  background-position: -1px -1px;
  color: hsl(var(--text-color));
  height: var(--height);
  width: 100%;
  border-bottom: 0.125rem solid hsl(var(--background-3));

  --height: 12rem;
}

.main {
  color: hsl(var(--text-color));
  background-color: hsl(var(--background-1));
  width: 100%;
  overflow-x: auto;
  display: grid;
  gap: 1em;
  padding-block-start: 1em;
  align-content: start;

  --has-padding-inline: 1;
  --has-extra-width: 0;

  & > * {
    max-width: calc(var(--max-width) + (7rem * var(--has-extra-width)));
    width: 100%;
    margin-inline: auto;
    padding-inline: calc(var(--space-half) * var(--has-padding-inline));

    @media (--tablet) {
      max-width: var(--max-width);
    }

    @media (--mobile) {
      max-width: 100%;
    }
  }

  & :where(ul, ol) {
    list-style: revert;
  }

  & :where(li) {
    margin-inline-start: var(--space-half);

    @media (--mobile) {
      margin-inline-start: var(--space);
    }
  }
}

.footer {
  color: hsl(var(--text-color));
  background-color: hsl(var(--background-1));
  width: 100%;
}

.copyright {
  max-width: var(--max-width);
  padding: var(--space-half);
  width: 100%;
  margin-block-start: var(--space-half);
  margin-inline: auto;
  font-size: 0.875rem;
}

.post-list {
  gap: 1em;
  list-style: none;

  & > * {
    display: grid;
    gap: 0.5em;
    margin-inline-start: 0;
  }
}

.post-date {
  font-style: italic;
  font-size: 0.875rem;
}

/* 0 1 1 */

page-layout:where(:not(:defined)) {
  display: flex;
  flex-direction: column;
  gap: 0;
  height: 100%;

  & .banner,
  & [slot="open"],
  & [slot="close"] {
    height: 0;
    overflow: hidden;
  }

  & .main {
    flex: auto;
  }

  & .links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: var(--space);
    padding: var(--space-half);
    margin-inline: auto;
  }
}

/* 0 2 0 */

.page-layout {
  &.icon {
    width: 1em;
    aspect-ratio: 1 / 1;
    fill: currentColor;
    display: grid;
  }

  &.toggle {
    position: fixed;
    top: var(--toggle-top);
    left: var(--toggle-top);
    z-index: 3;
    background-color: hsl(var(--background-1));
    border: var(--toggle-border-width) solid hsl(var(--anchor-color) / 0.5);
    border-radius: 0.25rem;
    color: hsl(var(--anchor-color));
    height: var(--toggle-height);
    width: var(--toggle-height);
    display: grid;
    place-content: center;
    appearance: none;
    cursor: pointer;
  }

  &.nav {
    position: fixed;
    inset: 0;
    z-index: 0;
    width: var(--drawer-width);
    height: 100%;
    overflow: auto;
    border-right: 0.125rem solid hsl(var(--background-3));
    display: grid;
    place-content: center;
    gap: var(--space);

    --font-weight: 400;

    & * {
      gap: var(--space-quarter);
    }
  }

  &.color-scheme-form {
    display: grid;
    color: hsl(var(--text-color));

    & :where(h6) {
      --font-weight: 600;
    }

    & :where(label) {
      display: grid;
      grid-template-columns: max-content 1fr;
      align-items: center;
    }

    & :where(input) {
      display: block;
      accent-color: hsl(var(--anchor-color));
      height: 1em;
      width: 1em;
    }
  }

  &.panel {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-rows: min-content 1fr;
    height: 100%;
    transform: translateX(var(--content-left));
    transition: transform 0.125s ease;

    @media (prefers-reduced-motion) {
      transition: none;
    }
  }
}

.code-block {
  &.root {
    white-space: pre-wrap;
  }

  &.code {
    display: grid;
    grid-template-columns: min-content auto;
    gap: 0 var(--space-quarter);
    font-size: 0.875rem;
    font-family: ui-monospace, Consolas, monaco, monospace;
    background-color: hsl(var(--background-3));
    border-radius: var(--border-radius);
    color: hsl(var(--code-color));
    counter-reset: lines;
    --border-radius: 0.25rem;

    @media (--mobile) {
      --border-radius: 0;
    }
  }

  &.line {
    padding-inline: var(--space-quarter);

    &:where(:nth-child(2)) {
      padding-block-start: 1em;
    }

    &:where(:last-child) {
      padding-block-end: 1em;
    }
  }

  &.number {
    text-align: right;
    counter-increment: lines;
    color: hsl(var(--text-color) / 0.5);
    padding-inline: var(--space-half);
    background: hsl(var(--background-2));

    &::before {
      content: counter(lines);
    }

    &:where(:first-child) {
      padding-block-start: 1em;
      border-top-left-radius: var(--border-radius);
    }

    &:where(:nth-last-child(2)) {
      padding-block-end: 1em;
      border-bottom-left-radius: var(--border-radius);
    }

    @media (--mobile) {
      left: 0;
      position: sticky;
      z-index: 1;
    }
  }

  @media (--mobile) {
    white-space: pre;
  }
}
