{% from "components/page-nav.jinja" import page_nav %}

{%- macro nav_list(class) -%}
  <ul class="{{class}}">
    <li><a href="/">Posts</a></li>
    <li><a href="/posts.rss">RSS Feed</a></li>
    <li><a href="https://github.com/erickmerchant/my-blog">View Source</a></li>
  </ul>
{%- endmacro -%}

<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{site.description}}">
    <title>{{page.title}} | {{site.title}}</title>
    <script type="module" src="/components/page-nav.js"></script>
    <link rel="stylesheet" href="/page.css">
    <link rel="preload" href="/components/page-nav.css" as="style">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="me" href="https://mastodon.online/@erickjm">
  </head>
  <body>
    {% call page_nav("nav") %}
      {{ nav_list("nav-list") }}
    {% endcall %}
    <main class="main">
      {% block main %}
      {% endblock %}
    </main>
    <footer class="footer">
      <p class="copyright">© {{site.copyright}}</p>
      {{ nav_list("footer-nav-list") }}
    </footer>
  </body>
</html>

