*,
*::before {
  font: inherit;
  color: inherit;
  max-width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
}

svg {
  aspect-ratio: 1 / 1;
  fill: currentColor;
  display: block;
}
