*,
::before,
::after {
	font: inherit;
	color: inherit;
	max-inline-size: 100%;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-webkit-text-size-adjust: none;
}

::-webkit-scrollbar {
	inline-size: 0.5em;
	block-size: 0.5em;
}

::-webkit-scrollbar-thumb {
	background-color: var(--link-color);
}

::-webkit-scrollbar-track {
	background-color: var(--paper);
}

html {
	font-size: 125%;
	font-family: system-ui, sans-serif;
	font-weight: 400;
	line-height: 1.5;
	block-size: 100%;
	scrollbar-color: var(--link-color) var(--paper);
}

body {
	block-size: 100%;
	color: var(--ink);
	background-color: var(--paper);
	display: grid;
	grid-template-rows: min-content auto min-content;
	container-type: inline-size;
	overflow-x: auto;
	scrollbar-gutter: stable;
	overscroll-behavior: none;
	--border-radius: 0.125em;
	--border: 0.0625em solid currentColor;
	--easing: ease-in-out;

	@media (prefers-color-scheme: light) {
		--ink: oklab(10% 0 0);
		--paper: oklab(99% 0 0);
		--link-color: oklab(30% -0.4 0);
		--code-color: oklab(30% -0.025 0);
	}

	@media (prefers-color-scheme: dark) {
		--ink: oklab(90% 0 0);
		--paper: oklab(1% 0 0);
		--link-color: oklab(70% -0.4 0);
		--code-color: oklab(70% -0.025 0);
	}
}

a {
	color: var(--link-color);
	text-decoration-thickness: 0.1em;
	text-underline-offset: 0.1em;

	&:hover,
	&:focus-visible {
		text-decoration-thickness: 0.2em;
		text-decoration-skip-ink: none;
	}
}

@container (inline-size <= 20rem) {
	p {
		hyphens: auto;
	}
}

h1,
h2,
h3 {
	line-height: 1.125;
	font-weight: 900;
	text-wrap: balance;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1em;
}

strong {
	font-weight: 700;
	font-style: normal;
}

:is(ul, ol):where(:not([class])) {
	display: grid;
	gap: 0.25em;

	> * {
		margin-inline-start: max(var(--list-indent), 1.25em);
	}
}

code {
	font-family: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas,
		"DejaVu Sans Mono", monospace;
	color: var(--code-color);
	padding-inline: 0.25em;
}

@supports selector(:focus-visible) {
	:focus {
		outline: none;
	}
}

.navList {
	font-weight: 700;
}

.section {
	display: grid;
	gap: 1em;
	align-content: start;
	--max-inline-size: 40rem;
	--list-indent: 3cqi;
	--padding-base: 2.25cqi;
	--padding-inline: var(--padding-base);

	> * {
		max-inline-size: var(--max-inline-size);
		inline-size: 100%;
		margin-inline: auto;
		padding-inline: var(--padding-inline);
	}

	@container (inline-size <= 30rem) {
		font-size: 0.8em;
	}
}

.main {
	background-color: var(--paper);
	border-block-end: var(--border);
	padding-block: 1em 3em;
	z-index: 1;
}

.footer {
	padding-block: 1.5em;
	position: sticky;
	inset-block-end: 0;
	z-index: 0;

	@container (inline-size <= 30rem) {
		> * {
			font-size: 0.8em;
		}
	}
}

.copyright {
	font-weight: 500;
}

.heading {
	display: grid;
	gap: 1em;
}

.chips {
	display: flex;
	flex-wrap: wrap;
	gap: 1.5em;
	align-items: center;
	font-size: 0.8em;
	font-weight: 700;

	> *:where(:first-child)::marker {
		content: "";
	}
}

.interstitial {
	border-inline-start: var(--border);
	padding: 1em;
	display: grid;
	gap: 0.5em;
	max-inline-size: calc(
		var(--max-inline-size) - calc(var(--padding-inline) * 2)
	);

	@container (inline-size <= 38.5rem) {
		max-inline-size: 100%;
		margin-inline-start: var(--padding-inline);
	}

	:where(cite) {
		display: inline flex;
		gap: 0.5em;

		&::before {
			content: "—";
		}
	}
}

.index {
	list-style: none;
	display: grid;
	gap: 1em;
	--list-indent: 0;

	> * {
		display: grid;
		gap: 0.5em;
	}
}

.rssLink {
	display: inline flex;
	align-items: center;
	gap: 0.5em;
	margin-block-start: 2em;

	:where(svg) {
		display: block;
		fill: currentColor;
		padding: 0.25em;
		inline-size: 1.5em;
		block-size: 1.5em;
	}
}
