@font-face {
  font-family: "Chivo";
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 100%;
  font-display: swap;
  src: url(/fonts/Chivo/Chivo-VariableFont_wght-subset.woff2) format("woff2");
  unicode-range: U+20-7E, U+00A9, U+2014;
}

@font-face {
  font-family: "Chivo";
  font-style: italic;
  font-weight: 100 900;
  font-stretch: 100%;
  font-display: swap;
  src: url(/fonts/Chivo/Chivo-Italic-VariableFont_wght-subset.woff2)
    format("woff2");
  unicode-range: U+20-7E, U+00A9, U+2014;
}

@font-face {
  font-family: "Chivo Mono";
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 100%;
  font-display: swap;
  src: url(/fonts/Chivo_Mono/ChivoMono-VariableFont_wght-subset.woff2)
    format("woff2");
  unicode-range: U+20-7E, U+00A9, U+2014;
}

* {
  font: inherit;
  color: inherit;
  gap: inherit;
  max-width: 100%;
  padding: 0;
  margin: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-background);
  border-radius: var(--border-radius);
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track-background);
}

html {
  font-size: 120%;
  font-weight: 400;
  font-family: "Chivo", system-ui, sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
  height: 100%;
  scrollbar-color: var(--scrollbar-background) var(--scrollbar-track-background);

  --max-width: 40rem;
}

@media (max-width: 600px) {
  html {
    font-size: 100%;
  }
}

body {
  height: 100%;
  overflow-x: hidden;
  color: var(--text-color);
  background: var(--primary-background);
  display: grid;
  grid-template-rows: min-content auto min-content;

  --scrollbar-background: var(--anchor-color);
  --scrollbar-track-background: var(--secondary-background);
  --easing: cubic-bezier(0.3, 0, 0.3, 0.7);
}

@media (prefers-color-scheme: light) {
  body {
    --anchor-color: hsl(120 70% 30%);
    --code-color: hsl(120 70% 20%);
    --text-color: hsl(0 0% 10%);
    --alt-color: hsl(120 35% 30%);
    --primary-background: hsl(0 0% 100%);
    --secondary-background: hsl(120 15% 90%);
    --tertiary-background: hsl(120 15% 60%);
    --code-background: hsl(120 15% 95%);
  }
}

@media (prefers-color-scheme: dark) {
  body {
    --anchor-color: hsl(120 70% 70%);
    --code-color: hsl(120 70% 80%);
    --text-color: hsl(0 0% 100%);
    --alt-color: hsl(120 35% 80%);
    --primary-background: hsl(0 0% 10%);
    --secondary-background: hsl(120 15% 20%);
    --tertiary-background: hsl(120 15% 40%);
    --code-background: hsl(120 15% 15%);
  }
}

a {
  color: var(--anchor-color);
  text-underline-offset: 0.2em;
  text-decoration-thickness: 0.1em;
}

em {
  font-style: italic;
}

p {
  hyphens: auto;
}

h1,
h2,
h3 {
  line-height: 1.125;
}

h1 {
  font-size: 2em;
  font-weight: 900;
}

h2 {
  font-size: 1.25em;
  font-weight: 800;
}

h3,
dt,
strong {
  font-size: 1em;
  font-weight: 700;
}

dl,
ul,
ol {
  display: grid;
  grid-auto-columns: 100%;
  gap: 0.25em;
}

li {
  margin-inline-start: var(--list-indent);
}

pre {
  display: block;
  color: var(--code-color);
  background-color: var(--code-background);
  font-family: "Chivo Mono", monospace;
  white-space: pre;
  border-radius: var(--border-radius);
  overflow-x: auto;

  --border-radius: 0.25em;
}

@media (max-width: 600px) {
  pre {
    --border-radius: 0;
  }
}

@supports selector(:focus-visible) {
  :focus {
    outline: none;
    background: hsl(0 0% 0% / 0);
  }
}

:focus-visible:where(:not(a)) {
  outline: 2px solid currentColor;
  background: hsl(0 0% 0% / 0);
}

:focus-visible:where(a) {
  text-decoration-thickness: 0.2em;
}

.nav {
  width: 100%;
  background-color: var(--secondary-background);
  background-image: radial-gradient(
    var(--tertiary-background) 25%,
    var(--secondary-background) 25%
  );
  background-size: 0.1875rem 0.1875rem;
  padding: 1em;
  font-weight: 500;
  display: grid;
}

.nav-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  white-space: nowrap;
  gap: 0.5em 1em;
}

:where(.nav:not(:defined)) .nav-list {
  visibility: hidden;
}

@media (max-width: 400px) {
  :where(.nav:defined) .nav-list {
    flex-direction: column;
  }
}

.main {
  background-color: var(--primary-background);
  width: 100%;
  display: grid;
  grid-auto-columns: 100%;
  gap: 1em;
  padding-block-start: 1em;
  align-content: start;

  --list-indent: 2rem;
}

@media (max-width: 600px) {
  .main {
    --list-indent: 1rem;
  }
}

.main > * {
  max-width: var(--max-width);
  width: 100%;
  margin-inline: auto;
  padding-inline: 1rem;
}

@media (max-width: 600px) {
  .main > * {
    max-width: 100%;
  }
}

@media (max-width: 900px) {
  .main > * {
    max-width: var(--max-width);
  }
}

.footer {
  display: flex;
  padding: 1em;
  margin-block-start: 1em;
  justify-content: safe center;
  flex-wrap: wrap;
  gap: 1em 3em;
  width: 100%;
  color: var(--alt-color);
  font-size: 0.9em;

  --anchor-color: var(--alt-color);
}

.footer-nav-list {
  list-style: none;
  gap: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: safe center;
}

.index {
  gap: 1em;
  list-style: none;

  --list-indent: 0;
}

.index > * {
  display: grid;
  grid-auto-columns: 100%;
  gap: 0.5em;
}

.published {
  margin-top: 0.5em;
  font-weight: 700;
  color: var(--alt-color);
  font-size: 0.9em;
}
