*,
*::before {
	font: inherit;
	color: inherit;
	max-inline-size: 100%;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-webkit-text-size-adjust: none;
}

::-webkit-scrollbar {
	inline-size: 0.5em;
	block-size: 0.5em;
}

::-webkit-scrollbar-thumb {
	background-color: var(--scrollbar);
	border-radius: var(--border-radius);
}

::-webkit-scrollbar-track {
	background-color: var(--paper-2);
}

html {
	font-size: 125%;
	font-family: system-ui, sans-serif;
	font-weight: 400;
	line-height: 1.5;
	block-size: 100%;
	scrollbar-color: var(--scrollbar) var(--paper-2);
}

body {
	block-size: 100%;
	overflow-x: auto;
	color: var(--ink-0);
	background-color: var(--paper-2);
	display: grid;
	grid-template-rows: min-content auto min-content;
	container-type: inline-size;
	scrollbar-gutter: stable;
	overscroll-behavior: none;
	--border-radius: 0.25em;
	--easing: ease-in-out;

	@media (prefers-color-scheme: light) {
		--ink-0: oklch(0.15 0.01 150);
		--ink-1: oklch(0.4 0.2 150);
		--ink-2: oklch(0.3 0.3 150);
		--paper-0: oklch(0.85 0.03 150);
		--paper-1: oklch(0.925 0.015 150);
		--paper-2: oklch(0.95 0.015 150);
		--scrollbar: oklch(0.65 0.11 150);
		--code-0: oklch(0.5 0.1 0);
		--code-1: oklch(0.5 0.4 100);
		--code-2: oklch(0.5 0.2 125);
		--code-3: oklch(0.5 0.025 150);
		--code-4: oklch(0.5 0.0125 150);
	}

	@media (prefers-color-scheme: dark) {
		--ink-0: oklch(0.95 0.01 150);
		--ink-1: oklch(0.7 0.2 150);
		--ink-2: oklch(0.8 0.3 150);
		--paper-0: oklch(0.25 0.03 150);
		--paper-1: oklch(0.175 0.015 150);
		--paper-2: oklch(0.15 0.015 150);
		--scrollbar: oklch(0.45 0.11 150);
		--code-0: oklch(0.6 0.1 0);
		--code-1: oklch(0.6 0.4 100);
		--code-2: oklch(0.6 0.2 125);
		--code-3: oklch(0.6 0.025 150);
		--code-4: oklch(0.6 0.0125 150);
	}
}

a {
	color: var(--ink-1);
	text-decoration-thickness: 0.1em;
	text-underline-offset: 0.1em;

	&:hover,
	&:focus-visible {
		text-decoration-thickness: 0.15em;
		text-decoration-skip-ink: none;
	}
}

@container (inline-size <= 20rem) {
	p {
		hyphens: auto;
	}
}

h1,
h2,
h3 {
	color: var(--ink-2);
	line-height: 1.125;
	font-weight: 900;
	text-wrap: balance;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1em;
}

strong {
	font-weight: 700;
	font-style: normal;
}

:is(ul, ol):where(:not([class])) {
	display: grid;
	gap: 0.25em;

	> * {
		margin-inline-start: max(var(--list-indent), 1.25em);
	}

	::marker {
		content: "▪︎ ";
		color: var(--ink-2);
	}
}

code {
	font-family: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas,
		"DejaVu Sans Mono", monospace;
	color: var(--code-3);
	background-color: var(--paper-1);
	border-radius: var(--border-radius);
	padding-inline: 0.25em;
}

@supports selector(:focus-visible) {
	:focus {
		outline: none;
	}
}

.navList {
	font-weight: 700;
}

.section {
	display: grid;
	gap: 1em;
	align-content: start;
	--max-inline-size: 40rem;
	--list-indent: 3cqi;
	--padding-inline: 2.25cqi;

	> * {
		max-inline-size: var(--max-inline-size);
		inline-size: 100%;
		margin-inline: auto;
		padding-inline: var(--padding-inline);
	}

	@container (inline-size <= 30rem) {
		font-size: 0.8em;
	}
}

.main {
	background-color: var(--paper-2);
	padding-block: 1em 3em;
	z-index: 1;
	box-shadow: 0 0.1em 0.1em var(--paper-0);
}

.footer {
	padding-block: 1.5em;
	background-image: repeating-linear-gradient(
		135deg,
		var(--paper-2) 0 0.1em,
		var(--paper-1) 0.1em 0.4em
	);
	position: sticky;
	inset-block-end: 0;
	z-index: 0;

	@container (inline-size <= 30rem) {
		> * {
			font-size: 0.8em;
		}
	}
}

.copyright {
	font-weight: 500;
}

.heading {
	display: grid;
	gap: 1em;
}

.chips {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	gap: 0.75em;
	align-items: center;
	font-size: 0.8em;
	font-weight: 700;

	> * {
		display: contents;

		> * {
			padding-block: 0.0625em;
			padding-inline: 0.5em;
			background-color: var(--paper-0);
			border-radius: var(--border-radius);
		}
	}
}

.interstitial {
	background-color: var(--paper-1);
	background-size: 0.2em 0.2em;
	background-image: radial-gradient(
		var(--paper-2) 0 0.05em,
		var(--paper-1) 0.05em 0.2em
	);
	border-radius: var(--border-radius);
	padding: 1em;
	display: grid;
	gap: 0.5em;
	max-inline-size: calc(var(--max-inline-size) - 2em);

	@container (inline-size <= 38.5rem) {
		max-inline-size: 100%;
		--border-radius: 0;
	}

	&:where(blockquote) {
		> :where(:not(:first-child)) {
			margin-inline-start: 2em;
		}

		> *:where(:first-child) {
			display: grid;
			grid-template-columns: 2em auto;

			&::before {
				font-family: "Iowan Old Style", "Palatino Linotype", "URW Palladio L",
					P052, serif;
				display: block;
				content: "“";

				font-size: 3em;
				line-height: 1;
				color: var(--ink-1);
			}
		}

		:where(cite) {
			display: inline flex;
			gap: 0.5em;

			&::before {
				content: "—";
			}
		}
	}
}

.index {
	list-style: none;
	display: grid;
	gap: 1em;
	--list-indent: 0;

	> * {
		display: grid;
		gap: 0.5em;
	}
}

.rssLink {
	display: inline flex;
	align-items: center;
	gap: 0.5em;
	padding-block-start: 2em;

	:where(svg) {
		display: block;
		fill: currentColor;
		background-color: var(--paper-0);
		border-radius: var(--border-radius);
		padding: 0.125em;
		inline-size: 1.5em;
		block-size: 1.5em;
	}
}
