* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: system-ui;
  line-height: 1.5;
  margin: 0;
  color: var(--tertiary-color);
  background-color: white;
}

nav,
main,
section,
footer {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-size: var(--large-font-size);
}

p {
  word-wrap: break-word;
}

a {
  color: var(--primary-color);
  text-decoration: none;
  box-shadow: 0 0.1em 0 0 currentColor;
}

a:hover {
  text-decoration: none;
}

p,
ol,
ul,
blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

code,
pre {
  font-family: 'Roboto Mono', 'Source Code Pro', Menlo, Consolas, 'Liberation Mono', monospace;
  font-size: inherit;
}

pre {
  overflow: auto;
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  border-radius: var(--border-radius);
  padding: var(--spacing);
  line-height: 1.5;
  word-spacing: normal;
  word-break: normal;
  tab-size: 2;
  hyphens: none;
  white-space: pre-wrap;
  overflow-x: auto;
  font-size: inherit;
}
