* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

@media (width > 1600px) {
  html {
    font-size: 1vw;
  }
}

body {
  height: 100%;
  font-family: system-ui;
  line-height: 1.5;
  margin: 0;
  color: var(--dark-gray);
  background-color: var(--white);
}

nav,
main,
section,
footer {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

h1 { font-size: var(--font-size-1); }
h2 { font-size: var(--font-size-2); }
h3 { font-size: var(--font-size-3); }

@media (width < 65em) {
  h1 { font-size: var(--font-size-2); }
  h2 { font-size: var(--font-size-3); }
  h3 { font-size: var(--font-size-4); }
}

p {
  word-wrap: break-word;
}

a {
  color: var(--blue);
  text-decoration: none;
}

a:hover {
  box-shadow: 0 0.1em 0 0 currentColor;
  text-decoration: none;
}

p,
ol,
ul,
blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

code,
pre {
  font-family: 'Roboto Mono', 'Source Code Pro', Menlo, Consolas, 'Liberation Mono', monospace;
  font-size: inherit;
}

pre {
  overflow: auto;
  background-color: var(--light-gray);
  border-radius: var(--border-radius);
  padding: var(--spacing-2);
  line-height: 1.5;
  word-spacing: normal;
  word-break: normal;
  tab-size: 2;
  hyphens: none;
  white-space: pre-wrap;
  overflow-x: auto;
  font-size: inherit;
}
