* {
  box-sizing: border-box;
  font-family: system-ui;
  line-height: 1.5;
}

html {
  --spacing: 1em;
  --large-font-size: 1.5em;
  --small-font-size: 0.75em;
  --border-radius: 0.2em;
  --border-width: 0.2em;
  --primary-color: hsl(150, 60%, 30%);
  --secondary-color: hsl(150, 60%, 80%);
  --tertiary-color: hsl(150, 60%, 10%);

  height: 100%;
}

body {
  height: inherit;
  color: var(--tertiary-color);
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 0;
}

main {
  padding: 0 var(--spacing);
  flex: auto;
  max-width: 40em;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: var(--large-font-size);
  margin-top: var(--spacing);
  margin-bottom: calc(var(--spacing) / 2);
  line-height: 1.25;
}

time {
  font-weight: bold;
}

a {
  color: var(--primary-color);
  text-decoration: none;
  box-shadow: 0 0.1em 0 0 currentColor;
}

a:hover {
  text-decoration: none;
}

p,
ol,
ul,
blockquote {
  margin: var(--spacing) 0;
}

ol,
ul { padding: 0 0 0 calc(var(--spacing) * 2); }

code,
pre {
  font-family: 'Roboto Mono', 'Source Code Pro', Menlo, Consolas, 'Liberation Mono', monospace;
  font-size: inherit;
}

pre {
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  border-radius: var(--border-radius);
  padding: var(--spacing);
  overflow: auto;
  line-height: 1.5;
  word-spacing: normal;
  word-break: normal;
  tab-size: 2;
  hyphens: none;
  white-space: pre-wrap;
  overflow-x: auto;
  font-size: inherit;
}
