.footer {
  font-size: var(--small-font-size);
  font-weight: bold;
  padding: var(--spacing);
}

.footer ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer li {
  margin: var(--spacing);
}
