.footer {
  font-weight: bold;
  background: var(--gray-color);
  color: var(--light-color);
  padding: var(--spacing);
}

.footer a {
  color: inherit;
}

.footer ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer li {
  margin: var(--spacing);
}
