.keyword {
  color: var(--green);
}

.boolean,
.null,
.undefined,
.number {
  color: var(--orange);
}

.function-call {
  color: var(--blue);
}

.string,
.string * {
  color: var(--red);
}

.comment,
.comment * {
  color: var(--gray);
}
