.keyword {
  color: var(--green);
}

.number, .boolean, .null, .undefined {
  color: var(--orange);
}

.string {
  color: var(--red);
}

.property {
  color: var(--blue);
}

.comment, .comment * {
  color: var(--gray);
}

