.keyword {
  color: var(--green);
}

.number,
.boolean,
.null,
.undefined {
  color: var(--orange);
}

.property {
  color: var(--blue);
}

.string,
.string * {
  color: var(--red);
}

.comment,
.comment * {
  color: var(--gray);
}
