.nav {
  font-weight: bold;
  background: var(--primary-color);
  padding: var(--spacing);
  color: white;
}

.nav ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav li {
  margin: var(--spacing);
}

.nav a {
  color: inherit;
}
