.nav {
  background: var(--primary-color);
  padding: var(--spacing);
  font-weight: bold;
  color: white;
  box-shadow: inset 0 -1em 1em -1em var(--tertiary-color);
}

.nav ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav li {
  margin: var(--spacing);
}

.nav a {
  color: inherit;
}
