.pagination {
  padding: var(--spacing);
  font-weight: bold;
  text-align: center;
  color: white;
}

.pagination ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.pagination li {
  margin: var(--spacing);
  padding: var(--spacing) calc(var(--spacing) * 3);
  background-color: var(--primary-color);
  border-radius: var(--border-radius);
}

.pagination a {
  color: inherit;
}
