:root {
  --spacing-1: 0.5em;
  --spacing-2: 1em;
  --spacing-3: 2em;
  --spacing-4: 4em;
  --font-size-1: 2.0736em;
  --font-size-2: 1.728em;
  --font-size-3: 1.44em;
  --font-size-4: 1.2em;
  --font-size-5: 1em;
  --font-size-6: 0.8333em;
  --border-radius: 0.2em;
  --border-width: 0.05em;
  --dark-gray: gray(12);
  --gray: gray(55);
  --light-gray: gray(98);
  --white: gray(100);
  --red: hsl(340, 60%, 59%);
  --orange: hsl(20, 60%, 51%);
  --green: hsl(160, 60%, 43%);
  --blue: hsl(200, 60%, 51%);
}
