:root {
  --spacing: 1em;
  --large-font-size: 1.5em;
  --small-font-size: 0.75em;
  --border-radius: 0.2em;
  --border-width: 0.2em;
  --primary-color: hsl(200, 70%, 40%);
  --secondary-color: hsl(200, 70%, 80%);
  --tertiary-color: hsl(200, 70%, 10%);
}
