@custom-media --mobile (max-width: 768px);

@font-face {
  font-display: swap;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 100 900;
  src: url("/static/fonts/Public_Sans/PublicSans-VariableFont_wght-subset.woff2")
    format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Public Sans";
  font-style: italic;
  font-weight: 100 900;
  src: url("/static/fonts/Public_Sans/PublicSans-Italic-VariableFont_wght-subset.woff2")
    format("woff2");
}

* {
  font: inherit;
  box-sizing: border-box;
  max-width: 100%;
  padding: 0;
  margin: 0;
}

html {
  color: hsl(var(--background-color));
  background-color: hsl(var(--text-color));
  font: 100 max(20px, 1.5vw) / 1.5 "Public Sans", system-ui, sans-serif;
  height: 100%;

  --space: 2rem;
  --space-half: 1rem;

  @media (--mobile) {
    --space: 1rem;
    --space-half: 0.5rem;
  }

  @media (prefers-color-scheme: light) {
    --primary-color: 100 20% 60%;
    --primary-color-minus: 70 20% 60%;
    --primary-color-plus: 130 20% 60%;
    --anchor-color: 100 30% 35%;
    --text-color: 100 10% 25%;
    --background-color: 100 10% 98%;
  }

  @media (prefers-color-scheme: dark) {
    --primary-color: 100 25% 50%;
    --primary-color-minus: 70 25% 50%;
    --primary-color-plus: 130 25% 50%;
    --anchor-color: 100 45% 35%;
    --text-color: 100 10% 90%;
    --background-color: 100 10% 15%;
  }
}

h1 {
  font-weight: 800;
  font-size: 2em;
}

h2 {
  font-weight: 700;
  font-size: 1.5em;
}

h3 {
  font-weight: 600;
  font-size: 1em;
}

h1,
h2,
h3 {
  margin-top: var(--space-half);

  @media (--mobile) {
    font-size: 1em;
  }
}

a {
  color: hsl(var(--anchor-color));
  font-weight: 200;
  text-underline-offset: 0.125em;
}

.page {
  &.root {
    min-height: 100%;
    height: 100%;
    overflow-x: hidden;

    --content-left: 0;
  }

  &.nav--open {
    max-width: 100vw;

    --content-left: calc(50vw);

    @media (--mobile) {
      --content-left: calc(100vw - 2em);
    }
  }

  &.inner {
    position: relative;
    z-index: 1;
    transform: translateX(var(--content-left));
    transition: transform 0.25s ease;
  }
}

.banner {
  &.root {
    background-image: repeating-linear-gradient(
        45deg,
        hsla(0, 0%, 0%, 0),
        hsla(0, 0%, 0%, 0) 1px,
        hsl(var(--gradient-color-3)) 1px,
        hsl(var(--gradient-color-3)) 5px
      ),
      linear-gradient(
        -45deg,
        hsl(var(--gradient-color-2)),
        hsl(var(--gradient-color-1)),
        hsl(var(--gradient-color-2))
      );
    background-attachment: fixed;
    color: hsl(var(--text-color));
    display: grid;
    align-content: end;
    justify-items: center;
    height: 50vh;
    width: 100%;

    @media (prefers-color-scheme: light) {
      --gradient-color-1: var(--primary-color-plus);
      --gradient-color-2: var(--primary-color-minus);
      --gradient-color-3: var(--background-color) / 0.15;
    }

    @media (prefers-color-scheme: dark) {
      --gradient-color-1: var(--primary-color-plus);
      --gradient-color-2: var(--primary-color-minus);
      --gradient-color-3: var(--background-color) / 0.15;
    }

    @media (--mobile) {
      height: 25vh;
    }
  }

  &.heading {
    font-size: 2.5em;
    font-weight: 900;
    max-width: 40rem;
    padding: 0 var(--space-half);
    margin-bottom: 0.5rem;
    width: 100%;
    text-align: left;

    @media (--mobile) {
      font-size: 1.5em;
    }
  }
}

.content {
  &.root {
    display: flex;
    flex-direction: column;
    color: hsl(var(--text-color));
    background-color: hsl(var(--background-color));
    padding: 0;
    width: 100%;

    & > * {
      padding: 0 var(--space-half);
      width: 40rem;
      max-width: 100%;
      margin-right: auto;
      margin-left: auto;
    }

    & > * + * {
      margin-top: var(--space-half);
    }
  }
}

site-nav {
  &::part(toggle) {
    position: absolute;
    top: 1em;
    left: 1em;
    z-index: 5;
  }

  &::part(nav) {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 50vw;
    height: 100vh;
    background-color: hsl(var(--text-color));
    color: hsl(0 0% 100%);
    display: grid;
    place-items: center;
    padding-right: 1em;

    --anchor-color: currentColor;

    @media (--mobile) {
      width: 100vw;
    }
  }
}
