* {
  font: inherit;
  color: inherit;
  box-sizing: border-box;
  max-width: 100%;
  padding: 0;
  margin: 0;
}

.Button {
  &.self {
    display: block;
    appearance: none;
    border: 0;
    background: none;
    cursor: pointer;
    height: 1em;
    width: 1em;
  }
}

.Icon {
  &.self {
    height: 1em;
    width: 1em;
    pointer-events: none;
    fill: currentColor;
  }
}
