<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="The personal site of Erick Merchant." />
    <link href="/assets/favicon.svg" rel="icon" type="image/svg+xml" />
    <link href="/assets/main.css" rel="stylesheet" />
    <script type="module" src="/assets/main.js"></script>
    <title>{% block title %}ErickMerchant.com{% endblock %}</title>
  </head>
  <body>
    <page-layout class="Page self">
      {% include "includes/page-layout-template.html" %}

      <header class="Banner self" slot="panel">
        <div class="Banner heading">ErickMerchant.com</div>
      </header>

      <ol class="Links self" slot="links">
        <li><a class="Links link" href="/">Home</a></li>
      </ol>

      <article class="Content self" slot="panel">
        {% block content %} {% endblock %}
      </article>
    </page-layout>
    {% include "includes/polyfill-script.html" %}
  </body>
</html>
