<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}} | {{site.title}}</title>
    <script type="module" src="/element.js"></script>
    <script type="module" src="/components/page-layout.js"></script>
    <script type="module" src="/components/theme-selector.js"></script>
    <script type="module" src="/components/toggle-button.js"></script>
    {% block components %}
    {% endblock %}
    <link href="/common.css" rel="stylesheet">
    <link href="/site.css" rel="stylesheet">
    <link rel="preload" href="/components/page-layout.css" as="style">
    <link rel="preload" href="/components/theme-selector.css" as="style">
    <link rel="preload" href="/components/toggle-button.css" as="style">
    <meta name="description" content="{{site.description}}">
    <link href="/favicon.svg" rel="icon" type="image/svg+xml">
  </head>
  <body>
    <page-layout>
      <div class="banner" slot="panel">
      </div>

      <main class="main" slot="panel">
        {% block main %}
        {% endblock %}
      </main>

      <footer class="footer" slot="panel">
        <p class="copyright">{{site.copyright}}</p>
      </footer>

      <ul class="links" slot="nav">
        {% for link in site.links %}
          <li><a href="{{link.href}}">{{link.title}}</a></li>
        {% endfor %}
      </ul>

      <theme-selector slot="nav"></theme-selector>
    </page-layout>
  </body>
</html>

