<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="The personal site of Erick Merchant.">
    <link href="/static/favicon.svg" rel="icon" type="image/svg+xml">
    <link href="/static/main.css" rel="stylesheet">
    <script type="module">
      document.body.className = "js"
    </script>
    <script type="module" src="/static/main.js"></script>
    <title>
      {% block title %}ErickMerchant.com{% endblock %}
    </title>
  </head>
  <body class="no-js">
    <page-layout class="Page self">
      <header class="Banner self" slot="panel">
        <div class="Banner heading">ErickMerchant.com</div>
      </header>
      <ol class="Links self" slot="links">
        <li><a class="Links link" href="/">Home</a></li>
      </ol>
      <article class="Content self" slot="panel">
        {% block content %}
        {% endblock %}
      </article>
    </page-layout>
  </body>
</html>
