<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{site.description}}">
    <title>{% block title %}{{title}}{% endblock %} | {{site.title}}</title>
    <script type="module" src="/element.js"></script>
    <script type="module" src="/components/page-nav.js"></script>
    <script type="module" src="/components/page-icon.js"></script>
    <link rel="stylesheet" href="/page.css">
    <link rel="preload" href="/components/page-nav.css" as="style">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="me" href="https://mastodon.online/@erickjm">
  </head>
  <body>
    <page-nav class="nav">
      <ul class="nav-list">
        <li><a href="/">Posts</a></li>
        <li><a href="/posts.rss">RSS Feed</a></li>
        <li><a href="https://github.com/erickmerchant/my-blog">View Source</a></li>
      </ul>
    </page-nav>

    <main class="main">
      {% block main %}
      {% endblock %}
    </main>

    <footer class="footer">
      <p class="copyright">© <em>{{site.copyright}}</em></p>
    </footer>
  </body>
</html>

