<!DOCTYPE html>
<html lang="en-US">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>{% block title %}{{site.title}}{% endblock %}</title>
	<link rel="stylesheet" href="{{"/page.css"|asset_url}}" />
	<script type="module" src="{{"/top-bar.js"|asset_url}}"></script>
	<meta name="description" content="{{site.description}}" />
	<link rel="icon" href="{{"/favicon.svg"|asset_url}}" type="image/svg+xml" />
	<link rel="alternate" type="application/rss+xml" title="Posts" href="{{site.host}}/posts.rss" />
</head>

<body>
	<top-bar>
		<nav>
			<ul>
				<li><a href="/">{{site.title}}</a></li>
			</ul>
		</nav>
	</top-bar>
	<main>
		{% block main %}{% endblock %}
	</main>
	<footer class="footer">
		<ul>
			<li><a href="https://github.com/erickmerchant/my-blog">View Source</a></li>
			<li class="rss-link">
				<svg viewBox="0 0 28 28">
					<title>RSS</title>
					<path d="M0 24 A4 4 0 1 1 8 24 A4 4 0 1 1 0 24 Z M0 0 Q28 0 28 28 H22 Q22 6 0 6 Z M0 10 Q18 10 18 28 H12 Q12 16 0 16 Z"></path>
				</svg>
				<a href="/posts.rss">
					RSS
				</a>
			</li>
			<li>&copy; {{site.author}}</li>
		</ul>
	</footer>
</body>

</html>
