{%- macro tags(entry) %}
	{% if entry.pinned %}
		<span class="pinned tag">
			<svg viewBox="0 0 10 14">
				<title>Pinned</title>
				<path d="M0 0 H10 V1 L8.5 2.5 Q8 3 8 3.5 V5.5 Q8 6 8.5 6.5 L10 8 V9 H0 V8 L1.5 6.5 Q2 6 2 5.5 V3.5 Q2 3 1.5 2.5 L0 1 V1 Z M3.5 10 V13 L5 14 L6.5 13 V10 Z"></path>
			</svg>
			Pinned
		</span>
	{% else %}
		<time class="tag">
			<svg viewBox="0 0 14 14"><title>Date</title><path d="M1 0 H13 Q14 0 14 1 V4 H0 V1 Q0 0 1 0 Z M0 5 H14 V13 Q14 14 13 14 H1 Q0 14 0 13 H0 Z M2.5 7 Q2 7 2 7.5 V10 Q2 10.5 2.5 10.5 H5 Q5.5 10.5 5.5 10 V7.5 Q5.5 7 5 7 Z"></path></svg>
			{{entry.date|format_date("%B %e, %Y")}}
		</time>
	{% endif %}
{% endmacro -%}

<!DOCTYPE html>
<html lang="en-US">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>{% block title %}{{site.title}}{% endblock %}</title>
	<style>
		@font-face {
			font-display: swap;
			font-family: "Inter";
			font-style: normal;
			font-weight: 100 900;
			src: url({{"/Inter-VariableFont_slnt,wght-subset.woff2"|asset_url}}) format("woff2");
			unicode-range: U+20-7E, U+00A9, U+2014, U+00E9;
		}

		@font-face {
			font-display: swap;
			font-family: "JetBrains Mono";
			font-style: normal;
			font-weight: 400;
			src: url({{"/JetBrainsMono-Regular-subset.woff2"|asset_url}}) format("woff2");
			unicode-range: U+20-7E;
		}
	</style>
	<link rel="stylesheet" href="{{"/page.css"|asset_url}}" />
	<script type="module" src="{{"/top-bar.js"|asset_url}}"></script>
	<meta name="view-transition" content="same-origin" />
	<meta name="description" content="{{site.description}}" />
	<link rel="icon" href="{{"/favicon.svg"|asset_url}}" type="image/svg+xml" />
	<link rel="alternate" type="application/rss+xml" title="Posts" href="{{site.host}}/posts.rss" />
</head>

<body>
	<top-bar>
		<nav>
			<ul>
				<li><a href="/">{{site.title}}</a></li>
			</ul>
		</nav>
	</top-bar>
	<main>
		<header>
			{% block main_header %}{% endblock %}
		</header>

		{% block main %}{% endblock %}
	</main>
	<footer class="footer">
		<ul>
			<li><a href="https://github.com/erickmerchant/my-blog">View Source</a></li>
			<li>
				<a class="rss-link" href="/posts.rss">
					<svg viewBox="0 0 14 14"><title>RSS</title><path d="M0 12 a2 2 0 1 1 4 0 a2 2 0 1 1 -4 0 Z M1 7.5 Q0 7.5 0 6.5 V6 Q0 5 1 5 Q9 5 9 13 Q9 14 8 14 H7.5 Q6.5 14 6.5 13 Q6.5 7.5 1 7.5 Z M1 2.5 Q0 2.5 0 1.5 V1 Q0 0 1 0 Q14 0 14 13 Q14 14 13 14 H12.5 Q11.5 14 11.5 13 Q11.5 2.5 1 2.5 Z"></path></svg>
					RSS
				</a>
			</li>
			<li>&copy; {{site.author}}</li>
		</ul>
	</footer>
</body>

</html>
