{% extends "base.jinja" %}

{% block title %}
	{{site.title}} — {{entry.title}}
{% endblock %}

{% block main_header %}
	<h1>{{entry.title}}</h1>
	{{ tags(entry) }}
{% endblock %}

{% block main %}
	<div class="content">{{entry.content}}</div>
{% endblock %}
