{% extends "base.jinja" %}

{% block title %}
	{{site.title}} {% if entry.title %}— {{entry.title}}{% else %}Untitled{% endif %}
{% endblock %}

{% block main_header %}
	<h1 style="view-transition-name: entry-list-item--{{entry.slug}}--title;">{{entry.title}}</h1>
	{% if entry.date %}
			<span style="view-transition-name: entry-list-item--{{entry.slug}}--date;"><time class="date">{{entry.date | format_date("%B %e, %Y")}}</time></span>
	{% endif %}
{% endblock %}

{% block main %}
	{% if entry.content %}
		<div class="content">{{entry.content}}</div>
	{% endif %}
{% endblock %}
