{% extends "base.html" %}

{% import "macros.html" as macros %}

{% block page_styles %}
	<link rel="stylesheet" href="/home.css" />
{% endblock %}

{% block site_link %}<h1>{% call super() %}</h1>{% endblock %}

{% block main %}
	<section class="posts">
		<h2>Posts</h2>
		{% if entry_list.is_empty() %}
			<p>There are no posts yet. Check back again soon.</p>
		{% else %}
			<ol>
				{% for e in entry_list %}
					{% if let Some(slug) = e.slug %}
						<li>
							{% call macros::status(e) %}
							<a href="/posts/{{slug}}/">{{e.title}}</a>
						</li>
					{% endif %}
				{% endfor %}
			</ol>
		{% endif %}
	</section>

	{% if !site.projects.is_empty() %}
		<section class="projects">
			<h2>Projects</h2>
			<p>Fun little things I've made recently.</p>
				<ul>
					{% for p in site.projects %}
						<li>
							<a href="{{p.href}}">
								<svg viewBox="0 0 28 28">
									<title>Folder</title>
									<path d="M0 2 Q0 0 2 0 H11 Q12.5 0 13 1 L14 3 Q14.5 4 16 4 H26 Q28 4 28 6 V26 Q28 28 26 28 H2 Q0 28 0 26 V14 H4 V24 H24 V8 H4 V14 H0 Z"></path>
								</svg>
								{{p.title}}
							</a>
							{{p.description|html|safe}}
						</li>
					{% endfor %}
				</ul>
		</section>
	{% endif %}
	<aside class="bio">
		<h2>About</h2>
		{{site.bio|html|safe}}
	</aside>
{% endblock %}
