{% extends "layout.html" %}

{% block heading %}
  <h1 class="Banner heading">{{site.title}}</h1>
{% endblock %}

{% block main %}
  <ol class="Home post-list">
    {% for post in posts %}
      {% match post %}
        {% when Some with (post) %}
          <li class="Home post">
            <h2 class="Home post-title">
              <a href="/posts/{{post.data.slug}}.html">{{post.data.title}}</a>
            </h2>
            <p class="Home post-description">{{post.data.description}}</p>
          </li>
        {% when None %}
      {% endmatch %}
    {% endfor %}
  </ol>
{% endblock %}
