@import icon icon.html

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @section meta
      <title>${content.title}</title>
    @
    <link href="/favicon.png" rel="shortcut icon" type="image/png">
    <link href="/site.css" rel="stylesheet" type="text/css">
  </head>
  <body class="flex flex-column full-view-height">
    <nav class="bg-black h3 p2 center white" role="navigation">
      <a class="btn white p1" href="/">${content.banner}</a>
      <div class="inline-block">
        @each content.menu (link)
          <a class="btn white p1" href="${link.url}">
            @call icon (link.icon)
            <span class="xs-hide">${link.text}</span>
          </a>
        @
      </div>
    </nav>
    <div class="flex-auto">
      <main class="max-width-3 mx-auto px2" role="main">
        @yield main
      </main>
    </div>
    <footer class="mt2 p2 bg-silver muted h6" role="contentinfo">
      <div class="max-width-3 mx-auto center sm-flex items-center justify-center">
        <a class="black btn p2" href="https://github.com/erickmerchant/erickmerchant.com-source">
          @call icon ('github')
          View Source
        </a>
        @section action_call
          <a class="black btn p2" href="https://twitter.com/intent/tweet?url=${encodeURIComponent(content.host)}&amp;text=${encodeURIComponent(content.title)}" target="_blank">
            @call icon ('twitter')
            Tweet
          </a>
        @
        <br class="sm-hide">
        <span class="black p2 muted inline-block bold">&copy; ${content.author}, ${content.year}</span>
      </div>
    </footer>
  </body>
</html>
