{% import 'macros/geomicons.html' as geomicons %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block meta %}
            <title>{{ title }}</title>
            <meta name="description" content="{{ summary }}">
        {% endblock %}
        <link href="/index.css" type="text/css" rel="stylesheet">
        <link href="/favicon.png" rel="shortcut icon" type="image/png">
        <!--[if lt IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script><![endif]-->
    </head>
    <body>
        <nav class="bg-dark-gray h3 p2 center" role="navigation">
            <a class="button-nav-dark button button-narrow" href="/">{{ banner }}</a>
            <div class="inline-block">
                {% for link in menu %}
                    <a class="button-nav-dark button button-narrow"{% if link.target %} target="{{ link.target }}"{% endif %} href="{{ link.url }}">{% if link.icon %}{{ geomicons.icon(link.icon) }} {% endif %}<span class="sm-show-inline">{{ link.text }}</span></a>
                {% endfor %}
            </div>
        </nav>
        <main class="container px2" role="main">
            {% block main %}
            {% endblock %}
        </main>
        <footer class="h5 mt3 p1 mid-gray center" role="contentinfo">
            <small>Copyright &copy; {{ year }} by {{ author }} &bull; {{ footer|safe }}</small>
        </footer>
    </body>
</html>
