<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="The personal site of Erick Merchant.">
    <link href="/static/favicon.svg" rel="icon" type="image/svg+xml">
    <link href="/styles/index.css" rel="stylesheet">
    <title>ErickMerchant.com{% if "title" in data %} | {{data.title}}{% endif %}</title>
  </head>
  <body>
    <header class="banner root">
      <div class="banner inner">
        <span class="h1">ErickMerchant.com</span>
      </div>
    </header>
    <article class="content root">
      {% if "title" in data %}<h1>{{data.title}}</h1>{% endif %}
      {% block content %}
        {{content|safe}}
      {% endblock %}
    </article>
  </body>
</html>
