<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{site.description}}">
    <link href="/site.css" rel="stylesheet">
    <link href="/favicon.svg" rel="icon" type="image/svg+xml">
    <title>{{title}} | {{site.title}}</title>
    <script type="module" src="/site.jsx"></script>
  </head>
  <body>
    <page-app>
      <header class="banner" slot="panel">
        <div>
          {% block heading %}
          {% endblock %}
        </div>
      </header>

      <main class="content" slot="panel">
        {% block main %}
        {% endblock %}
      </main>

      <footer class="footer" slot="panel">
        <p class="copyright">{{site.copyright}}</p>
      </footer>

      <ul class="links" slot="links">
        {% for link in site.links %}
          <li><a href="{{link.href}}">{{link.title}}</a></li>
        {% endfor %}
      </ul>
    </page-app>
  </body>
</html>

