{% extends "base.jinja" %}

{% block title %}
	{{site.title}}
{% endblock %}

{% block main_header %}
	<h1>Posts</h1>
{% endblock %}

{% block main %}
	<ol class="index">
		{% for entry in entry_list %}
			<li>
				<a href="/posts/{{entry.slug}}/">{{entry.title}}</a> <span><time class="date">{{entry.date | format_date("%B %e, %Y")}}</time></span>
			</li>
		{% endfor %}
	</ol>
{% endblock %}
