{% extends "base.jinja" %}

{% block title %}
	{{site.title}}
{% endblock %}

{% block main_header %}
	{% if tag_filter %}
		<h1>Tag: {{tag_filter}}</h1>
	{% else %}
		<h1>Posts</h1>
	{% endif %}
{% endblock %}

{% block main %}
	<ol class="index">
		{% for tagged_entry in tagged_entry_list %}
			<li>
				<header class="heading">
					<h2><a href="/posts/{{tagged_entry.slug}}/">{{tagged_entry.title}}</a></h2>
					{{sub_heading(tagged_entry)}}
				</header>
			</li>
		{% endfor %}
	</ol>
{% endblock %}
