{% extends "base.jinja" %}

{% block title %}{{super()}} - Page Not Found{% endblock %}

{% block main_header %}
	<h1>Page Not Found</h1>
{% endblock %}

{% block main %}
	<p>That page was moved, removed, or never existed.</p>
{% endblock %}
