<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="The personal site of Erick Merchant." />
    <link href="/favicon.svg" rel="icon" type="image/svg+xml" />
    <link href="/main.css" rel="stylesheet" />
    <script type="module" src="/main.js"></script>
    <title>{{#> title}}ErickMerchant.com{{/title}}{{#if data.title}} | {{data.title}}{{/if}}</title>
  </head>
  <body>
    {{#> page-layout}}
      <ol class="Links self" slot="links">
        <li><a class="Links link" href="/">Home</a></li>
      </ol>

      <header class="Banner self" slot="panel">
        {{#> heading}}<div class="Banner heading">ErickMerchant.com</div>{{/heading}}
      </header>

      <article class="Content self" slot="panel">
        {{#> content}}
          {{{content}}}
        {{/content}}
      </article>
    {{/page-layout}}
    <script src="/polyfill.js"></script>
  </body>
</html>
