@extends index

@section main
  <h1>${ content.title }</h1>
  @each content.posts post index
    @if post.date.format('MMMM YYYY') !== year_month
      @set year_month post.date.format('MMMM YYYY')
      @if index !== 0
          </dl>
        </section>
      @
      <section>
        <h2>${ icon('calendar') } ${ year_month }</h2>
        <dl>
    @
    <dt><a href="/posts/${ post.slug }/">${ post.title }</a></dt>
    <dd>${ post.summary }</dd>
    @if index === content.posts.length
        </dl>
      </section>
    @
  @
@
