{% extends "_layout.jinja" %}

{%- macro pagination_link(page, icon) -%}
    <li>
      {% if page%}
        <a class="paginationLink" href="/{{page.category}}/{{page.slug}}.html">
          <span class="paginationPageTitle">{{page.title}}</span> <page-icon class="paginationIcon" name="{{icon}}"></page-icon>
        </a>
      {% else %}
        <span class="paginationPlaceholder"></span>
      {% endif %}
    </li>
{%- endmacro -%}

{% block main %}
  <header>
    <h1>{{page.title}}</h1>
    <p class="published">
      <time>{{page.date | date("%B %e, %Y")}}</time>
    </p>
  </header>

  {{page.content | safe}}

  <ul class="pagination">
    {{pagination_link(pagination.previous, "arrowLeft")}}

    {{pagination_link(pagination.next, "arrowRight")}}
  </ul>

{% endblock %}
