{% extends "_layout.jinja" %}

{%- macro pagination_link(page, kind) -%}
    <li>
      <a class="pagination{{kind}}" href="/{{page.category}}/{{page.slug}}.html">
        {{page.title}} <page-icon class="paginationIcon" name="arrow{{kind}}"></page-icon>
      </a>
    </li>
{%- endmacro -%}

{% block main %}
  <header>
    <h1>{{page.title}}</h1>
    <p class="published">
      <time>{{page.date | date("%B %e, %Y")}}</time>
    </p>
  </header>

  {{page.content | safe}}

  <ul class="pagination">
    {% if pagination.previous %}
      {{pagination_link(pagination.previous, "Left")}}
    {% endif %}

    {% if pagination.next %}
      {{pagination_link(pagination.next, "Right")}}
    {% endif %}
  </ul>

{% endblock %}
