{% extends "base.html" %}

{% block title%}
	{% call super() %} — {{post.title}}
{% endblock %}

{% block head %}
	<link rel="stylesheet" href="/post.css" />
	<link rel="stylesheet" href="/vendor/prism.css" />
	<script src="/vendor/prism.js"></script>
{% endblock %}

{% block main %}
	<article class="article">
		<header>
			<h1>{{post.title}}</h1>
			{% if let Some(date) = post.date_published %}
				<time class="status">{{date.format("%Y-%m-%d")}}</time>
			{% else %}
				<span class="status">Draft</span>
			{% endif %}
		</header>

		{% if let Some(content) = post.content %} {{content|md_to_html|safe}} {% endif %}
	</article>
{% endblock %}
