{% extends "_layout.html.jinja" %}

{% block title %}{{post.title}}{% endblock %}

{% block main %}
  <header>
    <h1>{{post.title}}</h1>
    <p class="published">
      <time>{{post.date | date("%B %e, %Y")}}</time>
    </p>
  </header>

  {{post.content|safe}}
{% endblock %}
