{% extends "_layout.jinja" %}

{%- macro pagination_link(page, kind, icon) -%}
    <li>
      <a class="pagination-{{kind}}" href="/{{page.category}}/{{page.slug}}.html">
        {{page.title}} <page-icon class="pagination-icon" name="{{icon}}"></page-icon>
      </a>
    </li>
{%- endmacro -%}

{% block main %}
  <header>
    <h1>{{page.title}}</h1>
    <p class="published">
      <time>{{page.date | date("%B %e, %Y")}}</time>
    </p>
  </header>

  {{page.content | safe}}

  <ul class="pagination">
    {% if pagination.previous %}
      {{pagination_link(pagination.previous, "previous", "arrowLeft")}}
    {% endif %}

    {% if pagination.next %}
      {{pagination_link(pagination.next, "next", "arrowRight")}}
    {% endif %}
  </ul>

{% endblock %}
