{%- macro timeline(title, items, note = "") %}
<section class="timeline">
	<header class="timeline-header"><h2>{{title}}</h2> <span class="note">{{note}}</span></header>
	<ol class="timeline-items">
		{% for item in items %}
		<li>
			<div class="details">
				<h3 class="title">{% if item.latest_full_time %}<span class="note">★</span> {% endif %}{{item.title}}</h3>
				{% if let Some(organization) = item.organization %}
				<p class="organization">{{organization}}</p>
				{% endif %}
				<p class="dates">{{item.dates.0}} - {{item.dates.1}}</p>
				{% if let Some(location) = item.location %}
				<p class="location">{{location}}</p>
				{% endif %}
			</div>
			{% if let Some(tags) = item.tags %}
			<ul class="tags">{% for tag in tags %}<li>{{tag}}</li>{% endfor %}</ul>
			{% endif %}
			<div class="summary">{{item.summary|md_to_html|safe}}</div>
		</li>
		{% endfor %}
	</ol>
</section>
{% endmacro -%}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Résumé</title>
		<link rel="preconnect" href="https://fonts.bunny.net">
		<link href="https://fonts.bunny.net/css?family=bitter:700|work-sans:400,400i,700" rel="stylesheet" />
		<link href="/resume.css" rel="stylesheet" />
		<meta name="description" content="My résumé" />
	</head>
	<body class="page">
		<div class="layout">
			<header class="header">
				<h1>{{resume.name}}</h1>
				{% if let Some(contacts) = resume.contacts %}
				<ul class="contacts">
					{% for contact in contacts %}
					<li><a href="{{contact.href}}">{{contact.text}}</a></li>
					{% endfor %}
				</ul>
				{% endif %}
			</header>
			<section class="objective">
				{{resume.objective|md_to_html|safe}}
			</section>
			{% call timeline("Employment History", resume.history, "★ = Latest full-time role") %}
			{% call timeline("Education", resume.education) %}
			<section class="references">
				<p>References available upon request</p>
			</section>
		</div>
	</body>
</html>
