{%- macro icon(post) %}
	{% if let Some(_) = post.date_published %}
		<svg viewBox="0 0 28 28">
			<title>File</title>
			<path d="M0 2 Q0 0 2 0 H19 Q20 0 21 1 L27 7 Q28 8 28 9 V26 Q28 28 26 28 H2 Q0 28 0 26  V14 H5 V23 H23 V12 H17 Q16 12 16 11 V5 H5 V24 H0 Z"></path>
		</svg>
	{% else %}
		<svg viewBox="0 0 28 28">
			<title>Edit</title>
			<path d="M9 1 Q10 0 11 1 L15 5 L5 15 L1 11 Q0 10 1 9 Z M17 7 L28 18 V28 H18 L7 17 Z"></path>
		</svg>
	{% endif %}
{% endmacro -%}

{%- macro text(post) %}
	{% if let Some(date) = post.date_published %}
		<time class="status">{{date.format("%Y-%m-%d")}}</time>
	{% else %}
		<span class="status">Draft</span>
	{% endif %}
{% endmacro -%}
