@extends index.html

@section main
<h1>Heading Level One</h1>
<h2>Heading Level One</h2>
<h3>Heading Level One</h3>
<h4>Heading Level One</h4>
<h5>Heading Level One</h5>
<h6>Heading Level One</h6>
<p>some text <b>bold text</b> <i>italic text</i> <a href="#">a link</a> <code>inline code</code></p>
<ul>
  <li>item one</li>
  <li>item two</li>
</ul>
<ol>
  <li>item one</li>
  <li>item two</li>
</ol>
<dl>
  <dt>term one</dt>
  <dd>definition one</dd>
  <dt>term two</dt>
  <dd>definition two</dd>
</dl>
<blockquote>
  <p>A quote.....<p>
  <cite>someone who said it</cite>
</blockquote>
<pre><code>{
  "key": "value"
}
</code></pre>
<img src="/uploads/thumbnails/whatsmydns.jpg">
<div class="p4 m1 background-black white">black</div>
<div class="p4 m1 background-dark-gray white">dark gray</div>
<div class="p4 m1 background-gray white">gray</div>
<div class="p4 m1 background-light-gray">light gray</div>
<div class="p4 m1 background-white">white</div>
<div class="p4 m1 background-red white">red</div>
<div class="p4 m1 background-orange white">orange</div>
<div class="p4 m1 background-green white">green</div>
<div class="p4 m1 background-blue white">blue</div>
<div class="p4 m1 background-purple white">purple</div>
@
