<template shadowroot="open">
  <link rel="stylesheet" href="../common.css">
  <link rel="stylesheet" href="/components/page-nav.css">
  <nav class="nav" id="nav">
    <button class="toggle" id="toggle" aria-label="Toggle Nav List" aria-pressed="false">
      <svg class="toggleIcon" aria-hidden="true" viewBox="0 0 16 16">
        <path id="icon"></path>
      </svg>
    </button>
    <div class="list">
      <slot></slot>
    </div>
  </nav>
</template>
