<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="The personal site of Erick Merchant." />
    <script type="module" src="/minefield/game.js"></script>
    <link href="/minefield/styles.css" rel="stylesheet" />
    <link href="/favicon.svg" rel="icon" type="image/svg+xml" />
    <title>{{title}} | ErickMerchant.com</title>
  </head>
  <body>
    {{> @partial-block}}
    <script src="/polyfill.js"></script>
  </body>
</html>
