<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{site.description}}" />
    <script type="module" src="/main.js"></script>
    <link href="/main.css" rel="stylesheet" />
    <link href="/favicon.svg" rel="icon" type="image/svg+xml" />
    <title>{{title}} | {{site.title}}</title>
  </head>
  <body>
    {{#> custom-element/side-nav}}
      <ol class="Links self" slot="links">
        <li><a class="Links link" href="/">Home</a></li>
        <li><a class="Links link" href="https://github.com/erickmerchant/my-blog">View Source</a></li>
      </ol>

      <header class="Banner self" slot="panel">
        {{#> heading}}
          <div class="Banner heading">{{site.title}}</div>
        {{/heading}}
      </header>

      <main class="Content self" slot="panel">
        {{> @partial-block}}
      </main>

      <footer class="Footer self" slot="panel"><p class="Footer copyright">© 2022 Erick Merchant</p></footer>
    {{/custom-element/side-nav}}
    <script src="/polyfill.js"></script>
  </body>
</html>
