* {
  box-sizing: border-box;
  max-width: 100%;
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  font-family: Courier, monospace;
  font-size: 20px;
  -webkit-text-size-adjust: none;
  line-height: 1.5;
  height: 100%;
  background-color: var(--white);

  --black: hsl(30 2% 30%);
  --gray: hsl(30 2% 70%);
  --silver: hsl(30 2% 80%);
  --white: hsl(30 2% 90%);
  --color-1: hsl(120 90% 40%);
  --color-2: hsl(180 90% 40%);
  --color-3: hsl(210 90% 40%);
  --color-4: hsl(60 90% 40%);
  --color-5: hsl(30 90% 40%);
  --color-6: hsl(0 90% 40%);
  --color-7: hsl(300 90% 40%);
  --color-8: var(--black);
}

body {
  height: 100%;
}

.App {
  &.self {
    display: grid;
    min-height: 100%;
    margin-inline: auto;
  }

  &.display {
    display: grid;
    min-height: 100%;
    align-content: center;
    margin-inline: auto;
    max-width: max-content;
    grid-template-columns: max-content;
    margin: 0 auto;
    gap: 1em;
    padding-block: 1em;
  }

  &.heading {
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 0.5em;
  }
}

.Nav {
  &.self {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &.item {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 0.5em;
  }

  &.link {
    color: var(--color-3);
  }
}

.Message {
  &.self {
    display: block;
    position: fixed;
    inset: 0;
    pointer-events: none;
  }
}

.Stats {
  &.self {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &.stat {
    color: var(--black);
    background-color: var(--white);
    display: flex;
    align-items: center;
    padding-inline: 1em;
    gap: 0.5em;
  }
}

.Tiles {
  &.self {
    display: grid;
    grid-template-columns: repeat(var(--width), 1fr);
    grid-template-rows: repeat(var(--height), 1fr);
    gap: 1px;
    border: 5px solid var(--gray);
    background-color: var(--gray);
    border-radius: 4px;
    min-width: calc(var(--width) * 2em);
    min-height: calc(var(--height) * 2em);
  }
}

.MinefieldTile {
  &.self,
  &.content {
    display: flex;
    width: 100%;
    height: 100%;
  }

  &.hidden,
  &.shown {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  &.shown {
    background-color: var(--white);
    border: none;
  }

  &.hidden {
    cursor: pointer;
    background-color: var(--gray);
    border: 4px outset var(--silver);
    border-radius: 4px;
    appearance: none;
  }
}

.MinefieldDialog {
  &.self {
    &:where([open]) {
      position: fixed;
      width: 100%;
      height: 100%;
      display: grid;
      align-items: center;
      background-color: hsl(0 0% 0% / 0.25);
    }
  }

  &.dialog {
    &:where([open]) {
      pointer-events: auto;
      padding: 1em;
      border: 0 solid transparent;
      border-radius: 0.125em;
      gap: 1em;
      display: flex;
      margin-inline: auto;
    }
  }

  &.button {
    appearance: none;
    cursor: pointer;
    border: 1px solid currentColor;
    border-radius: 0.125em;
    padding: 0.125em 0.5em;
    display: inline-flex;
    align-items: center;
  }
}
