* {
  font: inherit;
  color: inherit;
  max-width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
}

pre {
  white-space: pre-wrap;
}

code {
  color: var(--code-4);
}

.function {
  color: var(--code-1);
}

.keyword,
.storage {
  color: var(--code-0);
}

.path {
  color: var(--code-3);
}

.string,
.numeric,
.boolean,
.null,
.undefined {
  color: var(--code-2);
}

.punctuation,
.parameter {
  color: var(--code-4);
}
