* {
  font: inherit;
  color: inherit;
  gap: inherit;
  max-width: 100%;
  padding: 0;
  margin: 0;
}

svg {
  aspect-ratio: 1 / 1;
  width: 100%;
  fill: currentColor;
  display: grid;
}

:host {
  position: sticky;
  top: calc(var(--scrolling-down-override, var(--scrolling-down, 0)) * -2.5em);
  transition: top 0.25s var(--easing);
  overflow-x: hidden;
}

@media (min-width: 401px) {
  :host {
    --scrolling-down-override: unset !important;
  }
}

.toggle {
  appearance: none;
  display: none;
  aspect-ratio: 1 / 1;
  height: 1.5em;
  border: 0;
  background-color: hsl(0 0% 0% / 0);
  color: var(--anchor-color);
}

@media (max-width: 400px) {
  .toggle {
    display: grid;
  }
}

.toggle-icon {
  height: 1.5em;
}

.list {
  display: grid;
  transition: none;
  overflow: hidden;
  grid-template-rows: auto 0fr;
  padding-block-start: 0em;
  align-content: start;
}

:host([open]) .list {
  grid-template-rows: auto 1fr;
}

@media (max-width: 400px) {
  :host([open]) .list {
    padding-block-start: 1em;
  }
}

.list-content {
  min-height: 0;
  grid-row: 1;
}

@media (max-width: 400px) {
  .list {
    transition: 0.25s;
  }

  .list-content {
    grid-row: 2;
  }
}
