* {
  font: inherit;
  color: inherit;
  max-width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-size-adjust: none;
}

svg {
  aspect-ratio: 1 / 1;
  fill: currentColor;
  display: grid;
}

:host {
  position: sticky;
  top: calc(var(--scrolling-down, 0) * -3.125em);
  transition: top 0.25s cubic-bezier(0.3, 0, 0.3, 0.7);
}

@media (max-width: 400px) {
  :host([open]) {
    --scrolling-down: 0 !important;
  }
}

@supports selector(:focus-visible) {
  :focus {
    outline: none;
    background: hsl(0 0% 0% / 0);
  }
}

.nav {
  display: grid;
  transition: none;
  overflow: visible;
  grid-template-rows: auto 0fr;
  align-content: start;
}

@media (max-width: 600px) {
  .nav {
    font-size: 1.25em;
  }
}

.nav:where(.open) {
  grid-template-rows: auto 1fr;
}

@media (max-width: 400px) {
  .nav {
    transition: 0.25s;

    --list-display: none;
  }

  .nav:where(.open) {
    gap: 1em;
    margin-bottom: 0.5em;
  }

  .nav:where(.open, .closing) {
    --list-display: block;
  }
}

.toggle {
  position: relative;
  appearance: none;
  display: none;
  aspect-ratio: 1 / 1;
  height: 2em;
  border: 0;
  background-color: hsl(0 0% 0% / 0);
  place-content: center;
  border-radius: 0.25em;
  cursor: pointer;
  transition: transform 0.25s;
  box-shadow: 0 0 0 0.25em hsl(0 0% 0% / 0);
  margin-left: -0.25em;
}

.toggle:focus-visible {
  box-shadow: 0 0 0 0.25em currentColor;
}

@media (max-width: 400px) {
  .toggle {
    display: grid;
  }
}

.toggleIcon {
  display: grid;
  aspect-ratio: 1 / 1;
  height: 1.5em;
}

.list {
  display: var(--list-display);
  min-height: 0;
  overflow-y: hidden;
}
