
@font-face {
  font-display: swap;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src:
    local('PT Sans'),
    local('PTSans-Regular'),
    url('/fonts/pt-sans-v11-latin-regular.woff2') format('woff2'),
    url('/fonts/pt-sans-v11-latin-regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src:
    local('PT Sans Bold'),
    local('PTSans-Bold'),
    url('/fonts/pt-sans-v11-latin-700.woff2') format('woff2'),
    url('/fonts/pt-sans-v11-latin-700.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  src:
    local('PT Mono'),
    local('PTMono-Regular'),
    url('/fonts/pt-mono-v7-latin-regular.woff2') format('woff2'),
    url('/fonts/pt-mono-v7-latin-regular.woff') format('woff');
}

* {
  box-sizing: border-box;
  font-family: inherit;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

h1,
h2 {
  line-height: 1.25;
  margin-bottom: calc(var(--spacing) / 2);
  margin-top: var(--spacing);
}

h1 {
  font-size: var(--font-size-1);
}

h2 {
  font-size: var(--font-size-2);
}

a {
  color: var(--primary-color);
  box-shadow: 0 0.1em 0 0 currentcolor;
}

a,
a:hover {
  text-decoration: none;
}

.document {
  --spacing: 1em;
  --font-size-1: 1.5em;
  --font-size-2: 1.25em;
  --font-size-3: 1.125em;
  --font-size-5: 0.875em;
  --border-radius: 0.25em;
  --primary-color: hsl(120, 50%, 40%);
  --neutral-color: hsl(120, 10%, 40%);
  --bright-color: hsl(120, 70%, 70%);
  --dark-color: hsl(120, 50%, 10%);

  height: 100%;
}

.body {
  font-family: 'PT Sans', sans-serif;
  color: var(--dark-color);
  flex-direction: column;
  height: 100%;
}

.white {
  color: white;
}

.nav {
  font-size: var(--font-size-3);
  background-color: var(--primary-color);
  font-weight: 700;
}

.nav-list {
  justify-content: center;
}

.date {
  font-weight: 700;
}

.main {
  flex: auto;
  max-width: 40em;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--spacing);
  padding-left: var(--spacing);
}

.content > * {
  margin-top: var(--spacing);
  margin-bottom: var(--spacing);
}

.content ul {
  padding-left: calc(var(--spacing) * 2);
}

.pre {
  font-family: 'PT Mono', monospace;
  background-color: var(--dark-color);
  color: var(--bright-color);
  padding: var(--spacing);
  overflow: auto;
  white-space: pre-wrap;
  border-radius: var(--border-radius);
}

.list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
  padding-top: var(--spacing);
  padding-bottom: var(--spacing);
}

.list-item {
  margin: var(--spacing);
}

.button-list {
  font-weight: 700;
}

.button {
  font-size: var(--font-size-3);
  flex: 1 1 calc(50% - (var(--spacing) * 2));
  padding: var(--spacing) calc(var(--spacing) * 3);
  border-radius: var(--border-radius);
  background-color: var(--primary-color);
}

.button--disabled {
  background-color: var(--neutral-color);
}

.footer {
  margin-top: calc(var(--spacing) * 4);
  background-color: var(--primary-color);
}

.footer-list {
  justify-content: center;
  font-weight: 700;
  font-size: var(--font-size-5);
}
