
@font-face {
  font-display: swap;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src:
    local('PT Sans'),
    local('PTSans-Regular'),
    url('/fonts/pt-sans-v11-latin-regular.woff2') format('woff2'),
    url('/fonts/pt-sans-v11-latin-regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src:
    local('PT Sans Bold'),
    local('PTSans-Bold'),
    url('/fonts/pt-sans-v11-latin-700.woff2') format('woff2'),
    url('/fonts/pt-sans-v11-latin-700.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  src:
    local('PT Mono'),
    local('PTMono-Regular'),
    url('/fonts/pt-mono-v7-latin-regular.woff2') format('woff2'),
    url('/fonts/pt-mono-v7-latin-regular.woff') format('woff');
}

* {
  box-sizing: border-box;
  font-family: inherit;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

html {
  --spacing: 1em;
  --font-size-1: 1.5em;
  --font-size-2: 1.125em;
  --font-size-3: 1em;
  --font-size-4: 0.875em;
  --border-radius: 0.2em;
  --border-width: 0.2em;
  --primary-color: hsl(200, 50%, 40%);
  --neutral-color: hsl(200, 10%, 40%);
  --light-color: hsl(200, 70%, 70%);
  --dark-color: hsl(200, 50%, 10%);
}

body {
  height: 100vh;
  font-family: 'PT Sans', sans-serif;
  color: var(--dark-color);
  display: flex;
  flex-direction: column;
}

h1,
h2 {
  font-size: var(--font-size-1);
  line-height: 1.25;
  margin-top: var(--spacing);
  margin-bottom: calc(var(--spacing) / 2);
}

a {
  color: var(--primary-color);
  box-shadow: 0 0.1em 0 0 currentcolor;
}

a,
a:hover {
  text-decoration: none;
}

.main {
  flex: auto;
  max-width: 40em;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--spacing);
  padding-left: var(--spacing);
}

.content ul,
.content p {
  margin-top: var(--spacing);
  margin-bottom: var(--spacing);
}

.content ul {
  padding-left: calc(var(--spacing) * 2);
}

.content code,
.content pre {
  font-family: 'PT Mono', monospace;
}

.content pre {
  background-color: var(--dark-color);
  color: var(--light-color);
  border-radius: var(--border-radius);
  padding: var(--spacing);
  overflow: auto;
  white-space: pre-wrap;
}

.bold {
  font-weight: 700;
}

.font-size-2 {
  font-size: var(--font-size-2);
}

.font-size-4 {
  font-size: var(--font-size-4);
}

.primary,
.neutral {
  color: white;
}

.primary a,
.neutral a {
  color: inherit;
}

.primary {
  background-color: var(--primary-color);
}

.neutral {
  background-color: var(--neutral-color);
}

.center {
  justify-content: center;
}

.space-around {
  justify-content: space-around;
}

.box-shadow-inset {
  box-shadow: inset 0 -1em 1em -1em var(--dark-color);
}

.links {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
  padding-top: var(--spacing);
  padding-bottom: var(--spacing);
}

.links li {
  margin: var(--spacing);
}

.buttons li {
  flex: 1 1 calc(50% - (var(--spacing) * 2));
  border-radius: var(--border-radius);
}

.buttons li > * {
  display: block;
  box-shadow: none;
  padding: var(--spacing) calc(var(--spacing) * 3);
}

.buttons li > * span {
  box-shadow: 0 0.1em 0 0 currentcolor;
}
