{{#> layout/page title="Home"}}
  {{#*inline "heading"}}
    <h1 class="Banner heading">ErickMerchant.com</h1>
  {{/inline}}

  <ol class="Home post-list">
    {{#each posts as |post|}}
    <li class="Home post">
      <h2 class="Home post-title"><a href="/post/{{@key}}.html">{{post.title}}</a></h2>
      <p class="Home post-description">{{post.description}}</p>
    </li>
    {{/each}}
  </ol>
{{/layout/page}}
