<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0">
  <channel>
    <link>https://erickmerchant.com/</link>
    <title>ErickMerchant.com</title>
    <description>The personal site of Erick Merchant.</description>
    <item>
      <link>https://erickmerchant.com/post/new-design.html</link>
      <title>New design</title>
      <description><![CDATA[All about the latest design, and rewrite to Rust.]]></description>
    </item>
  </channel>
</rss>
