:not(svg) {
  font: inherit;
}

*,
::before,
::after {
  box-sizing: border-box;
  color: inherit;
  margin: 0;
  padding: 0;
  border: none;
  -webkit-text-size-adjust: none;
}

html {
  block-size: 100%;
  color-scheme: light dark;
  font-family: "Bitter", "Bitter Fallback", system-ui, sans-serif;
  font-weight: 400;
  font-size: clamp(75%, 3.5vi, 112.5%);
  line-height: 1.75;
  overflow-y: scroll;
  overflow-x: auto;
  scrollbar-gutter: stable;
  overscroll-behavior: none;
  scrollbar-color: currentColor var(--background);
  color: var(--text);
}

body {
  block-size: 100%;
}

a {
  color: currentColor;
  text-decoration-thickness: 0.15em;
  text-underline-offset: 0.15em;
  text-decoration-color: var(--accent);
}

p {
  text-wrap: pretty;

  @container (inline-size <= 41rem) {
    hyphens: auto;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  font-weight: 600;
  line-height: 1.5;

  a {
    text-decoration-thickness: 0.15em;
  }
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;

  :has(header h1) & {
    font-size: 1.5rem;
  }
}

code {
  font-family: "Overpass Mono", ui-monospace, monospace;
  font-weight: 400;
  font-size: 0.875rem;
}

em {
  font-style: italic;
  font-weight: 400;
}

strong {
  font-weight: 600;
}

del {
  text-decoration: line-through;
  text-decoration-thickness: 0.25em;
  text-decoration-color: oklch(from currentColor l c h / 0.5);
}

ul,
ol {
  list-style-type: "▪︎ ";
  list-style-position: outside;
  padding-inline-start: 0.25rem;
  margin-inline-start: 0.5rem;

  ::marker {
    font-weight: 500;
  }
}
