$hue: 150;
$primary-color: hsl($hue 50% 50%);
$text-color: hsl($hue 10% 90%);
$bg-color: hsl($hue 10% 10%);
$mobile-breakpoint: "(max-width: 768px)";

@font-face {
  font-display: swap;
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 100 800;
  src: url("/static/fonts/JetBrains_Mono/JetBrainsMono-VariableFont_wght-subset.woff2")
    format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "JetBrains Mono";
  font-style: italic;
  font-weight: 100 800;
  src: url("/static/fonts/JetBrains_Mono/JetBrainsMono-Italic-VariableFont_wght-subset.woff2")
    format("woff2");
}

* {
  box-sizing: border-box;
  max-width: 100%;
  font: inherit;
  padding: 0;
  margin: 0;
}

html {
  color: $text-color;
  background-color: $bg-color;
  font: 100 max(20px, 1.5vw) / 1.5 "JetBrains Mono", monospace;
}

body {
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
  min-height: 100%;

  --space: 2em;
  --space-half: 1em;

  @media #{$mobile-breakpoint} {
    --space: 1em;
    --space-half: 0.5em;
  }
}

h1,
.h1 {
  font-size: 3em;
  font-weight: 800;
  text-shadow: -1px -1px 0 var(--outline-color), 1px -1px 0 var(--outline-color),
    -1px 1px 0 var(--outline-color), 1px 1px 0 var(--outline-color);
  color: var(--color);

  @media #{$mobile-breakpoint} {
    font-size: 1.5em;
  }
}

.banner {
  &--root {
    display: grid;
    align-content: end;
    background-color: $primary-color;
    background-image: linear-gradient(0deg, $bg-color 0, transparent 1px),
      linear-gradient(90deg, $bg-color 0, transparent 1px);
    background-size: var(--space-half) var(--space-half);
    background-position: 50% 0;
    height: 50vh;
    padding-bottom: var(--space-half);
    border-bottom: 1px solid $primary-color;

    --color: $text-color;
    --outline-color: $bg-color;

    @media #{$mobile-breakpoint} {
      height: 25vh;
    }
  }

  &--inner {
    width: 100%;
    max-width: 40em;
    margin: 0 auto;
    padding: 0 var(--space-half);
  }
}

.content {
  &--root {
    max-width: 40em;
    padding: 0 var(--space-half);
    margin: var(--space) auto 0;
    padding-bottom: var(--space);

    --color: $primary-color;
    --outline-color: $text-color;

    > * + * {
      margin-top: var(--space);
    }
  }
}
