$hue: 105;
$transparent: hsla(0, 0%, 0%, 0);
$anchor-color: hsl($hue, 25%, 50%);
$text-color: hsl($hue, 10%, 90%);
$background-color: hsl($hue, 10%, 15%);
$mobile-breakpoint: "(max-width: 768px)";

@font-face {
  font-display: swap;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 100 900;
  src: url("/static/fonts/Public_Sans/PublicSans-VariableFont_wght-subset.woff2")
    format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Public Sans";
  font-style: italic;
  font-weight: 100 900;
  src: url("/static/fonts/Public_Sans/PublicSans-Italic-VariableFont_wght-subset.woff2")
    format("woff2");
}

* {
  font: inherit;
  box-sizing: border-box;
  max-width: 100%;
  padding: 0;
  margin: 0;
}

html {
  color: $text-color;
  background-color: $background-color;
  font: 100 max(20px, 1.5vw) / 1.5 "Public Sans", system-ui, sans-serif;
  height: 100%;
}

body {
  background-image: radial-gradient(
    adjust-color($background-color, $lightness: 2.5%) 12.5%,
    $transparent 12.5%
  );
  background-size: 1rem 1rem;
  display: grid;
  grid-template: max-content 1fr / 100%;
  justify-content: center;
  min-height: 100%;
  height: 100%;

  --space: 2rem;
  --space-half: 1rem;

  @media #{$mobile-breakpoint} {
    --space: 1rem;
    --space-half: 0.5rem;
  }
}

%h1 {
  font-size: 2.5em;
  font-weight: 900;

  @media #{$mobile-breakpoint} {
    font-size: 1.5em;
  }
}

h1 {
  @extend %h1;
}

.banner {
  &.root {
    background-color: adjust-color($anchor-color, $alpha: -0.125);
    background-image: radial-gradient($anchor-color 50%, $transparent 50%),
      linear-gradient(
        90deg,
        adjust-color($anchor-color, $hue: 60),
        adjust-color($anchor-color, $hue: -60)
      );
    background-size: 0.25rem 0.25rem, 100% 100%;
    background-position: 50% 0;
    display: grid;
    align-content: end;
    height: 50vh;
    padding-bottom: var(--space-half);

    @media #{$mobile-breakpoint} {
      height: 25vh;
    }
  }

  &.heading {
    @extend %h1;
  }

  &.sub-heading {
    font-weight: 500;
  }

  > * {
    width: 100%;
    max-width: 40rem;
    padding: 0 var(--space-half);
    margin: 0 auto;
  }
}

.content {
  &.root {
    width: 40rem;
    max-width: 100%;
    padding: 0 var(--space-half) var(--space);
    margin: var(--space-half) auto 0;

    > * + * {
      margin-top: var(--space-half);
    }
  }
}
