@layer base, page, feature;

@import "./base.css" layer(base);
@import "./fonts.css" layer(base);
@import "./features/banner.css" layer(feature);
@import "./features/footer.css" layer(feature);
@import "./features/highlight.css" layer(feature);
@import "./features/post.css" layer(feature);
@import "./features/section.css" layer(feature);

@layer page {
  .main {
    min-block-size: 100%;
    background-color: var(--background);
    color: var(--text);
    container-type: inline-size;
    display: grid;
    grid-template-columns: 1fr min(100% - 2rem, 40rem) 1fr;
    row-gap: 1rem;
    align-items: start;
    align-content: start;

    > * {
      grid-column: 2;
    }

    > :nth-child(n+2) {
      padding-block-start: 1rem;
      background-image: linear-gradient(
        90deg,
        transparent 0 0.5rem,
        color-mix(
          in oklch,
          var(--text) 30%,
          var(--background)
        ) 0.5rem calc(100% - 0.5rem),
        transparent calc(100% - 0.5rem)
      );
      background-size: 100% 0.05rem;
      background-repeat: no-repeat;
      background-position: top center;
    }
  }
}
