.main {
  min-block-size: 100%;
  margin-inline: auto;
  max-inline-size: 40rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-inline: 1rem;

  > :where(:nth-last-child(n+2)) {
    background-image: linear-gradient(
      90deg,
      transparent 0 0.5rem,
      var(--text) 0.5rem calc(100% - 0.5rem),
      transparent calc(100% - 0.5rem)
    );
    background-size: min(100% - 2rem, 40rem) 0.05rem;
    background-repeat: no-repeat;
    padding-block-end: 1rem;
    background-position: bottom center;
  }
}

.date {
  font-variant-numeric: tabular-nums;
  font-style: italic;
  font-weight: 400;
}
