.main {
  min-block-size: 100%;
  background-color: var(--background);
  color: var(--text);
  container-type: inline-size;
  display: grid;
  grid-template-columns: auto min-content auto;
  row-gap: 1rem;
  align-items: start;
  align-content: start;

  > * {
    grid-column: 2;
  }

  > :nth-last-child(n+3),
   > :last-child {
    background-image: linear-gradient(
      90deg,
      transparent 0 0.5rem,
      color-mix(
        in oklch,
        var(--text) 30%,
        var(--background)
      ) 0.5rem calc(100% - 0.5rem),
      transparent calc(100% - 0.5rem)
    );
    background-size: min(100% - 2rem, 40rem) 0.05rem;
    background-repeat: no-repeat;
  }

  > :nth-last-child(n+3) {
    padding-block-end: 1.5rem;
    background-position: bottom center;
  }

  > :last-child {
    padding-block-start: 1.5rem;
    background-position: top center;
  }
}
