@font-face {
  font-family: "Bitter";
  src: url(/fonts/Bitter-VariableFont_wght-subset.woff2) format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
    U+FFFD;
}

@font-face {
  font-family: "Bitter";
  font-style: italic;
  src: url(/fonts/Bitter-Italic-VariableFont_wght-subset.woff2) format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
    U+FFFD;
}

@font-face {
  font-family: "Overpass Mono";
  font-weight: 400;
  src: url(/fonts/OverpassMono-Regular-subset.woff2) format("woff2");
  unicode-range: U+20-7E;
}

@layer page {
  :not(svg) {
    font: inherit;
  }

  *,
  ::before,
  ::after {
    box-sizing: border-box;
    color: inherit;
    margin: 0;
    padding: 0;
    border: none;
    -webkit-text-size-adjust: none;
  }

  html {
    block-size: 100%;
    color-scheme: light dark;
    font-family: "Bitter", system-ui, sans-serif;
    font-weight: 400;
    font-size: clamp(75%, 3.5vi, 112.5%);
    line-height: 1.75;
    overflow-y: scroll;
    overflow-x: auto;
    scrollbar-gutter: stable;
    overscroll-behavior: none;
    scrollbar-color: currentColor var(--background);
    color: var(--text);

    --background: light-dark(
      oklch(from oldlace 95% c h),
      oklch(from darkslategray 30% c h)
    );
    --text: light-dark(oklch(30% 0 60), oklch(100% 0.075 60));
    --accent: light-dark(
      oklch(from deepskyblue 55% c h),
      oklch(from orange 90% c h)
    );
  }

  body {
    block-size: 100%;
  }

  a {
    color: currentColor;
    text-decoration-thickness: 0.15em;
    text-underline-offset: 0.15em;
    text-decoration-color: var(--accent);
  }

  p {
    text-wrap: pretty;

    @container (inline-size <= 41rem) {
      hyphens: auto;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
    font-weight: 600;
    line-height: 1.5;

    a {
      text-decoration-thickness: 0.15em;
    }
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.25rem;

    :has(header h1) & {
      font-size: 1.5rem;
    }
  }

  code {
    font-family: "Overpass Mono", ui-monospace, monospace;
    font-weight: 400;
    font-size: 0.88888888rem;
  }

  em {
    font-style: italic;
    font-weight: 400;
  }

  strong {
    font-weight: 600;
  }

  del {
    text-decoration: line-through;
    text-decoration-thickness: 0.25em;
    text-decoration-color: oklch(from currentColor l c h / 0.5);
  }

  ul,
  ol {
    list-style-type: "- ";
    list-style-position: outside;
    padding-inline-start: 0.25rem;
    margin-inline-start: 0.75rem;

    ::marker {
      font-size: 1.25em;
      font-weight: 500;
    }
  }

  .main {
    min-block-size: 100%;
    background-color: var(--background);
    color: var(--text);
    container-type: inline-size;
    display: grid;
    grid-template-columns: 1fr min(100% - 2rem, 40rem) 1fr;
    grid-template-rows: min-content 1fr min-content;
    row-gap: 1rem;
    align-items: start;
    align-content: start;

    > * {
      grid-column: 2;
    }

    > :nth-child(n + 2) {
      padding-block-start: 1rem;
      background-image: repeating-linear-gradient(
        90deg,
        transparent 0rem 0.25rem,
        currentColor 0.25rem 1.25rem,
        transparent 1.25rem 1.5rem
      );
      background-size: 1.25rem 0.1rem;
      background-repeat: space no-repeat;
      background-position: top center;
    }
  }

  .banner {
    display: grid;
    grid-template-columns: auto min-content;
    align-items: center;
    padding-block-start: 1rem;
    gap: 1rem;
  }

  .banner-title {
    font-family: "Bitter", system-ui, sans-serif;
    font-size: 2rem;
    line-height: 1;

    a {
      color: var(--text);
      text-decoration: none;
      font-weight: 800;
    }
  }

  .footer {
    display: grid;
    gap: 1.5rem 0;
    align-content: center;
    padding-block: 1rem;
  }

  .footer-list {
    display: grid;
    gap: 1rem 1rem;
    grid-template-columns: max-content max-content max-content;
    justify-content: space-between;
    list-style: none;
    margin-inline-start: 0;
    padding-inline-start: 0;

    @container (inline-size <= 30rem) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  .footer-item {
    display: grid;
    align-content: center;
    margin-inline-start: 0;
    padding-inline-start: 0;
    font-weight: 500;
  }

  .footer-link {
    text-decoration-thickness: 0.15em;
    white-space: nowrap;
  }

  .rss-link {
    display: grid;
    gap: 0.5em;
    aspect-ratio: 1;
    inline-size: auto;
    block-size: 1.25rem;
    padding: 0.225rem;
    border-radius: 0.25rem;
    background: var(--accent);
    --accent: light-dark(
      oklch(from lightskyblue 65% c h),
      oklch(from coral 90% c h)
    );

    svg {
      fill: var(--background);
    }
  }

  .section {
    display: grid;
  }

  .section-list {
    display: grid;
  }
}
