@font-face {
  font-family: "Bitter";
  src: url(/fonts/Bitter-VariableFont_wght-subset.woff2) format("woff2");
  unicode-range:
    U+0000-00FF,
    U+0131,
    U+0152-0153,
    U+02BB-02BC,
    U+02C6,
    U+02DA,
    U+02DC,
    U+2000-206F,
    U+2074,
    U+20AC,
    U+2122,
    U+2191,
    U+2193,
    U+2212,
    U+2215,
    U+FEFF,
    U+FFFD;
}

@font-face {
  font-family: "Bitter";
  font-style: italic;
  src: url(/fonts/Bitter-Italic-VariableFont_wght-subset.woff2) format("woff2");
  unicode-range:
    U+0000-00FF,
    U+0131,
    U+0152-0153,
    U+02BB-02BC,
    U+02C6,
    U+02DA,
    U+02DC,
    U+2000-206F,
    U+2074,
    U+20AC,
    U+2122,
    U+2191,
    U+2193,
    U+2212,
    U+2215,
    U+FEFF,
    U+FFFD;
}

@font-face {
  font-family: "Cascadia Code";
  font-weight: 300;
  src: url(/fonts/CascadiaCode-Light-subset.woff2) format("woff2");
  unicode-range: U+20-7E;
}

@layer page {
  :not(svg) {
    font: inherit;
  }

  *,
  ::before,
  ::after {
    box-sizing: border-box;
    color: inherit;
    margin: 0;
    padding: 0;
    border: none;
    -webkit-text-size-adjust: none;
  }

  html {
    block-size: 100%;
    color-scheme: light dark;
    font-family: "Bitter", system-ui, sans-serif;
    font-weight: 400;
    font-size: clamp(75%, 3.5vi, 112.5%);
    line-height: 1.75;
    overflow-y: scroll;
    overflow-x: auto;
    scrollbar-gutter: stable;
    overscroll-behavior: none;
    scrollbar-color: currentColor var(--background);
    color: var(--text-color);

    --background: light-dark(oklch(100% 0.04 60), oklch(30% 0 60));
    --text-color: light-dark(oklch(30% 0 60), oklch(100% 0.075 60));
    --link-color: light-dark(
      oklch(from forestgreen 50% c h),
      oklch(from forestgreen 90% c h)
    );
  }

  body {
    min-block-size: 100%;
  }

  a {
    color: var(--link-color);
    text-decoration-thickness: 0.1em;
    text-underline-offset: 0.15em;
    text-decoration-color: currentColor;
    font-weight: 500;
  }

  p {
    text-wrap: pretty;

    @container (inline-size <= 41rem) {
      hyphens: auto;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
    font-weight: 600;
    line-height: 1.5;

    a {
      text-decoration-thickness: 0.1em;
    }
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.25rem;

    :has(header h1) & {
      font-size: 1.5rem;
    }
  }

  code {
    font-family: "Cascadia Code", ui-monospace, monospace;
    font-weight: 300;
    font-size: 0.88888888rem;
  }

  em {
    font-style: italic;
    font-weight: 400;
  }

  strong {
    font-weight: 600;
  }

  del {
    text-decoration: line-through;
    text-decoration-thickness: 0.25em;
    text-decoration-color: oklch(from currentColor l c h / 0.5);
  }

  ul,
  ol {
    list-style-type: disc;
    list-style-position: outside;
    padding-inline-start: 0.25rem;
    margin-inline-start: 0.75rem;
  }

  .page {
    background-color: var(--background);
    color: var(--text-color);
    container-type: inline-size;
    display: grid;
    grid-template-columns: 1fr min(100% - 2rem, 40rem) 1fr;
    grid-template-rows: min-content auto min-content;
    row-gap: 1rem;
    align-items: start;
    align-content: start;

    > * {
      grid-column: 2;
    }

    > :nth-child(n+2) {
      padding-block-start: 1rem;
      background-image: repeating-linear-gradient(45deg, currentColor);
      background-size: 100% 0.125rem;
      background-repeat: no-repeat;
    }

    > :nth-child(n+2) {
      background-position: center top;
    }
  }

  .banner {
    display: grid;
    grid-template-columns: auto min-content;
    align-items: center;
    padding-block-start: 1rem;
    gap: 1rem;
  }

  .banner-title {
    font-family: "Bitter", system-ui, sans-serif;
    font-size: 2rem;
    line-height: 1;

    a {
      color: var(--text-color);
      text-decoration: none;
      font-weight: 800;
    }
  }

  .footer {
    display: grid;
    gap: 1.5rem 0;
    align-content: center;
    padding-block: 1rem;
  }

  .footer-list {
    display: grid;
    gap: 1rem 1rem;
    grid-template-columns: max-content max-content max-content;
    justify-content: space-between;
    list-style: none;
    margin-inline-start: 0;
    padding-inline-start: 0;

    @container (inline-size <= 30rem) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .footer-item {
    display: grid;
    align-content: center;
    margin-inline-start: 0;
    padding-inline-start: 0;
  }

  .footer-link {
    text-decoration-thickness: 0.1em;
    white-space: nowrap;
  }

  .rss-link {
    display: grid;
    grid-template-columns: 1.25rem min-content;
    gap: 0.5em;
    padding: 0;
    color: light-dark(
      oklch(from darkorange 60% c h),
      oklch(from darkorange 90% c h)
    );

    .icon {
      display: inline-grid;
      aspect-ratio: 1;
      inline-size: auto;
      block-size: 1.25rem;
      padding: 0.225rem;
      margin-block-start: 0.2rem;
      background: currentColor;
      background-image: linear-gradient(
        -30deg,
        oklch(from currentColor l c h / 0.95) 0 50%,
        currentColor 50%
      );
      border-radius: 0.25rem;
      corner-shape: squircle;

      svg {
        fill: var(--background);
      }
    }
  }

  .section {
    display: grid;
    row-gap: 0.5rem;
  }

  .section-list {
    display: grid;
    row-gap: 0.5rem;
  }
}
