.main {
  min-block-size: 100%;
  margin-inline: auto;
  max-inline-size: 40rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-inline: 1rem;
  container-type: inline-size;

  > * {
    font-size: clamp(100%, 3cqi, 112.5%);
  }

  > :where(:nth-child(n+1):not(:last-child))::after {
    display: block;
    content: '';
    block-size: 0.5rem;
    width: 100%;
    background-image: radial-gradient(
      circle at 50%,
      oklch(from var(--text) l c h / 0.35) 0 30%,
      var(--background) 30%
    );
    background-size: 0.5rem 0.5rem;
    background-repeat: round;
    margin-block-start: 1rem;
  }
}

.date {
  font-variant-numeric: tabular-nums;
  font-style: italic;
}
