@layer sub-page, component;

@import "./prism.css";

@layer sub-page {
  :not(pre) > code {
    background-color: oklch(from var(--background) l calc(c - 0.01) h);
    border: 0.0625rem solid oklch(from currentColor l c h / 0.2);
    padding: 0.05rem 0.25rem;
    border-radius: 0.5rem;
    corner-shape: squircle;
    color: light-dark(
      oklch(from aquamarine 45% c h),
      oklch(from sandybrown 90% c h)
    );

    /* Arc iOS bug fix */
    a {
      color: inherit;
      text-decoration: none;
      pointer-events: none;
      display: contents;
    }
  }

  pre {
    line-height: 1.5;
    border: 0.0625rem solid oklch(from currentColor l c h / 0.2);
    border-radius: 0.5rem;
    corner-shape: squircle;
    overflow-x: auto;
    overflow-y: hidden;
    overscroll-behavior-x: none;
    tab-size: 2;
    display: grid;
    grid-template-columns: auto;
    position: relative;
    white-space: pre;
    word-break: break-word;
    max-inline-size: 40rem;
    background-color: oklch(from var(--background) l calc(c - 0.01) h);
    justify-self: center;
    scrollbar-width: thin;
    scrollbar-color: currentColor
      oklch(from var(--background) l calc(c - 0.01) h);
    margin-inline: auto;

    code {
      padding: 1rem 1.5rem;

      @container (inline-size <= 41rem) {
        padding-inline: 1rem;
      }
    }

    @container (inline-size <= 41rem) {
      border-inline: none;
      border-radius: 0;
      padding-inline: 0;
      inset-inline-start: -1rem;
      inline-size: calc(100% + 2rem);
    }
  }

  blockquote {
    inline-size: 100%;
    padding: 0.25rem 2rem;
    overflow-wrap: anywhere;
    hyphens: auto;
    justify-self: start;
    position: relative;
    background-image: radial-gradient(
      currentColor 0rem 0.125rem,
      transparent 0.125rem 1rem
    );
    background-size: 1rem 1rem;
    background-repeat: no-repeat space;
    background-position: left center;

    > :not(:last-child) {
      margin-block-end: 1rem;
    }

    cite {
      display: inline grid;
      grid-template-columns: auto 1fr;
      gap: 0.5rem;

      &::before {
        content: "—";
      }
    }
  }

  .status {
    font-style: italic;
    font-weight: 400;
  }

  .article {
    display: grid;
    grid-template-columns: auto;
    row-gap: 1rem;
    overflow-wrap: break-word;
    align-items: center;
    z-index: 1;

    > * {
      min-inline-size: 100%;
    }
  }
}
