@font-face {
  font-family: "Bitter";
  src: url(/fonts/Bitter-VariableFont_wght-subset.woff2) format("woff2");
  unicode-range:
    U+0000-00FF,
    U+0131,
    U+0152-0153,
    U+02BB-02BC,
    U+02C6,
    U+02DA,
    U+02DC,
    U+2000-206F,
    U+2074,
    U+20AC,
    U+2122,
    U+2191,
    U+2193,
    U+2212,
    U+2215,
    U+FEFF,
    U+FFFD;
}

*,
::before,
::after {
  box-sizing: border-box;
  font: inherit;
  margin: 0;
  max-inline-size: 100%;
  padding: 0;
}

html {
  font-size: 112.5%;

  @media print {
    font-size: 12px;
  }
}

body {
  color: black;
  font-family: system-ui, sans-serif;
  font-weight: 400;
  line-height: 1.25;
}

h1,
h2,
h3 {
  font-family: "Bitter", system-ui, sans-serif;
}

h1 {
  font-size: 2rem;
  line-height: 1.125;
  font-weight: 800;
}

h2 {
  font-size: 1.25rem;
  line-height: 1;
  font-weight: 800;
}

h3 {
  font-size: 1.125rem;
  font-weight: 600;

  @container (inline-size <= 45rem) {
    font-size: 1rem;
  }
}

a {
  color: oklch(from deepskyblue 50% c h);
  text-underline-offset: 0.15rem;
}

ul,
li {
  list-style: none;
}

.page {
  display: grid;
  justify-items: safe center;
  max-inline-size: 100%;
  container-type: inline-size;
}

.layout {
  display: grid;
  gap: 1rem;
  inline-size: 100%;
  grid-template-columns: min-content auto;
  padding-block: 1rem;

  @media print {
    padding-block: 0;
  }

  @media screen {
    max-inline-size: 50rem;
  }

  > * {
    padding-inline: 1rem;
  }

  > :nth-child(even) {
    padding-block: 1rem;
    background-color: oklch(from slategray 70% c h / 0.1);
    border-radius: 0.25rem;
  }
}

.header {
  grid-column: 1 / -1;
  white-space: nowrap;
  display: grid;
  gap: 0.5rem;

  @container (inline-size > 45rem) {
    grid-template-columns: 1fr auto;
    align-items: baseline;
  }
}

.contacts {
  display: grid;
  grid-template-columns: max-content;
  column-gap: 2rem;
  row-gap: 0.5rem;

  @container (inline-size > 45rem) {
    grid-template-columns: max-content max-content;
  }
}

.objective {
  grid-column: 1 / -1;
}

@scope (.timeline) {
  :scope {
    display: grid;
    grid-row: auto;
    grid-column: 1 / -1;
    grid-template-columns: subgrid;
    gap: 1rem;
  }

  .header {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: min-content auto;
    gap: 0.25rem;

    &::before {
      content: "";
      display: block;
      block-size: 1.125rem;
      inline-size: 0.5rem;
      align-self: baseline;
      margin-inline-end: 0.125rem;
      background-color: oklch(from slategray 70% c h / 0.5);
    }
  }

  .items {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: subgrid;
    gap: 1rem;
  }

  .item {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
    gap: 0.5rem;
    align-items: start;
    align-content: start;
    grid-template-areas:
      "a ."
      "c c";

    @container (inline-size > 45rem) {
      gap: 1rem;
      grid-template-areas: "a c";
    }

    &:has(.tags) {
      grid-template-areas:
        "a b"
        "c c";

      @container (inline-size > 45rem) {
        grid-template-areas:
          "a c"
          "b c"
          ". c";
      }
    }

    &:where(:nth-child(n+2)) {
      padding-block-start: 1rem;
      background-image: linear-gradient(
        oklch(from slategray 70% c h / 0.5),
        oklch(from slategray 70% c h / 0.5)
      );
      background-position: top center;
      background-size: calc(100% - 2rem) 1px;
      background-repeat: no-repeat;
    }
  }

  @scope (.details) {
    :scope {
      grid-area: a;
      display: grid;
    }

    .title {
      font-style: normal;
      white-space: nowrap;
    }

    .organization {
      white-space: normal;
    }

    .dates {
      white-space: nowrap;
    }

    .location {
      white-space: normal;
      font-style: italic;
    }
  }

  .tags {
    white-space: normal;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    grid-area: b;

    @container (inline-size <= 45rem) {
      align-self: self-start;
      justify-self: center;
      justify-content: center;
    }

    > * {
      background-color: oklch(from slategray 70% c h / 0.2);
      padding: 0.125rem 0.5rem;
      border-radius: 0.25rem;
      font-size: 0.9rem;
      white-space: nowrap;

      @container (inline-size <= 45rem) {
        font-size: 0.75rem;
      }
    }
  }

  .summary {
    grid-area: c;

    li {
      list-style: disc;
      list-style-position: outside;
      margin-inline-start: 1rem;
    }
  }
}

.references {
  display: grid;
  grid-column: 1 / -1;

  p {
    font-style: italic;
    grid-column: 1 / -1;
  }
}
