:root {
  --background: light-dark(
    oklch(from oldlace 99% 0.005 h),
    oklch(from oldlace 30% 0.005 h)
  );
  --text: light-dark(oklch(30% 0 60), oklch(100% 0.075 60));
  --accent: light-dark(
    oklch(from deepskyblue 55% 0.125 h),
    oklch(from deepskyblue 100% 0.125 h)
  );
}
